<div class="row">
    <div class="col-md-4">
        <div class="form-group row">
            <div class="col-md-12">
                <label for="provinceDetailIdd" class="affinity-label">PROVINCE <span class="text-mapfre text-heavy">*</span></label>
                <select class="form-control" id="provinceDetailIdd" [(ngModel)]="this.address.provinceDetailId" (change)="chooseProvince()">
                    <option value="0" disabled="disabled">Please choose Province</option>
                    <option *ngFor="let province of this.affinity2.lov.provinceLOV" value="{{province.COD_PROV}}-{{province.NOM_PROV}}">{{province.NOM_PROV}}</option>
                </select>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group row">
            <div class="col-md-12">
                <label for="municipalityDetailIdd" class="affinity-label">CITY / MUNICIPALITY <span class="text-mapfre text-heavy">*</span></label>
                <select class="form-control" id="municipalityDetailIdd" [(ngModel)]="this.address.municipalityDetailId" (change)="chooseMunicipality()">
                    <option selected disabled hidden></option>
                    <option value="0" disabled="disabled">Please choose Municipality</option>
                    <option *ngFor="let city of this.affinity2.lov.municipalityLOV" value="{{city.COD_LOCALIDAD}}-{{city.NOM_LOCALIDAD}}">{{city.NOM_LOCALIDAD}}</option>
                </select>
            </div>
        </div>
    </div>
    <!-- <div class="col-md-4">
        <div class="form-group row">
            <div class="col-md-12">
                <label for="barangayDetailIdd" class="affinity-label">BARANGGAY <span class="text-mapfre text-heavy">*</span></label>
                <select class="form-control" id="barangayDetailIdd" [(ngModel)]="this.affinity.riskDetails.permanentAddress.barangayDetailId">
                    <option value="0" disabled="disabled">Please choose Barangay</option>
                    <option value="1">Loma</option>
                </select>
            </div>
        </div>
    </div> -->
    <div class="col-md-4">
        <div class="form-group row">
            <div class="col-md-12">
                <label for="zipCode" class="affinity-label">ZIP CODE <span class="text-mapfre text-heavy">*</span></label>
                <select class="form-control" id="zipCode" [(ngModel)]="this.address.zipCode">
                    <option selected disabled hidden></option>
                    <option value="0" disabled="disabled">Please choose ZIP</option>
                    <option *ngFor="let zip of this.affinity2.lov.zipLOV" value="{{zip.COD_POSTAL}}">{{zip.COD_POSTAL}}</option>
                </select>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group row">
            <div class="col-md-12">
                <label for="addressDetailss" class="affinity-label">UNIT NUMBER / BUILDING NAME / STREET <span class="text-mapfre text-heavy">*</span></label>
                <input type="text" id="addressDetailss" class="form-control" maxlength="118" placeholder="Unit Number / Building Name / Street" [(ngModel)]="this.address.addressDetails">
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group row">
            <div class="col-md-12">
                <label for="addressTypeId" class="affinity-label">ADDRESS TYPE <span class="text-mapfre text-heavy">*</span></label>
                <select class="form-control" id="addressTypeId" [(ngModel)]="this.address.addressTypeId">
                    <option disabled hidden></option>
                    <option selected value="1-HOME">HOME</option>
                    <!-- <option *ngFor="let type of this.affinity.lov.addressLOV" value="{{type.TIP_ETIQUETA}}-{{type.NOM_VALOR}}">{{type.NOM_VALOR}}</option> -->
                </select>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group row">
            <div class="col-md-12">
                <button type="button" class="btn btn-mapfre"  (click)="throwAddress()">Add Address</button>
            </div>
        </div>
    </div>
</div>