<div class="row">	
    <div class="col-md-12">
		<h1 *ngIf="this.retStatus == ''" data-toggle="tooltip" data-placement="top" title="Tooltip on top" id="test">Process Payment</h1>
        <h1 *ngIf="this.retStatus == 'failed'" data-toggle="tooltip" data-placement="top" title="Tooltip on top" id="test">We are unable to process payment for your policy.  Kindly check with your bank or try using another credit card.</h1>
	</div>
</div>
<br />
<div class="row">
	<div class="col-md-8">
        <h6>Pay over the counter using the below details and instruction: </h6>
            <div class="form-group row">
                <div class="col-md-4">
                    <label for="first_name" class="col-form-label marsh-label">Payment Reference Number (PRN)</label>
                    <h5>{{this.marsh.paymentReferenceNumber}}</h5>
                </div>
            </div>
        <img class="img-responsive" src="assets/images/Payment.jpg" />
        <div *ngIf="this.marsh.productId == '10002' || this.marsh.productId == '10001'">
        <div class="form-group row">
            <div class="col-md-12">
                <label for="first_name" class="col-form-label marsh-label">Client Name</label>
                <div>{{this.marsh.riskDetails.firstName}}<span *ngIf="this.marsh.motorDetails.isCorporate == '1'"> {{this.marsh.riskDetails.middleName}} {{this.marsh.riskDetails.lastName}}</span></div>
            </div>
        </div>
        <div>
            <h5 class="mt-5">Vehicle Details</h5>
            <div class="form-group row">
                <div class="col-md-4">
                    <label for="first_name" class="col-form-label marsh-label">Make/Manufacturer</label>
                    <div>{{this.marsh.motorDetails.manufacturer}}</div>
                </div>
                <div class="col-md-4">
                    <label for="first_name" class="col-form-label marsh-label">Model</label>
                    <div>{{this.marsh.motorDetails.model}}</div>
                </div>
                <div class="col-md-4">
                    <label for="first_name" class="col-form-label marsh-label">Sub Model</label>
                    <div>{{this.marsh.motorDetails.subModel}}</div>
                </div>
                <div class="col-md-4">
                    <label for="first_name" class="col-form-label marsh-label">Plate Number</label>
                    <div>{{this.marsh.motorDetails.plateNumber}}</div>
                </div>
            </div>
            <h5 class="mt-5">Policy Period</h5>
            <div class="form-group row">
                <div class="col-md-4">
                    <label for="first_name" class="col-form-label marsh-label">Effectivity Date</label>
                    <div>{{this.marsh.motorDetails.policyPeriodFrom}}</div>
                </div>
                <div class="col-md-4">
                    <label for="first_name" class="col-form-label marsh-label">Expiry Date</label>
                    <div>{{this.marsh.motorDetails.policyPeriodTo}}</div>
                </div>
            </div>
        </div>
        <br />
        <br />
        <div class="row">
            <div class="col-md-12">

                <h5>List of Coverages</h5>
                <table class="table table-small table-hover table-condensed">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Coverage Name</th>
                            <th scope="col" class="text-right">Limit</th>
                            <th scope="col" class="text-right">Premium <ng-container *ngIf="this.marsh.lineId == '251'">(includes Fire Service Tax)</ng-container></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let cover of this.marsh.coveragesValue">
                            <td><span class="text-success"><b><h4><i class="fa fa-check-circle mt-2 mb-2"></i></h4></b></span></td>
                            <td>{{cover.nomCob}}</td>
                            <td class="text-right">{{this.formatter.format(cover.sumaAseg)}}</td>
                            <td class="text-right">{{cover.totalPremium}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <br />
        <br />
        </div>
        <div *ngIf="this.marsh.productId == '20008'">
        <div class="form-group row">
            <div class="col-md-12">
                <label for="first_name" class="col-form-label marsh-label">Client Name</label>
                <div>{{this.marsh.riskDetails.firstName}}<span *ngIf="this.marsh.motorDetails.isCorporate == '1'"> {{this.marsh.riskDetails.middleName}} {{this.marsh.riskDetails.lastName}}</span></div>
            </div>
        </div>
        <div>
            <h5 class="mt-5">Unit Details</h5>
            <div class="form-group row">
                <div class="col-md-8">
                    <label for="first_name" class="col-form-label marsh-label">Condominium</label>
                    <div>{{this.marsh.propertyDetails.buildingDetails.txtDescription}}</div>
                </div>
                <div class="col-md-4">
                    <label for="first_name" class="col-form-label marsh-label">Unit Number</label>
                    <div>{{this.marsh.propertyDetails.unitNumber}}</div>
                </div>
                <div class="col-md-12 mt-3">
                    <label for="first_name" class="col-form-label marsh-label">Address</label>
                    <div>{{this.marsh.propertyDetails.buildingDetails.txtAddress}}</div>
                </div>
            </div>
            <h5 class="mt-5">Policy Period</h5>
            <div class="form-group row">
                <div class="col-md-4">
                    <label for="first_name" class="col-form-label marsh-label">Effectivity Date</label>
                    <div>{{this.marsh.motorDetails.policyPeriodFrom}}</div>
                </div>
                <div class="col-md-4">
                    <label for="first_name" class="col-form-label marsh-label">Expiry Date</label>
                    <div>{{this.marsh.motorDetails.policyPeriodTo}}</div>
                </div>
            </div>
        </div>
        <br />
        <br />
        <div class="row">
            <div class="col-md-12">

                <h5>List of Coverages</h5>
                <table class="table table-small table-hover table-condensed">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Coverage Name</th>
                            <th scope="col" class="text-right">Limit</th>
                            <th scope="col" class="text-right">Premium <ng-container *ngIf="this.marsh.lineId == '251'">(includes Fire Service Tax)</ng-container></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let cover of this.marsh.coveragesValue">
                            <td *ngIf="cover.codCob == '7105' || cover.codCob == '7373' || cover.codCob == '7386'"><span class="text-success"><b><h4><i class="fa fa-check-circle mt-2 mb-2"></i></h4></b></span></td>
                            
                            <td *ngIf="cover.codCob == '7105' || cover.codCob == '7373' || cover.codCob == '7386'"><b>{{cover.nomCob}}</b></td>

                            <td class="text-right" *ngIf="cover.codCob == '7105' || cover.codCob == '7373' || cover.codCob == '7386'">{{this.formatter.format(cover.sumaAseg)}}</td>
                            <td class="text-right" *ngIf="cover.codCob == '7105' || cover.codCob == '7373' || cover.codCob == '7386'">{{cover.totalPremium}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <br />
        <br />
        </div>
        <div *ngIf="this.marsh.productId == '33701' || this.marsh.productId == '33702'">
            <div class="col-md-12">
                <div class="card mb-3">
                  <div class="card-body">
                    <span class="card-title">
                        <div class="form-group row">
                            <div class="col-md-8">
                                <label for="first_name" class="col-form-label marsh-label">Insured Name</label>
                                <div>{{this.marsh.riskDetails.firstName}}<span *ngIf="this.marsh.motorDetails.isCorporate == '1'">{{this.marsh.riskDetails.middleName}} {{this.marsh.riskDetails.lastName}}</span></div>
                            </div>
                            <div class="col-md-4">
                                <label for="first_name" class="col-form-label marsh-label">Relationship</label>
                                <div>PRIMARY</div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-4">
                                <label for="first_name" class="col-form-label marsh-label">Effectivity Date</label>
                                <div>{{this.marsh.motorDetails.policyPeriodFrom}}</div>
                            </div>
                            <div class="col-md-4">
                                <label for="first_name" class="col-form-label marsh-label">Expiry Date</label>
                                <div>{{this.marsh.motorDetails.policyPeriodTo}}</div>
                            </div>
                        </div>
                    </span>
                    <!-- <h5>List of Coverages</h5> -->
                    <br />
                    <table class="table table-small table-hover table-condensed">
                        <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">Coverage Name</th>
                                <th scope="col" class="text-right">Limit</th>
                                <th scope="col" class="text-right">Premium <ng-container *ngIf="this.marsh.lineId == '251'">(includes Fire Service Tax)</ng-container></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let cover of this.marsh.coveragesValue">
                                <td><span class="text-success"><b><h4><i class="fa fa-check-circle mt-2 mb-2"></i></h4></b></span></td>
                                <td>{{cover.nomCob}}</td>
                                <td class="text-right">{{this.formatter.format(cover.sumaAseg)}}</td>
                                <td class="text-right">{{cover.totalPremium}}</td>
                            </tr>
                        </tbody>
                    </table>
                  </div>
                </div>
                <div class="card mb-3" *ngFor="let insured of this.marsh.paDetails.familyMembers">
                  <div class="card-body">
                    <span class="card-title">
                        <div class="form-group row">
                            <div class="col-md-8">
                                <label for="first_name" class="col-form-label marsh-label">Insured Name</label>
                                <div>{{insured.firstName}} {{insured.middleName}} {{insured.lastName}}</div>
                            </div>
                            <div class="col-md-4">
                                <label for="first_name" class="col-form-label marsh-label">Relationship</label>
                                <div>{{insured.relationship.split(":=:")[1]}}</div>
                            </div>
                        </div>
                    </span>
                    <!-- <h5>List of Coverages</h5> -->
                    <br />
                    <table class="table table-small table-hover table-condensed">
                        <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">Coverage Name</th>
                                <th scope="col" class="text-right">Limit</th>
                                <th scope="col" class="text-right">Premium <ng-container *ngIf="this.marsh.lineId == '251'">(includes Fire Service Tax)</ng-container></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let cover of insured.coveragesValue">
                                <td><span class="text-success"><b><h4><i class="fa fa-check-circle mt-2 mb-2"></i></h4></b></span></td>
                                <td>{{cover.nomCob}}</td>
                                <td class="text-right">{{this.formatter.format(cover.sumaAseg)}}</td>
                                <td class="text-right">{{cover.totalPremium}}</td>
                            </tr>
                        </tbody>
                    </table>
                  </div>
                </div>
            </div>
        </div>
    </div>
	<div class="col-md-4">
        <button class="btn btn-mapfre btn-block mt-3 mb-3" (click)="requestPayment()"><b>Pay using Credit Card</b></button>
        <img class="logo-collection" src="assets/images/authProgram_SC.gif" />
        <img class="logo-collection" src="assets/images/authProgram_VBV.gif" />
        <br />
        <h4>Total Cost <b style="float: right;">{{this.marsh.premiumBreakdown.grossPrem}}</b></h4><br />
        <!-- <h6>Net Premium <b>PHP 994.51</b></h6>
        <h6>Documentary Stamps <b>PHP 124.24</b></h6>
        <h6>Local Government Tax <b>PHP 4.98</b></h6>
        <h6>Value Added Tax <b>PHP 119.33</b></h6>
        <h6>Fire Service Tax <b>PHP 15.91</b></h6> -->
        <table id="paymentBreakdown" class="table table-small table-hover table-condensed">
            <tbody>
                <tr>
                    <td><h6 class="mt-2 mb-2">Net Premium</h6></td>
                    <td class="text-right"><h6>{{this.marsh.premiumBreakdown.netPrem}}</h6></td>
                </tr>
                <tr>
                    <td><h6 class="mt-2 mb-2">Documentary Stamps Tax</h6></td>
                    <td class="text-right"><h6>{{this.marsh.premiumBreakdown.docStamp}}</h6></td>
                </tr>
                <tr>
                    <td><h6 class="mt-2 mb-2">Local Government Tax</h6></td>
                    <td class="text-right"><h6>{{this.marsh.premiumBreakdown.lgt}}</h6></td>
                </tr>
                <tr *ngIf="this.marsh.lineId == '251'">
                    <td><h6 class="mt-2 mb-2">Fire Service Tax</h6></td>
                    <td class="text-right"><h6>{{this.marsh.premiumBreakdown.fireTax}}</h6></td>
                </tr>
                <tr *ngIf="this.marsh.lineId != '337'">
                    <td><h6 class="mt-2 mb-2">Value Added Tax</h6></td>
                    <td class="text-right"><h6>{{this.marsh.premiumBreakdown.eVat}}</h6></td>
                </tr>
                <tr *ngIf="this.marsh.lineId == '337'">
                    <td><h6 class="mt-2 mb-2">Premium Tax</h6></td>
                    <td class="text-right"><h6>{{this.marsh.premiumBreakdown.premiumTax}}</h6></td>
                </tr>
                <tr *ngIf="this.marsh.lineId == '337'">
                    <td><h6 class="mt-2 mb-2">Others</h6></td>
                    <td class="text-right"><h6>{{this.marsh.premiumBreakdown.others}}</h6></td>
                </tr>
            </tbody>
        </table>

	</div>
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">

                    <h5>Details of Coverage</h5>
                    <table class="table table-small table-hover table-condensed">
                        <thead>
                            <tr>
                                <th scope="col">Coverage</th>
                                <th scope="col">Benefit</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let coverage of this.marsh.coverages">
                                <td style="min-width: 300px;">{{coverage.benefit}}</td>
                                <td style="text-align: justify;">
                                    <span *ngFor="let coverages of coverage.coverages">
                                        {{coverages}}<br /><br />
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
