<div id="content">
    <h5 class="page-title" id="page-title">
        <i class="fa fa-list"></i> Inbox
    </h5>
    <div class="alert alert-success hidden alert-dismissible fade" id="addCustomerSuccess" role="alert">
      <i class="fa fa-check"></i> {{this.addCustomerNotice}}
          <button type="button" class="close" (click)="closeAlert('addCustomerSuccess')" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
    </div>
    <div class="alert alert-danger hidden alert-dismissible fade" id="addCustomerError" role="alert">
      <i class="fa fa-times"></i> {{this.addCustomerNotice}}
          <button type="button" class="close" (click)="closeAlert('addCustomerError')" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
    </div>

    <div *ngIf="this.templateRouter == 'initialize'">

        <div class="row mt-2">
            <div class="col-md-12">
                <div class="form-group row">
                    <div class="col-md-3">
                        <label for="inputPassword" class="col-form-label digi-label">Filter Request Type</label>
                        <select class="form-control" [(ngModel)]="this.inboxHeaderFilter.requestTypeId">
                            <option value="">All</option>
                            <option *ngFor="let rt of this.inboxRequestType" value="{{rt.requestTypeId}}">
                                {{rt.description}}
                            </option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label for="inputPassword" class="col-form-label digi-label">Filter Request Status</label>
                        <select class="form-control"  [(ngModel)]="this.inboxHeaderFilter.requestStatusId">
                            <option value="">All</option>
                            <option *ngFor="let rt of this.inboxRequestStatus" value="{{rt.requestStatusId}}">
                                {{rt.description}}
                            </option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <label for="inputPassword" class="col-form-label digi-label">Items per page</label>
                        <select class="form-control" (change)="initialFilterInbox()" [(ngModel)]="this.pageSize">
                            <option value="10" selected="selected">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                            <option value="500">500</option>
                            <option value="1000">1000</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <div class="row">
                            <div class="col-md-12"><label for="inputPassword" class="col-form-label digi-label">&nbsp;</label></div>
                            <div class="col-md-12"><button class="btn btn-digi" (click)="initialFilterInbox()"><i class="fa fa-search"></i></button></div>

                        </div>
                        
                        
                    </div>
                </div> 




            </div>
            
        </div>
        <div class="row" *ngIf="this.inboxDetailsList.length == 0">
            <div class="col-md-12 text-center">
                <hr>
                <span class="text-muted small">Nothing to show</span>
                <hr>
            </div>
        </div>
        <div class="table-responsive" *ngIf="this.inboxDetailsList.length > 0">
            <table class="table table-condensed table-hover">
                <thead>
                    <td>Request Type</td>
                    <td>From</td>
                    <td>Role</td>
                    <td>Status</td>
                    <td>Date Created</td>
                    <td>Last Modified Date</td>
                    <td>Completed Date</td>
                    <td>Latest Remarks</td>
                    <td></td>
                </thead>
                <tbody *ngFor="let detail of this.inboxDetailsList">
                        <tr  *ngIf="detail.inboxHeader.requestStatusId == '1'" class="font-weight-bold">
                            <td>{{detail.inboxHeader.requestType}}</td>
                            <td>{{detail.inboxHeader.requestor}} </td>
                            <td>{{detail.inboxHeader.requestorRole}} </td>
                            <td>{{detail.inboxHeader.requestStatus}} </td>
                            <td>{{detail.inboxHeader.dateAdded}} </td>
                            <td>{{detail.inboxHeader.dateModified}} </td>
                            <td>{{detail.inboxHeader.dateCompleted}} </td>
                            <td>{{detail.inboxRemarks[0].fromUser}}: {{detail.inboxRemarks[0].description}} </td>
                            <td><button class="btn btn-digi" (click)="viewMoreDetails(detail)"><i class="fa fa-eye"></i></button></td>
                        </tr>
                        <tr  *ngIf="detail.inboxHeader.requestStatusId !== '1'">
                            <td>{{detail.inboxHeader.requestType}}</td>
                            <td>{{detail.inboxHeader.requestor}} </td>
                            <td>{{detail.inboxHeader.requestorRole}} </td>
                            <td>{{detail.inboxHeader.requestStatus}} </td>
                            <td>{{detail.inboxHeader.dateAdded}} </td>
                            <td>{{detail.inboxHeader.dateModified}} </td>
                            <td>{{detail.inboxHeader.dateCompleted}} </td>
                            <td>{{detail.inboxRemarks[0].fromUser}}: {{detail.inboxRemarks[0].description}} </td>
                            <td><button class="btn btn-digi" (click)="viewMoreDetails(detail)"><i class="fa fa-eye"></i></button></td>
                        </tr>
                </tbody>
            </table>
        </div>

        <div class="row mt-5">
            <div class="col-md-12 text-center">

                <div class="btn-group" role="group" aria-label="Button group with nested dropdown" *ngIf="this.inboxDetailsList.length > 0">
                  <button type="button" class="btn btn-secondary" (click)="filterInbox('0')"><i class="fa fa-chevron-left"></i>
                        <i class="fa fa-chevron-left"></i></button>
                  <button type="button" class="btn btn-secondary" (click)="filterInbox(this.currentPage - 2)"><i class="fa fa-chevron-left"></i></button>

                  <div class="btn-group" role="group">
                    <button id="btnGroupDrop1" type="button" class="btn btn-digi" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                       {{this.currentPage}} <i class="fa fa-chevron-down"></i>
                    </button>
                    <div class="dropdown-menu dropdown-head" aria-labelledby="btnGroupDrop1">
                      <a class="dropdown-item" *ngFor="let pocPage of this.pageLength; let i = index" (click)="filterInbox(i)" >{{pocPage}}</a>
                    </div>
                  </div>

                  <button type="button" class="btn btn-secondary" (click)="filterInbox(this.currentPage)"><i class="fa fa-chevron-right"></i></button>
                  <button type="button" class="btn btn-secondary" (click)="filterInbox(this.pageLength.length - 1)"><i class="fa fa-chevron-right"></i><i class="fa fa-chevron-right"></i></button>

                </div>
                
            </div>
        </div>
        
    </div>

    <div *ngIf="this.templateRouter == 'viewDetails'">

        <div class="col-md-4 mb-3" >
            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-digi" (click)="backPage('')"><i class="fa fa-chevron-left"></i></button>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 mb-3">
                
                <div class="card inbox-card">
                  <div class="card-body">
                    <h5 class="card-title">{{this.inboxDetails.inboxHeader.requestType}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">
                        Requestor: {{this.inboxDetails.inboxHeader.requestor}} ({{this.inboxDetails.inboxHeader.requestorRole}} )
                    </h6>

                    <!-- =================================== POC CANCELLATION =================================== -->

                    <div class="form-group mt-5" *ngIf="this.inboxDetails.inboxHeader.requestTypeId == '1'">
                        <div class="row">
                                <div class="col-md-4">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label for="policyNumber" class="col-form-label digi-label font-weight-bold">Reason for Cancellation</label>
                                            <div id="policyNumber">{{this.inboxDetails.inboxDetails.inboxDetails[0].cancellationReason}}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label for="policyType" class="col-form-label digi-label font-weight-bold">Attachment Provided</label>
                                            <div id="policyType">{{this.inboxDetails.inboxDetails.inboxDetails[2].detailValue}}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label for="policyNumber" class="col-form-label digi-label font-weight-bold">Requested By</label>
                                            <div id="policyNumber">{{this.inboxDetails.inboxDetails.inboxDetails[3].detailValue}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                    </div>

                    <div class="card card-digi mt-3" *ngIf="this.inboxDetails.inboxHeader.requestTypeId == '1'">
                        <div class="card-header accordion-header" id="heading-policy-two-view" data-toggle="collapse" data-target="#collapse-policy-two-view" aria-expanded="false" aria-controls="collapse-policy-two-view" (click)="openAccordion('heading-policy-two-view')">
                            <h6 class="mb-0">
                                <i class="fa fa-copy"></i> Request Remarks<span class="pull-right"><i class="fa fa-chevron-up"></i></span>
                            </h6>
                        </div>
                        <div class="card-body collapse show show" id="collapse-policy-two-view">

                            <div class="table-responsive">
                                <table class="table table-condensed table-hover">
                                    <thead>
                                        <td>Date</td>
                                        <td>From</td>
                                        <td>Remark</td>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let remark of this.inboxDetails.inboxRemarks">
                                            <td>{{remark.dateAdded}}</td>
                                            <td>{{remark.fromUser}}</td>
                                            <td>{{remark.description}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <hr>
                            <div class="row" *ngIf="this.inboxDetails.inboxHeader.requestStatusId == '1' || this.inboxDetails.inboxHeader.requestStatusId == '2'">
                                <div class="col-md-7">
                                    <label for="inputPassword" class="col-form-label digi-label">New Remark</label>
                                    <input type="text" class="form-control" id="new-remark-{{this.inboxDetails.inboxHeader.inboxHeaderId}}">
                                    <small class="text-danger required-remarks-notice" ><i *ngIf="(this.auth.getUserRole() == '4' || this.auth.getUserRole() == '2' || this.auth.getUserRole() == '9')">*Remarks is required before performing actions</i></small>
                                </div>
                                <div class="col-md-5">
                                    <div class="row">
                                        <div class="col-md-12"><label for="inputPassword" class="col-form-label digi-label">&nbsp;</label></div>
                                        <div class="col-md-12"><button class="btn btn-digi" (click)="addNewRemark(this.inboxDetails.inboxHeader)"><i class="fa fa-paper-plane"></i> Add Remark</button></div>
                                    </div>
                                </div>
                            </div>
                            

                        </div>
                    </div>
                    
                    <div class="card card-digi mt-3" *ngIf="this.inboxDetails.inboxHeader.requestTypeId == '1'">
                        <div class="card-header accordion-header" id="heading-policy-one-view" data-toggle="collapse" data-target="#collapse-policy-one-view" aria-expanded="false" aria-controls="collapse-policy-one-view" (click)="openAccordion('heading-policy-one-view')">
                            <h6 class="mb-0">
                                <i class="fa fa-copy"></i> Policy Details ({{this.inboxDetails.inboxDetails.policyDetails.fullName}}) ({{this.inboxDetails.inboxDetails.policyDetails.policyStatusDescription}})<span class="pull-right"><i class="fa fa-chevron-down"></i></span>
                            </h6>
                        </div>
                        <div class="card-body collapse show" id="collapse-policy-one-view">

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label for="policyNumber" class="col-form-label digi-label font-weight-bold">Policy Number</label>
                                            <div id="policyNumber">{{this.inboxDetails.inboxDetails.policyDetails.policyNumber}}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label for="policyType" class="col-form-label digi-label font-weight-bold">Policy Type</label>
                                            <div id="policyType">{{this.inboxDetails.inboxDetails.policyDetails.policyTypeDescription}}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label for="policyType" class="col-form-label digi-label font-weight-bold">Master Policy</label>
                                            <div id="policyType">
                                                <span *ngIf="this.inboxDetails.inboxDetails.policyDetails.policyTypeId == '2'">{{this.inboxDetails.inboxDetails.policyDetails.masterPolicyNumber}}</span>
                                                <span *ngIf="this.inboxDetails.inboxDetails.policyDetails.policyTypeId == '1'">N/A</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row mt-3">
                                <div class="col-md-4">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label for="policyNumber" class="col-form-label digi-label font-weight-bold">Date Added</label>
                                            <div id="policyNumber">{{this.inboxDetails.inboxDetails.policyDetails.policyDateAdded}}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label for="policyType" class="col-form-label digi-label font-weight-bold">Effectivity Date</label>
                                            <div id="policyType">{{this.inboxDetails.inboxDetails.policyDetails.effectivityDate}}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label for="policyType" class="col-form-label digi-label font-weight-bold">Expiry Date</label>
                                            <div id="policyType">
                                                <span *ngIf="this.inboxDetails.inboxDetails.policyDetails.policyTypeId == '2'">{{this.inboxDetails.inboxDetails.policyDetails.expiryDate}}</span>
                                                <span *ngIf="this.inboxDetails.inboxDetails.policyDetails.policyTypeId == '1'">N/A</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row mt-3">
                                <div class="col-md-4">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label for="policyNumber" class="col-form-label digi-label font-weight-bold">Validity in Months</label>
                                            <div id="policyNumber">{{this.inboxDetails.inboxDetails.policyDetails.coverageTermInMonth}} Months</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label for="policyType" class="col-form-label digi-label font-weight-bold">Premium Amount</label>
                                            <div id="policyType">
                                                <span *ngIf="this.inboxDetails.inboxDetails.policyDetails.policyTypeId == '2'">{{this.inboxDetails.inboxDetails.policyDetails.premiumAmount}}</span>
                                                <span *ngIf="this.inboxDetails.inboxDetails.policyDetails.policyTypeId == '1'">N/A</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label for="policyType" class="col-form-label digi-label font-weight-bold">Product</label>
                                            <div id="policyType">{{this.inboxDetails.inboxDetails.policyDetails.productDescription}}
                                            <span *ngIf="this.inboxDetails.inboxDetails.policyDetails.policyTypeId !== '1'"> ({{this.inboxDetails.inboxDetails.policyDetails.pocBased}})</span> 
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <!-- =================================== POC CANCELLATION =================================== -->

                    <!-- ================================ UNDERWRITING APPROVAL ================================= -->

                    <div class="card card-digi mt-3" *ngIf="this.inboxDetails.inboxHeader.requestTypeId == '2'">
                        <div class="card-header accordion-header" id="heading-policy-three-view" data-toggle="collapse" data-target="#collapse-policy-three-view" aria-expanded="false" aria-controls="collapse-policy-three-view" (click)="openAccordion('heading-policy-three-view')">
                            <h6 class="mb-0">
                                <i class="fa fa-copy"></i> Underwriting Controls <span class="pull-right"><i class="fa fa-chevron-down"></i></span>
                            </h6>
                        </div>
                        <div class="card-body collapse show" id="collapse-policy-three-view">

                            <div class="table-responsive">
                                <table class="table table-condensed table-hover">
                                    <thead>
                                        <td>Type ID</td>
                                        <td>Control</td>
                                        <td>Code</td>
                                        <td>Description</td>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let inboxDetail of this.inboxDetails.inboxDetails.inboxDetails">
                                            <td>{{inboxDetail.detailTypeId}}</td>
                                            <td>{{inboxDetail.detailType}}</td>
                                            <td>{{inboxDetail.detailValue}}</td>
                                            <td>{{inboxDetail.countryName}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="card card-digi mt-3" *ngIf="this.inboxDetails.inboxHeader.requestTypeId == '2'">
                        <div class="card-header accordion-header" id="heading-policy-two-view" data-toggle="collapse" data-target="#collapse-policy-two-view" aria-expanded="false" aria-controls="collapse-policy-two-view" (click)="openAccordion('heading-policy-two-view')">
                            <h6 class="mb-0">
                                <i class="fa fa-copy"></i> Request Remarks <span class="pull-right"><i class="fa fa-chevron-up"></i></span>
                            </h6>
                        </div>
                        <div class="card-body collapse show show" id="collapse-policy-two-view">

                            <div class="table-responsive">
                                <table class="table table-condensed table-hover">
                                    <thead>
                                        <td>Date</td>
                                        <td>From</td>
                                        <td>Remark</td>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let remark of this.inboxDetails.inboxRemarks">
                                            <td>{{remark.dateAdded}}</td>
                                            <td>{{remark.fromUser}}</td>
                                            <td>{{remark.description}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <hr>
                            <div class="row" *ngIf="this.inboxDetails.inboxHeader.requestStatusId == '1' || this.inboxDetails.inboxHeader.requestStatusId == '2'">
                                <div class="col-md-7">
                                    <label for="inputPassword" class="col-form-label digi-label">New Remark</label>
                                    <input type="text" class="form-control" id="new-remark-{{this.inboxDetails.inboxHeader.inboxHeaderId}}">
                                    <small class="text-danger required-remarks-notice" ><i *ngIf="(this.auth.getUserRole() == '4' || this.auth.getUserRole() == '2' || this.auth.getUserRole() == '9')">*Remarks is required before performing actions</i></small>
                                </div>
                                <div class="col-md-5">
                                    <div class="row">
                                        <div class="col-md-12"><label for="inputPassword" class="col-form-label digi-label">&nbsp;</label></div>
                                        <div class="col-md-12"><button class="btn btn-digi" (click)="addNewRemark(this.inboxDetails.inboxHeader)"><i class="fa fa-paper-plane"></i> Add Remark</button></div>
                                    </div>
                                </div>
                            </div>
                            

                        </div>
                    </div>
                    
                    <div class="card card-digi mt-3" *ngIf="this.inboxDetails.inboxHeader.requestTypeId == '2'">
                        <div class="card-header accordion-header" id="heading-policy-one-view" data-toggle="collapse" data-target="#collapse-policy-one-view" aria-expanded="false" aria-controls="collapse-policy-one-view" (click)="openAccordion('heading-policy-one-view')">
                            <h6 class="mb-0">
                                <i class="fa fa-copy"></i> Policy Details ({{this.inboxDetails.inboxDetails.policyDetails.fullName}})<span class="pull-right"><i class="fa fa-chevron-down"></i></span>
                            </h6>
                        </div>
                        <div class="card-body collapse show" id="collapse-policy-one-view">

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label for="policyNumber" class="col-form-label digi-label font-weight-bold">Policy Number</label>
                                            <div id="policyNumber">{{this.inboxDetails.inboxDetails.policyDetails.policyNumber}}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label for="policyType" class="col-form-label digi-label font-weight-bold">Policy Type</label>
                                            <div id="policyType">{{this.inboxDetails.inboxDetails.policyDetails.policyTypeDescription}}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label for="policyType" class="col-form-label digi-label font-weight-bold">Master Policy</label>
                                            <div id="policyType">
                                                <span *ngIf="this.inboxDetails.inboxDetails.policyDetails.policyTypeId == '2'">{{this.inboxDetails.inboxDetails.policyDetails.masterPolicyNumber}}</span>
                                                <span *ngIf="this.inboxDetails.inboxDetails.policyDetails.policyTypeId == '1'">N/A</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row mt-3">
                                <div class="col-md-4">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label for="policyNumber" class="col-form-label digi-label font-weight-bold">Date Added</label>
                                            <div id="policyNumber">{{this.inboxDetails.inboxDetails.policyDetails.policyDateAdded}}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label for="policyType" class="col-form-label digi-label font-weight-bold">Effectivity Date</label>
                                            <div id="policyType">{{this.inboxDetails.inboxDetails.policyDetails.effectivityDate}}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label for="policyType" class="col-form-label digi-label font-weight-bold">Expiry Date</label>
                                            <div id="policyType">
                                                <span *ngIf="this.inboxDetails.inboxDetails.policyDetails.policyTypeId == '2'">{{this.inboxDetails.inboxDetails.policyDetails.expiryDate}}</span>
                                                <span *ngIf="this.inboxDetails.inboxDetails.policyDetails.policyTypeId == '1'">N/A</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row mt-3">
                                <div class="col-md-4">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label for="policyNumber" class="col-form-label digi-label font-weight-bold">Validity in Months</label>
                                            <div id="policyNumber">{{this.inboxDetails.inboxDetails.policyDetails.coverageTermInMonth}} Months</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label for="policyType" class="col-form-label digi-label font-weight-bold">Premium Amount</label>
                                            <div id="policyType">
                                                <span *ngIf="this.inboxDetails.inboxDetails.policyDetails.policyTypeId == '2'">{{this.inboxDetails.inboxDetails.policyDetails.premiumAmount}}</span>
                                                <span *ngIf="this.inboxDetails.inboxDetails.policyDetails.policyTypeId == '1'">N/A</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label for="policyType" class="col-form-label digi-label font-weight-bold">Product</label>
                                            <div id="policyType">{{this.inboxDetails.inboxDetails.policyDetails.productDescription}}
                                            <span *ngIf="this.inboxDetails.inboxDetails.policyDetails.policyTypeId !== '1'"> ({{this.inboxDetails.inboxDetails.policyDetails.pocBased}})</span> 
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <!-- ================================ UNDERWRITING APPROVAL ================================= -->
                    <!-- ================================ ENDORSEMENT ================================= -->
                    <div class="form-group mt-5" *ngIf="this.inboxDetails.inboxHeader.requestTypeId == '3'">
                        <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label for="policyNumber" class="col-form-label digi-label font-weight-bold">Request for Endorsement</label>
                                            <div id="policyNumber">{{this.inboxDetails.inboxDetails.inboxDetails[0].detailValue}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                    </div>

                    <div class="card card-digi mt-3" *ngIf="this.inboxDetails.inboxHeader.requestTypeId == '3'">
                        <div class="card-header accordion-header" id="heading-policy-two-view" data-toggle="collapse" data-target="#collapse-policy-two-view" aria-expanded="false" aria-controls="collapse-policy-two-view" (click)="openAccordion('heading-policy-two-view')">
                            <h6 class="mb-0">
                                <i class="fa fa-copy"></i> Request Remarks<span class="pull-right"><i class="fa fa-chevron-up"></i></span>
                            </h6>
                        </div>
                        <div class="card-body collapse show show" id="collapse-policy-two-view">

                            <div class="table-responsive">
                                <table class="table table-condensed table-hover">
                                    <thead>
                                        <td>Date</td>
                                        <td>From</td>
                                        <td>Remark</td>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let remark of this.inboxDetails.inboxRemarks">
                                            <td>{{remark.dateAdded}}</td>
                                            <td>{{remark.fromUser}}</td>
                                            <td>{{remark.description}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <hr>
                            <div class="row" *ngIf="this.inboxDetails.inboxHeader.requestStatusId == '1' || this.inboxDetails.inboxHeader.requestStatusId == '2'">
                                <div class="col-md-7">
                                    <label for="inputPassword" class="col-form-label digi-label">New Remark</label>
                                    <input type="text" class="form-control" id="new-remark-{{this.inboxDetails.inboxHeader.inboxHeaderId}}">
                                    <small class="text-danger required-remarks-notice" ><i *ngIf="(this.auth.getUserRole() == '4' || this.auth.getUserRole() == '2' || this.auth.getUserRole() == '9')">*Remarks is required before performing actions</i></small>
                                </div>
                                <div class="col-md-5">
                                    <div class="row">
                                        <div class="col-md-12"><label for="inputPassword" class="col-form-label digi-label">&nbsp;</label></div>
                                        <div class="col-md-12"><button class="btn btn-digi" (click)="addNewRemark(this.inboxDetails.inboxHeader)"><i class="fa fa-paper-plane"></i> Add Remark</button></div>
                                    </div>
                                </div>
                            </div>
                            

                        </div>
                    </div>
                    
                    <div class="card card-digi mt-3" *ngIf="this.inboxDetails.inboxHeader.requestTypeId == '3'">
                        <div class="card-header accordion-header" id="heading-policy-one-view" data-toggle="collapse" data-target="#collapse-policy-one-view" aria-expanded="false" aria-controls="collapse-policy-one-view" (click)="openAccordion('heading-policy-one-view')">
                            <h6 class="mb-0">
                                <i class="fa fa-copy"></i> Policy Details ({{this.inboxDetails.inboxDetails.policyDetails.fullName}}) ({{this.inboxDetails.inboxDetails.policyDetails.policyStatusDescription}})<span class="pull-right"><i class="fa fa-chevron-down"></i></span>
                            </h6>
                        </div>
                        <div class="card-body collapse show" id="collapse-policy-one-view">

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label for="policyNumber" class="col-form-label digi-label font-weight-bold">Policy Number</label>
                                            <div id="policyNumber">{{this.inboxDetails.inboxDetails.policyDetails.policyNumber}}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label for="policyType" class="col-form-label digi-label font-weight-bold">Policy Type</label>
                                            <div id="policyType">{{this.inboxDetails.inboxDetails.policyDetails.policyTypeDescription}}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label for="policyType" class="col-form-label digi-label font-weight-bold">Master Policy</label>
                                            <div id="policyType">
                                                <span *ngIf="this.inboxDetails.inboxDetails.policyDetails.policyTypeId == '2'">{{this.inboxDetails.inboxDetails.policyDetails.masterPolicyNumber}}</span>
                                                <span *ngIf="this.inboxDetails.inboxDetails.policyDetails.policyTypeId == '1'">N/A</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row mt-3">
                                <div class="col-md-4">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label for="policyNumber" class="col-form-label digi-label font-weight-bold">Date Added</label>
                                            <div id="policyNumber">{{this.inboxDetails.inboxDetails.policyDetails.policyDateAdded}}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label for="policyType" class="col-form-label digi-label font-weight-bold">Effectivity Date</label>
                                            <div id="policyType">{{this.inboxDetails.inboxDetails.policyDetails.effectivityDate}}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label for="policyType" class="col-form-label digi-label font-weight-bold">Expiry Date</label>
                                            <div id="policyType">
                                                <span *ngIf="this.inboxDetails.inboxDetails.policyDetails.policyTypeId == '2'">{{this.inboxDetails.inboxDetails.policyDetails.expiryDate}}</span>
                                                <span *ngIf="this.inboxDetails.inboxDetails.policyDetails.policyTypeId == '1'">N/A</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row mt-3">
                                <div class="col-md-4">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label for="policyNumber" class="col-form-label digi-label font-weight-bold">Validity in Months</label>
                                            <div id="policyNumber">{{this.inboxDetails.inboxDetails.policyDetails.coverageTermInMonth}} Months</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label for="policyType" class="col-form-label digi-label font-weight-bold">Premium Amount</label>
                                            <div id="policyType">
                                                <span *ngIf="this.inboxDetails.inboxDetails.policyDetails.policyTypeId == '2'">{{this.inboxDetails.inboxDetails.policyDetails.premiumAmount}}</span>
                                                <span *ngIf="this.inboxDetails.inboxDetails.policyDetails.policyTypeId == '1'">N/A</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label for="policyType" class="col-form-label digi-label font-weight-bold">Product</label>
                                            <div id="policyType">{{this.inboxDetails.inboxDetails.policyDetails.productDescription}}
                                            <span *ngIf="this.inboxDetails.inboxDetails.policyDetails.policyTypeId !== '1'"> ({{this.inboxDetails.inboxDetails.policyDetails.pocBased}})</span> 
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- ================================ ENDORSEMENT ================================= -->

                    <div class="row mt-3 hidden" id="action-fields" *ngIf="(this.inboxDetails.inboxHeader.requestStatusId == '1') && (this.auth.getUserRole() == '4' || this.auth.getUserRole() == '2' || this.auth.getUserRole() == '9')">
                        <div class="col-md-12 text-right">
                            <button class="btn btn-digi pull-left" *ngIf="this.inboxDetails.inboxHeader.requestStatusId == '1'" (click)="submitDecision('2',this.inboxDetails)"><i class="fa fa-reply"></i> Return</button>
                            <button class="btn btn-digi hidden" (click)="submitDecision('5',this.inboxDetails)"><i class="fa fa-times"></i> Cancel</button>
                            <button class="btn btn-digi ml-2 mr-2" (click)="submitDecision('4',this.inboxDetails)"><i class="fa fa-times"></i> Reject</button>
                            <button class="btn btn-digi" (click)="submitDecision('3',this.inboxDetails)"><i class="fa fa-check"></i> Approve</button>
                        </div>
                    </div>

                  </div>
                </div>
                
            </div>
        </div>
        
    </div>
    

    
    

</div>