<div class="row mt-3">
    <div class="col-md-4">
        <div class="form-group row">
            <div class="col-md-12">
                <label for="productId" class="affinity-label">IS INDIVIDUAL OR CORPORATE</label>
                <select class="form-control required motor-personal" id="productId" [(ngModel)]="this.affinityAlternative.motorDetails.isCorporate" name="Individual or Corporate">
                    <option value="0" disabled="disabled">Please choose</option>
                    <option value="1">INDIVIDUAL</option>
                    <option value="2">CORPORATE</option>
                </select>
            </div>
        </div>
    </div>
    <div class="col-md-4" *ngIf="this.affinityAlternative.motorDetails.isCorporate">
        <div class="form-group row">
            <div class="col-md-12">
                <label for="productId" class="affinity-label">POLICY HOLDER SEPARATOR</label>
                <select class="form-control required motor-personal" id="productId" [(ngModel)]="this.affinityAlternative.riskDetails.separator" name="Individual or Corporate">
                    <option value="0" disabled="disabled">Please choose</option>
                    <option *ngFor="let sep of this.affinityAlternative.lov.separatorLOV" value="{{sep.TIP_ASEG_SEP_LOV}}-{{sep.NOM_VALOR}}">{{sep.NOM_VALOR}}</option>
                </select>
            </div>
        </div>
    </div>
    <div class="col-md-4" *ngIf="this.affinityAlternative.riskDetails.separator">
        <div class="form-group row">
            <div class="col-md-12">
                <label for="productId" class="affinity-label">POLICY HOLDER PREFIX</label>
                <select class="form-control required motor-personal" id="productId" [(ngModel)]="this.affinityAlternative.riskDetails.prefix" name="Individual or Corporate">
                    <option value="0" disabled="disabled">Please choose</option>
                    <option *ngFor="let prefix of this.affinityAlternative.lov.prefixLOV" value="{{prefix.TIP_ASEG_PREF}}">{{prefix.NOM_VALOR}}</option>
                </select>
            </div>
        </div>
    </div>
</div>
<div *ngIf="this.affinityAlternative.riskDetails.separator">
	<h5 *ngIf="this.affinityAlternative.motorDetails.isCorporate == '1'">Personal Details</h5>
	<h5 *ngIf="this.affinityAlternative.motorDetails.isCorporate == '2'">Company Details</h5>
	<div class="row" *ngIf="this.affinityAlternative.motorDetails.isCorporate == '1'">
	    <div class="col-md-4">
	        <div class="form-group row">
	            <div class="col-md-12">
	                <label for="firstName" class="col-form-label affinity-label">FIRST NAME <span class="text-mapfre text-heavy">*</span></label>
	                <input type="text" id="firstName" [(ngModel)]="this.affinityAlternative.riskDetails.firstName" class="form-control required motor-add-alternative to-uppercase" placeholder="First Name" name="First Name">
	            </div>
	        </div>
	        
	    </div>
	    <div class="col-md-4">
	        <div class="form-group row">
	            <div class="col-md-12">
	                <label for="middleName" class="affinity-label">MIDDLE NAME</label>
	                <input type="text" id="middleName" [(ngModel)]="this.affinityAlternative.riskDetails.middleName" class="form-control to-uppercase" placeholder="Middle Name">
	            </div>
	        </div>
	    </div>
	    <div class="col-md-4">
	        <div class="form-group row">
	            <div class="col-md-12">
	                <label for="lastName" class="affinity-label">LAST NAME <span class="text-mapfre text-heavy">*</span></label>
	                <input type="text" id="lastName" [(ngModel)]="this.affinityAlternative.riskDetails.lastName" class="form-control required motor-add-alternative to-uppercase" placeholder="Last Name" name="Last Name">
	            </div>
	        </div>
	    </div>
	</div>
	<div class="row" *ngIf="this.affinityAlternative.motorDetails.isCorporate == '1'">
	    <div class="col-md-4">
	        <div class="form-group row">
	            <div class="col-md-12">
	                <label for="suffix" class="affinity-label">SUFFIX</label>
	                <select class="form-control" id="suffix" [(ngModel)]="this.affinityAlternative.riskDetails.suffix" name="Suffix">
	                    <option value="0" disabled="disabled">Please choose Suffix</option>
	                    <option *ngFor="let suffix of this.affinityAlternative.lov.suffixLOV" value="{{suffix.TIPO_SUFIJO_NOMBRE}}">{{suffix.NOM_VALOR}}</option>
	                </select>
	            </div>
	        </div>
	    </div>
	    <div class="col-md-4">
	        <div class="form-group row">
	            <div class="col-md-12">
	                <label for="nationality" class="affinity-label">NATIONALITY <span class="text-mapfre text-heavy">*</span></label>
	                <select class="form-control required motor-add-alternative" name="Nationality" id="nationality" [(ngModel)]="this.affinityAlternative.riskDetails.nationality" (change)="blacklist()">
	                    <option value="0" disabled="disabled">Please choose Nationality</option>
	                    <option *ngFor="let nat of this.affinityAlternative.lov.nationalityLOV" value="{{nat.COD_PAIS}}">{{nat.NOM_PAIS}}</option>
	                </select>
	            </div>
	        </div>
	    </div>
	    <div class="col-md-4">
	        <div class="form-group row">
	            <div class="col-md-12">
	                <label for="gender" class="affinity-label">GENDER <span class="text-mapfre text-heavy">*</span></label>
	                <select class="form-control required motor-add-alternative" name="Gender" id="gender" [(ngModel)]="this.affinityAlternative.riskDetails.gender">
	                    <option value="0" disabled="disabled">Please choose Gender</option>
	                    <option value="1">Male</option>
	                    <option value="0">Female</option>
	                </select>
	            </div>
	        </div>
	    </div>
	    <div class="col-md-4">
	        <div class="form-group row">
	            <div class="col-md-12">
	                <label for="civilStatus" class="affinity-label">CIVIL STATUS <span class="text-mapfre text-heavy">*</span></label>
	                <select class="form-control required motor-add-alternative" name="Civil Status" id="civilStatus" [(ngModel)]="this.affinityAlternative.riskDetails.civilStatus">
	                    <option value="0" disabled="disabled">Please choose Civil Status</option>
	                    <option *ngFor="let civil of this.affinityAlternative.lov.civilStatusLOV" value="{{civil.COD_EST_CIVIL}}">{{civil.NOM_VALOR}}</option>
	                </select>
	            </div>
	        </div>
	    </div>
	    <div class="col-md-4">
	        <div class="form-group row">
	            <div class="col-md-12">
	                <label for="birthDate" class="affinity-label">DATE OF BIRTH <span class="text-mapfre text-heavy">*</span></label>
	                <input type="date" id="birthDate" name="Date of Birth" [(ngModel)]="this.affinityAlternative.riskDetails.birthDate" class="form-control required motor-add-alternative">
	            </div>
	        </div>
	    </div>
	</div>
	<div class="row"  *ngIf="this.affinityAlternative.motorDetails.isCorporate == '2'">
	    <div class="col-md-12">
	        <div class="form-group row">
	            <div class="col-md-6">
	                <label for="fullName" class="col-form-label affinity-label">COMPANY NAME <span class="text-mapfre text-heavy">*</span></label>
	                <input type="text" id="fullName" [(ngModel)]="this.affinityAlternative.riskDetails.firstName" class="form-control required motor-add-alternative to-uppercase" name="Full Company Name" placeholder="Full Company Name">
	            </div>
	        </div>
	        
	    </div>
	</div>
	<h5>Address</h5>
	<div class="row" *ngIf="this.addAddress == '' && this.affinityAlternative.lov.addressLOV.length > 0">
	    <div class="col-md-4"><button type="button" class="btn btn-mapfre" (click)="openAddress()">Add Address</button></div>
	</div>
	<app-address *ngIf="this.addAddress == 'add'" [title]="this.presentAddressTitle" [affinity]="this.affinityAlternative" (addressDetailsOutput)="catchAddress($event)"></app-address>
	<!-- 
	<app-address *ngIf="this.affinityAlternative.motorDetails.isCorporate == '2'" [title]="this.pbAddressTitle" [affinityAlternative]="this.affinityAlternative" (addressDetailsOutput)="catchPresentAddress($event)"></app-address> -->

	<div class="row mt-5" *ngIf="this.tempAddresses.length > 0">
	    <div class="col-md-12">
	        <table class="table table-small table-hover table-condensed">
	            <thead>
	                <tr>
	                    <td>Type</td>
	                    <td>Full Address</td>
	                    <td></td>
	                </tr>
	            </thead>
	            <tbody>
	                <tr *ngFor="let address of this.tempAddresses">
	                    <td>{{address.addressType}}</td>
	                    <td>{{address.addressDetails}} {{address.municipalityDetail}}  {{address.provinceDetail}} {{address.zipCode}}</td>
	                    <td><button type="button" class="btn btn-mapfre" (click)="removeAddressList(address)" ><i class="fa fa-times"></i></button></td>
	                </tr>
	            </tbody>
	        </table>
	    </div>
	</div>

	<br />
	<h5>Valid Government IDs</h5>
	<div class="row">
	    <div class="col-md-4">
	        <div class="form-group row">
	            <div class="col-md-12">
	                <label for="validID" class="affinity-label">GOVERNMENT ID <span class="text-mapfre text-heavy">*</span></label>
	                <select class="form-control required motor-add-alternative" name="Government ID" id="validID" [(ngModel)]="this.affinityAlternative.riskDetails.validID">
	                    <option value="0" disabled="disabled">Please choose ID</option>
	                    <option *ngFor="let cod of this.affinityAlternative.lov.documentLOV" value="{{cod.TIP_DOCUM}}">{{cod.NOM_DOCUM}}</option>
	                </select>
	            </div>
	        </div>
	    </div>
	    <div class="col-md-4">
	        <div class="form-group row">
	            <div class="col-md-12">
	                <label for="validIDValue" class="affinity-label">ID NUMBER <span class="text-mapfre text-heavy">*</span></label>
	                <input type="text" id="validIDValue" name="Government ID Number" class="form-control required motor-add-alternative to-uppercase" placeholder="ID Number" [(ngModel)]="this.affinityAlternative.riskDetails.validIDValue">
	            </div>
	        </div>
	    </div>
	</div>
	<h5>Contact Details</h5>
	<div class="row">
	    <div class="col-md-4">
	        <div class="form-group row">
	            <div class="col-md-12">
	                <label for="email" class="affinity-label">EMAIL <span class="text-mapfre text-heavy">*</span></label>
	                <input type="email" id="email" name="Email" class="form-control required motor-add-alternative to-uppercase" placeholder="Email" [(ngModel)]="this.affinityAlternative.riskDetails.emailAddress">
	            </div>
	        </div>
	    </div>
	    <div class="col-md-4">
	        <div class="form-group row">
	            <div class="col-md-12">
	                <label for="phoneNumber" class="affinity-label">MOBILE/PHONE NUMBER <span class="text-mapfre text-heavy">*</span></label>
	                <input type="text" id="phoneNumber" name="Phone Number" class="form-control required motor-add-alternative to-uppercase" placeholder="Phone Number" [(ngModel)]="this.affinityAlternative.riskDetails.phoneNumber">
	            </div>
	        </div>
	    </div>
	</div>
	<br />
	<h5 class="mt-3" *ngIf="this.affinityAlternative.motorDetails.isCorporate == '2'">Corporate Details</h5>
	<div class="row" *ngIf="this.affinityAlternative.motorDetails.isCorporate == '2'">
	    <div class="col-md-4">
	        <div class="form-group row">
	            <div class="col-md-12">
	                <label for="businessNaturee" class="affinity-label">BUSINESS NATURE</label>
	                <input type="text" id="businessNaturee" class="form-control to-uppercase" placeholder="Business Nature" [(ngModel)]="this.affinityAlternative.riskDetails.businessNature">
	            </div>
	        </div>
	    </div>
	    <div class="col-md-4">
	        <div class="form-group row">
	            <div class="col-md-12">
	                <label for="TINn" class="affinity-label">TAX IDENTIFICTION NUMBER (TIN)</label>
	                <input type="text" id="TINn" class="form-control to-uppercase" placeholder="TIN" [(ngModel)]="this.affinityAlternative.riskDetails.TIN">
	            </div>
	        </div>
	    </div>
	</div>
	<!-- <br />
	<h5 *ngIf="this.affinityAlternative.motorDetails.isCorporate == '2'">List of Board of Directors</h5>
	<div class="row" *ngIf="this.affinityAlternative.motorDetails.isCorporate == '2'">
	    <div class="col-md-4">
	        <div class="form-group row">
	            <div class="col-md-12">
	                <label for="companyNumber" class="affinity-label">DIRECTOR'S NAME</label>
	                <input type="text" id="companyNumber" class="form-control to-uppercase" placeholder="Director's Name" [(ngModel)]="this.director.fullName">
	            </div>
	        </div>
	    </div>
	    <div class="col-md-4">
	        <div class="form-group row">
	            <div class="col-md-12">
	                <label for="companyNumber" class="affinity-label">&nbsp;</label>
	                <button  *ngIf="this.director.fullName" class="btn btn-mapfre btn-block" (click)="addCompanyDetail('director')"><b>Add Director</b></button>
	            </div>
	        </div>
	    </div>
	</div>
	<div class="row" *ngIf="this.affinityAlternative.motorDetails.directors.length > 0">
	    <div class="col-md-6">
	        <div class="table-responsive">
	            <table class="table table-condensed table-hover table-small">
	                <thead>
	                    <td>Director's Name</td>
	                    <td></td>
	                </thead>
	                <tbody>
	                    <tr  *ngFor="let director of this.affinityAlternative.motorDetails.directors">
	                        <td>{{director.fullName}}</td>
	                        <td><button class="btn btn-mapfre btn-sm" (click)="removeCompanyDetail(director,'director')"><i class="fa fa-times"></i></button></td>
	                    </tr>
	                </tbody>
	            </table>
	        </div>
	        
	    </div>
	</div>
	<br />
	<h5 *ngIf="this.affinityAlternative.motorDetails.isCorporate == '2'">List of Principal Stockholders owning at least 2% of the capital stock</h5>
	<div class="row" *ngIf="this.affinityAlternative.motorDetails.isCorporate == '2'">
	    <div class="col-md-4">
	        <div class="form-group row">
	            <div class="col-md-12">
	                <label for="companyNumber" class="affinity-label">STOCKHOLDER'S NAME</label>
	                <input type="text" id="companyNumber" class="form-control to-uppercase" placeholder="Stockholder's Name" [(ngModel)]="this.stockholder.fullName">
	            </div>
	        </div>
	    </div>
	    <div class="col-md-4">
	        <div class="form-group row">
	            <div class="col-md-12">
	                <label for="companyNumber" class="affinity-label">&nbsp;</label>
	                <button  *ngIf="this.stockholder.fullName" class="btn btn-mapfre btn-block" (click)="addCompanyDetail('stockholder')"><b>Add Stockholder</b></button>
	            </div>
	        </div>
	    </div>
	</div>
	<div class="row" *ngIf="this.affinityAlternative.motorDetails.stockholders.length > 0">
	    <div class="col-md-6">
	        <div class="table-responsive">
	            <table class="table table-condensed table-hover table-small">
	                <thead>
	                    <td>Stockholder's Name</td>
	                    <td></td>
	                </thead>
	                <tbody>
	                    <tr  *ngFor="let stockholder of this.affinityAlternative.motorDetails.stockholders">
	                        <td>{{stockholder.fullName}}</td>
	                        <td><button class="btn btn-mapfre btn-sm" (click)="removeCompanyDetail(stockholder,'stockholder')"><i class="fa fa-times"></i></button></td>
	                    </tr>
	                </tbody>
	            </table>
	        </div>
	    </div>
	</div> -->
</div>
<div class="row">
    <div class="col-md-12">
        <button class="btn btn-mapfre mr-3 mt-3" (click)="backButtonAction()"><b>Back</b></button>
        <button class="btn btn-mapfre mt-3"  *ngIf="this.affinityAlternative.riskDetails.separator" (click)="addHolder()"><b>Add Alternative Holder</b></button>
    </div>
</div>