<div id="content" (contextmenu)="__elementSelectionService.select('48008088',$event)" [ngStyle]="__elementSelectionService.getStyles('48008088')"(click)='__elementSelectionService.clear()'>
    <h3 class="page-title" (contextmenu)="__elementSelectionService.select('1522699688',$event)" [ngStyle]="__elementSelectionService.getStyles('1522699688')">

        <i class="fa fa-cogs" (contextmenu)="__elementSelectionService.select('247837222',$event)" [ngStyle]="__elementSelectionService.getStyles('247837222')"></i> Configurations
    </h3>
    <div class="alert alert-success hidden fade" id="addExchangeRateSuccess" role="alert" (contextmenu)="__elementSelectionService.select('1747150893',$event)" [ngStyle]="__elementSelectionService.getStyles('1747150893')">
      <i class="fa fa-check" (contextmenu)="__elementSelectionService.select('49032191',$event)" [ngStyle]="__elementSelectionService.getStyles('49032191')"></i> {{this.addExchangeRateSuccess}}
          <button type="button" class="close" aria-label="Close" click="closeAlert('addExchangeRateSuccess')" (contextmenu)="__elementSelectionService.select('1284327879',$event)" [ngStyle]="__elementSelectionService.getStyles('1284327879')">
            <span aria-hidden="true" (contextmenu)="__elementSelectionService.select('1870300914',$event)" [ngStyle]="__elementSelectionService.getStyles('1870300914')">&#215;</span>
          </button>
    </div>

    <div class="card card-digi mt-3" (contextmenu)="__elementSelectionService.select('485222704',$event)" [ngStyle]="__elementSelectionService.getStyles('485222704')">
        <div class="card-header accordion-header" id="heading-customer-one-view" data-toggle="collapse" data-target="#collapse-customer-one-view" aria-expanded="false" aria-controls="collapse-customer-one-view" click="openAccordion('heading-customer-one-view')" (contextmenu)="__elementSelectionService.select('2134612609',$event)" [ngStyle]="__elementSelectionService.getStyles('2134612609')">
            <h6 class="mb-0" (contextmenu)="__elementSelectionService.select('1499346896',$event)" [ngStyle]="__elementSelectionService.getStyles('1499346896')">
                <i class="fa fa-calendar" (contextmenu)="__elementSelectionService.select('1655203615',$event)" [ngStyle]="__elementSelectionService.getStyles('1655203615')"></i> Date Format <span class="pull-right" (contextmenu)="__elementSelectionService.select('566865939',$event)" [ngStyle]="__elementSelectionService.getStyles('566865939')"><i class="fa fa-chevron-down" (contextmenu)="__elementSelectionService.select('33933625',$event)" [ngStyle]="__elementSelectionService.getStyles('33933625')"></i></span>
            </h6>
        </div>
        <div class="card-body collapse show show" id="collapse-customer-one-view" (contextmenu)="__elementSelectionService.select('709729822',$event)" [ngStyle]="__elementSelectionService.getStyles('709729822')">
        	<div class="row" (contextmenu)="__elementSelectionService.select('192709847',$event)" [ngStyle]="__elementSelectionService.getStyles('192709847')">
        		<div class="col-md-6" (contextmenu)="__elementSelectionService.select('1733944451',$event)" [ngStyle]="__elementSelectionService.getStyles('1733944451')">
                    <div class="row" (contextmenu)="__elementSelectionService.select('1262069072',$event)" [ngStyle]="__elementSelectionService.getStyles('1262069072')">
                        <div class="col-md-12" (contextmenu)="__elementSelectionService.select('222461767',$event)" [ngStyle]="__elementSelectionService.getStyles('222461767')">
                            <label for="date_format_val" class="col-form-label digi-label" (contextmenu)="__elementSelectionService.select('1660356612',$event)" [ngStyle]="__elementSelectionService.getStyles('1660356612')">Global Date Format</label>
                            <select id="aod" class="form-control" ngModel="this.newDateFormat.configValue" (contextmenu)="__elementSelectionService.select('1243776293',$event)" [ngStyle]="__elementSelectionService.getStyles('1243776293')">
                                <option ngFor="let format of this.dateFormatList" value="{{format.detail}}" (contextmenu)="__elementSelectionService.select('1287105044',$event)" [ngStyle]="__elementSelectionService.getStyles('1287105044')">
                                        {{format.detail}}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-6" (contextmenu)="__elementSelectionService.select('1385258114',$event)" [ngStyle]="__elementSelectionService.getStyles('1385258114')">
                    <div class="row" (contextmenu)="__elementSelectionService.select('150788604',$event)" [ngStyle]="__elementSelectionService.getStyles('150788604')">
                        <div class="col-md-12" (contextmenu)="__elementSelectionService.select('1445559915',$event)" [ngStyle]="__elementSelectionService.getStyles('1445559915')">
                            <label for="date_format_val" class="col-form-label digi-label" (contextmenu)="__elementSelectionService.select('658475440',$event)" [ngStyle]="__elementSelectionService.getStyles('658475440')">&#160;</label>
                        </div>
                        <div class="col-md-12" (contextmenu)="__elementSelectionService.select('2131932313',$event)" [ngStyle]="__elementSelectionService.getStyles('2131932313')">
                            <button class="btn btn-digi" click="updateDate()" (contextmenu)="__elementSelectionService.select('298824126',$event)" [ngStyle]="__elementSelectionService.getStyles('298824126')"><i class="fa fa-save" (contextmenu)="__elementSelectionService.select('210264010',$event)" [ngStyle]="__elementSelectionService.getStyles('210264010')"></i> Update</button>
                        </div>
                    </div>
                </div>
        	</div>
        </div>
    </div>

    <div class="card card-digi mt-3" (contextmenu)="__elementSelectionService.select('1461790178',$event)" [ngStyle]="__elementSelectionService.getStyles('1461790178')">
        <div class="card-header accordion-header" id="heading-customer-two-view" data-toggle="collapse" data-target="#collapse-customer-two-view" aria-expanded="false" aria-controls="collapse-customer-two-view" click="openAccordion('heading-customer-two-view')" (contextmenu)="__elementSelectionService.select('1031665123',$event)" [ngStyle]="__elementSelectionService.getStyles('1031665123')">
            <h6 class="mb-0" (contextmenu)="__elementSelectionService.select('1372844467',$event)" [ngStyle]="__elementSelectionService.getStyles('1372844467')">
                <i class="fa fa-user" (contextmenu)="__elementSelectionService.select('535532108',$event)" [ngStyle]="__elementSelectionService.getStyles('535532108')"></i> Philippine British Signatory<span class="pull-right" (contextmenu)="__elementSelectionService.select('1094433382',$event)" [ngStyle]="__elementSelectionService.getStyles('1094433382')"><i class="fa fa-chevron-down" (contextmenu)="__elementSelectionService.select('322669903',$event)" [ngStyle]="__elementSelectionService.getStyles('322669903')"></i></span>
            </h6>
        </div>
        <div class="card-body collapse show show" id="collapse-customer-two-view" (contextmenu)="__elementSelectionService.select('1563142386',$event)" [ngStyle]="__elementSelectionService.getStyles('1563142386')">
            <div class="row" (contextmenu)="__elementSelectionService.select('512833769',$event)" [ngStyle]="__elementSelectionService.getStyles('512833769')">
                <div class="col-md-6" (contextmenu)="__elementSelectionService.select('48585175',$event)" [ngStyle]="__elementSelectionService.getStyles('48585175')">
                    <div class="row" (contextmenu)="__elementSelectionService.select('1308355889',$event)" [ngStyle]="__elementSelectionService.getStyles('1308355889')">
                        <div class="col-md-12" (contextmenu)="__elementSelectionService.select('1293393988',$event)" [ngStyle]="__elementSelectionService.getStyles('1293393988')">
                            <label for="date_format_val" class="col-form-label digi-label" (contextmenu)="__elementSelectionService.select('1524010879',$event)" [ngStyle]="__elementSelectionService.getStyles('1524010879')">Name</label>
                            <input type="text" id="date_format_val" class="form-control" ngModel="this.signatory1.configValue" (contextmenu)="__elementSelectionService.select('1918197267',$event)" [ngStyle]="__elementSelectionService.getStyles('1918197267')">
                        </div>
                    </div>
                </div>
                <div class="col-md-6" (contextmenu)="__elementSelectionService.select('1624614669',$event)" [ngStyle]="__elementSelectionService.getStyles('1624614669')">
                    <div class="row" (contextmenu)="__elementSelectionService.select('271597267',$event)" [ngStyle]="__elementSelectionService.getStyles('271597267')">
                        <div class="col-md-12" (contextmenu)="__elementSelectionService.select('2129917661',$event)" [ngStyle]="__elementSelectionService.getStyles('2129917661')">
                            <label for="date_format_val" class="col-form-label digi-label" (contextmenu)="__elementSelectionService.select('646875862',$event)" [ngStyle]="__elementSelectionService.getStyles('646875862')">&#160;</label>
                        </div>
                        <div class="col-md-12" (contextmenu)="__elementSelectionService.select('1806609605',$event)" [ngStyle]="__elementSelectionService.getStyles('1806609605')">
                            <button class="btn btn-digi" click="updateSignatoryOne()" (contextmenu)="__elementSelectionService.select('2054803909',$event)" [ngStyle]="__elementSelectionService.getStyles('2054803909')"><i class="fa fa-save" (contextmenu)="__elementSelectionService.select('459117897',$event)" [ngStyle]="__elementSelectionService.getStyles('459117897')"></i> Update</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" (contextmenu)="__elementSelectionService.select('1238852814',$event)" [ngStyle]="__elementSelectionService.getStyles('1238852814')">
                <div class="col-md-6" (contextmenu)="__elementSelectionService.select('1468084661',$event)" [ngStyle]="__elementSelectionService.getStyles('1468084661')">
                    <div class="row" (contextmenu)="__elementSelectionService.select('1665283449',$event)" [ngStyle]="__elementSelectionService.getStyles('1665283449')">
                        <div class="col-md-12" (contextmenu)="__elementSelectionService.select('348263301',$event)" [ngStyle]="__elementSelectionService.getStyles('348263301')">
                            <label for="date_format_val" class="col-form-label digi-label" (contextmenu)="__elementSelectionService.select('1715598535',$event)" [ngStyle]="__elementSelectionService.getStyles('1715598535')">Title</label>
                            <input type="text" id="date_format_val" class="form-control" ngModel="this.signatory1title.configValue" (contextmenu)="__elementSelectionService.select('940797219',$event)" [ngStyle]="__elementSelectionService.getStyles('940797219')">
                        </div>
                    </div>
                </div>
                <div class="col-md-6" (contextmenu)="__elementSelectionService.select('1250459301',$event)" [ngStyle]="__elementSelectionService.getStyles('1250459301')">
                    <div class="row" (contextmenu)="__elementSelectionService.select('1322390090',$event)" [ngStyle]="__elementSelectionService.getStyles('1322390090')">
                        <div class="col-md-12" (contextmenu)="__elementSelectionService.select('660353179',$event)" [ngStyle]="__elementSelectionService.getStyles('660353179')">
                            <label for="date_format_val" class="col-form-label digi-label" (contextmenu)="__elementSelectionService.select('75840294',$event)" [ngStyle]="__elementSelectionService.getStyles('75840294')">&#160;</label>
                        </div>
                        <div class="col-md-12" (contextmenu)="__elementSelectionService.select('233898053',$event)" [ngStyle]="__elementSelectionService.getStyles('233898053')">
                            <button class="btn btn-digi" click="updateSignatoryOneTitle()" (contextmenu)="__elementSelectionService.select('1399788531',$event)" [ngStyle]="__elementSelectionService.getStyles('1399788531')"><i class="fa fa-save" (contextmenu)="__elementSelectionService.select('359737837',$event)" [ngStyle]="__elementSelectionService.getStyles('359737837')"></i> Update</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" (contextmenu)="__elementSelectionService.select('947940462',$event)" [ngStyle]="__elementSelectionService.getStyles('947940462')">
                <div class="col-md-6" (contextmenu)="__elementSelectionService.select('1031188499',$event)" [ngStyle]="__elementSelectionService.getStyles('1031188499')">
                    <div class="row" (contextmenu)="__elementSelectionService.select('380488901',$event)" [ngStyle]="__elementSelectionService.getStyles('380488901')">
                        <div class="col-md-12" (contextmenu)="__elementSelectionService.select('177189308',$event)" [ngStyle]="__elementSelectionService.getStyles('177189308')">
                            <label for="date_format_val" class="col-form-label digi-label" (contextmenu)="__elementSelectionService.select('827805599',$event)" [ngStyle]="__elementSelectionService.getStyles('827805599')">Signature</label>
                            <input type="file" name="file" ng2FileSelect uploader="uploaderFirst" class="form-control" (contextmenu)="__elementSelectionService.select('959027086',$event)" [ngStyle]="__elementSelectionService.getStyles('959027086')">
                        </div>
                    </div>
                </div>
                <div class="col-md-6" (contextmenu)="__elementSelectionService.select('1100656522',$event)" [ngStyle]="__elementSelectionService.getStyles('1100656522')">
                    <div class="row" (contextmenu)="__elementSelectionService.select('921691220',$event)" [ngStyle]="__elementSelectionService.getStyles('921691220')">
                        <div class="col-md-12" (contextmenu)="__elementSelectionService.select('1028615841',$event)" [ngStyle]="__elementSelectionService.getStyles('1028615841')">
                            <label for="date_format_val" class="col-form-label digi-label" (contextmenu)="__elementSelectionService.select('1211046753',$event)" [ngStyle]="__elementSelectionService.getStyles('1211046753')">&#160;</label>
                        </div>
                        <div class="col-md-12" (contextmenu)="__elementSelectionService.select('1557994257',$event)" [ngStyle]="__elementSelectionService.getStyles('1557994257')">
                            <button class="btn btn-digi" click="uploaderFirst.uploadAll()" disabled="!uploaderFirst.getNotUploadedItems().length" (contextmenu)="__elementSelectionService.select('366578074',$event)" [ngStyle]="__elementSelectionService.getStyles('366578074')"><i class="fa fa-save" (contextmenu)="__elementSelectionService.select('1403377638',$event)" [ngStyle]="__elementSelectionService.getStyles('1403377638')"></i> Upload</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card card-digi mt-3" (contextmenu)="__elementSelectionService.select('1675705056',$event)" [ngStyle]="__elementSelectionService.getStyles('1675705056')">
        <div class="card-header accordion-header" id="heading-customer-three-view" data-toggle="collapse" data-target="#collapse-customer-three-view" aria-expanded="false" aria-controls="collapse-customer-three-view" click="openAccordion('heading-customer-three-view')" (contextmenu)="__elementSelectionService.select('1473294366',$event)" [ngStyle]="__elementSelectionService.getStyles('1473294366')">
            <h6 class="mb-0" (contextmenu)="__elementSelectionService.select('245130791',$event)" [ngStyle]="__elementSelectionService.getStyles('245130791')">
                <i class="fa fa-user" (contextmenu)="__elementSelectionService.select('1945869045',$event)" [ngStyle]="__elementSelectionService.getStyles('1945869045')"></i> Coco Life Signatory <span class="pull-right" (contextmenu)="__elementSelectionService.select('422025296',$event)" [ngStyle]="__elementSelectionService.getStyles('422025296')"><i class="fa fa-chevron-down" (contextmenu)="__elementSelectionService.select('1260755754',$event)" [ngStyle]="__elementSelectionService.getStyles('1260755754')"></i></span>
            </h6>
        </div>
        <div class="card-body collapse show show" id="collapse-customer-three-view" (contextmenu)="__elementSelectionService.select('644182327',$event)" [ngStyle]="__elementSelectionService.getStyles('644182327')">
            <div class="row" (contextmenu)="__elementSelectionService.select('166095676',$event)" [ngStyle]="__elementSelectionService.getStyles('166095676')">
                <div class="col-md-6" (contextmenu)="__elementSelectionService.select('749111112',$event)" [ngStyle]="__elementSelectionService.getStyles('749111112')">
                    <div class="row" (contextmenu)="__elementSelectionService.select('1270723901',$event)" [ngStyle]="__elementSelectionService.getStyles('1270723901')">
                        <div class="col-md-12" (contextmenu)="__elementSelectionService.select('1180469684',$event)" [ngStyle]="__elementSelectionService.getStyles('1180469684')">
                            <label for="date_format_val" class="col-form-label digi-label" (contextmenu)="__elementSelectionService.select('2086249928',$event)" [ngStyle]="__elementSelectionService.getStyles('2086249928')">Name</label>
                            <input type="text" id="date_format_val" class="form-control" ngModel="this.signatory2.configValue" (contextmenu)="__elementSelectionService.select('1692266956',$event)" [ngStyle]="__elementSelectionService.getStyles('1692266956')">
                        </div>
                    </div>
                </div>
                <div class="col-md-6" (contextmenu)="__elementSelectionService.select('1123005495',$event)" [ngStyle]="__elementSelectionService.getStyles('1123005495')">
                    <div class="row" (contextmenu)="__elementSelectionService.select('1625064695',$event)" [ngStyle]="__elementSelectionService.getStyles('1625064695')">
                        <div class="col-md-12" (contextmenu)="__elementSelectionService.select('1360665281',$event)" [ngStyle]="__elementSelectionService.getStyles('1360665281')">
                            <label for="date_format_val" class="col-form-label digi-label" (contextmenu)="__elementSelectionService.select('1522713279',$event)" [ngStyle]="__elementSelectionService.getStyles('1522713279')">&#160;</label>
                        </div>
                        <div class="col-md-12" (contextmenu)="__elementSelectionService.select('1706265564',$event)" [ngStyle]="__elementSelectionService.getStyles('1706265564')">
                            <button class="btn btn-digi" click="updateSignatoryTwo()" (contextmenu)="__elementSelectionService.select('1640775841',$event)" [ngStyle]="__elementSelectionService.getStyles('1640775841')"><i class="fa fa-save" (contextmenu)="__elementSelectionService.select('1610711627',$event)" [ngStyle]="__elementSelectionService.getStyles('1610711627')"></i> Update</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" (contextmenu)="__elementSelectionService.select('748319694',$event)" [ngStyle]="__elementSelectionService.getStyles('748319694')">
                <div class="col-md-6" (contextmenu)="__elementSelectionService.select('1435427050',$event)" [ngStyle]="__elementSelectionService.getStyles('1435427050')">
                    <div class="row" (contextmenu)="__elementSelectionService.select('1455713202',$event)" [ngStyle]="__elementSelectionService.getStyles('1455713202')">
                        <div class="col-md-12" (contextmenu)="__elementSelectionService.select('976992507',$event)" [ngStyle]="__elementSelectionService.getStyles('976992507')">
                            <label for="date_format_val" class="col-form-label digi-label" (contextmenu)="__elementSelectionService.select('1161869425',$event)" [ngStyle]="__elementSelectionService.getStyles('1161869425')">Title</label>
                            <input type="text" id="date_format_val" class="form-control" ngModel="this.signatory2title.configValue" (contextmenu)="__elementSelectionService.select('1743489411',$event)" [ngStyle]="__elementSelectionService.getStyles('1743489411')">
                        </div>
                    </div>
                </div>
                <div class="col-md-6" (contextmenu)="__elementSelectionService.select('310896439',$event)" [ngStyle]="__elementSelectionService.getStyles('310896439')">
                    <div class="row" (contextmenu)="__elementSelectionService.select('1973185020',$event)" [ngStyle]="__elementSelectionService.getStyles('1973185020')">
                        <div class="col-md-12" (contextmenu)="__elementSelectionService.select('895472654',$event)" [ngStyle]="__elementSelectionService.getStyles('895472654')">
                            <label for="date_format_val" class="col-form-label digi-label" (contextmenu)="__elementSelectionService.select('247719095',$event)" [ngStyle]="__elementSelectionService.getStyles('247719095')">&#160;</label>
                        </div>
                        <div class="col-md-12" (contextmenu)="__elementSelectionService.select('600835079',$event)" [ngStyle]="__elementSelectionService.getStyles('600835079')">
                            <button class="btn btn-digi" click="updateSignatoryTwoTitle()" (contextmenu)="__elementSelectionService.select('898976264',$event)" [ngStyle]="__elementSelectionService.getStyles('898976264')"><i class="fa fa-save" (contextmenu)="__elementSelectionService.select('2124486416',$event)" [ngStyle]="__elementSelectionService.getStyles('2124486416')"></i> Update</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" (contextmenu)="__elementSelectionService.select('1867952687',$event)" [ngStyle]="__elementSelectionService.getStyles('1867952687')">
                <div class="col-md-6" (contextmenu)="__elementSelectionService.select('1283810302',$event)" [ngStyle]="__elementSelectionService.getStyles('1283810302')">
                    <div class="row" (contextmenu)="__elementSelectionService.select('1407169900',$event)" [ngStyle]="__elementSelectionService.getStyles('1407169900')">
                        <div class="col-md-12" (contextmenu)="__elementSelectionService.select('623915408',$event)" [ngStyle]="__elementSelectionService.getStyles('623915408')">
                            <label for="date_format_val" class="col-form-label digi-label" (contextmenu)="__elementSelectionService.select('2142054611',$event)" [ngStyle]="__elementSelectionService.getStyles('2142054611')">Signature</label>
                            <input type="file" name="file" ng2FileSelect uploader="uploaderSecond" class="form-control" (contextmenu)="__elementSelectionService.select('416300619',$event)" [ngStyle]="__elementSelectionService.getStyles('416300619')">
                        </div>
                    </div>
                </div>
                <div class="col-md-6" (contextmenu)="__elementSelectionService.select('906665192',$event)" [ngStyle]="__elementSelectionService.getStyles('906665192')">
                    <div class="row" (contextmenu)="__elementSelectionService.select('311592712',$event)" [ngStyle]="__elementSelectionService.getStyles('311592712')">
                        <div class="col-md-12" (contextmenu)="__elementSelectionService.select('82824761',$event)" [ngStyle]="__elementSelectionService.getStyles('82824761')">
                            <label for="date_format_val" class="col-form-label digi-label" (contextmenu)="__elementSelectionService.select('492079753',$event)" [ngStyle]="__elementSelectionService.getStyles('492079753')">&#160;</label>
                        </div>
                        <div class="col-md-12" (contextmenu)="__elementSelectionService.select('2136713239',$event)" [ngStyle]="__elementSelectionService.getStyles('2136713239')">
                            <button class="btn btn-digi" click="uploaderSecond.uploadAll()" disabled="!uploaderSecond.getNotUploadedItems().length" (contextmenu)="__elementSelectionService.select('2046282291',$event)" [ngStyle]="__elementSelectionService.getStyles('2046282291')"><i class="fa fa-save" (contextmenu)="__elementSelectionService.select('51600690',$event)" [ngStyle]="__elementSelectionService.getStyles('51600690')"></i> Upload</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card card-digi mt-3" (contextmenu)="__elementSelectionService.select('975871771',$event)" [ngStyle]="__elementSelectionService.getStyles('975871771')">
        <div class="card-header accordion-header" id="heading-customer-four-view" data-toggle="collapse" data-target="#collapse-customer-four-view" aria-expanded="false" aria-controls="collapse-customer-four-view" click="openAccordion('heading-customer-four-view')" (contextmenu)="__elementSelectionService.select('412324697',$event)" [ngStyle]="__elementSelectionService.getStyles('412324697')">
            <h6 class="mb-0" (contextmenu)="__elementSelectionService.select('1609724970',$event)" [ngStyle]="__elementSelectionService.getStyles('1609724970')">
                <i class="fa fa-user" (contextmenu)="__elementSelectionService.select('1183926315',$event)" [ngStyle]="__elementSelectionService.getStyles('1183926315')"></i> Underwriting Age Restriction <span class="pull-right" (contextmenu)="__elementSelectionService.select('674088357',$event)" [ngStyle]="__elementSelectionService.getStyles('674088357')"><i class="fa fa-chevron-down" (contextmenu)="__elementSelectionService.select('740328098',$event)" [ngStyle]="__elementSelectionService.getStyles('740328098')"></i></span>
            </h6>
        </div>
        <div class="card-body collapse show show" id="collapse-customer-four-view" (contextmenu)="__elementSelectionService.select('1623187496',$event)" [ngStyle]="__elementSelectionService.getStyles('1623187496')">
            <div class="row" (contextmenu)="__elementSelectionService.select('740502532',$event)" [ngStyle]="__elementSelectionService.getStyles('740502532')">
                <div class="col-md-6" (contextmenu)="__elementSelectionService.select('1793443016',$event)" [ngStyle]="__elementSelectionService.getStyles('1793443016')">
                    <div class="row" (contextmenu)="__elementSelectionService.select('1115192996',$event)" [ngStyle]="__elementSelectionService.getStyles('1115192996')">
                        <div class="col-md-12" (contextmenu)="__elementSelectionService.select('1566140515',$event)" [ngStyle]="__elementSelectionService.getStyles('1566140515')">
                            <label for="date_format_val" class="col-form-label digi-label" (contextmenu)="__elementSelectionService.select('1747926208',$event)" [ngStyle]="__elementSelectionService.getStyles('1747926208')">Minimum Age</label>
                            <input type="number" id="date_format_val" class="form-control" ngModel="this.minimumAge.configValue" (contextmenu)="__elementSelectionService.select('740845193',$event)" [ngStyle]="__elementSelectionService.getStyles('740845193')">
                        </div>
                    </div>
                </div>
                <div class="col-md-6" (contextmenu)="__elementSelectionService.select('757379318',$event)" [ngStyle]="__elementSelectionService.getStyles('757379318')">
                    <div class="row" (contextmenu)="__elementSelectionService.select('992530241',$event)" [ngStyle]="__elementSelectionService.getStyles('992530241')">
                        <div class="col-md-12" (contextmenu)="__elementSelectionService.select('711994840',$event)" [ngStyle]="__elementSelectionService.getStyles('711994840')">
                            <label for="date_format_val" class="col-form-label digi-label" (contextmenu)="__elementSelectionService.select('1157831217',$event)" [ngStyle]="__elementSelectionService.getStyles('1157831217')">&#160;</label>
                        </div>
                        <div class="col-md-12" (contextmenu)="__elementSelectionService.select('1294512487',$event)" [ngStyle]="__elementSelectionService.getStyles('1294512487')">
                            <button class="btn btn-digi" click="updateMinimumAge()" (contextmenu)="__elementSelectionService.select('814169412',$event)" [ngStyle]="__elementSelectionService.getStyles('814169412')"><i class="fa fa-save" (contextmenu)="__elementSelectionService.select('456312929',$event)" [ngStyle]="__elementSelectionService.getStyles('456312929')"></i> Update</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" (contextmenu)="__elementSelectionService.select('1186831268',$event)" [ngStyle]="__elementSelectionService.getStyles('1186831268')">
                <div class="col-md-6" (contextmenu)="__elementSelectionService.select('1318496669',$event)" [ngStyle]="__elementSelectionService.getStyles('1318496669')">
                    <div class="row" (contextmenu)="__elementSelectionService.select('1207095318',$event)" [ngStyle]="__elementSelectionService.getStyles('1207095318')">
                        <div class="col-md-12" (contextmenu)="__elementSelectionService.select('1250847049',$event)" [ngStyle]="__elementSelectionService.getStyles('1250847049')">
                            <label for="date_format_val" class="col-form-label digi-label" (contextmenu)="__elementSelectionService.select('1623505671',$event)" [ngStyle]="__elementSelectionService.getStyles('1623505671')">Maximum Age</label>
                            <input type="number" id="date_format_val" class="form-control" ngModel="this.maximumAge.configValue" (contextmenu)="__elementSelectionService.select('468004035',$event)" [ngStyle]="__elementSelectionService.getStyles('468004035')">
                        </div>
                    </div>
                </div>
                <div class="col-md-6" (contextmenu)="__elementSelectionService.select('1246113225',$event)" [ngStyle]="__elementSelectionService.getStyles('1246113225')">
                    <div class="row" (contextmenu)="__elementSelectionService.select('1941684713',$event)" [ngStyle]="__elementSelectionService.getStyles('1941684713')">
                        <div class="col-md-12" (contextmenu)="__elementSelectionService.select('920801306',$event)" [ngStyle]="__elementSelectionService.getStyles('920801306')">
                            <label for="date_format_val" class="col-form-label digi-label" (contextmenu)="__elementSelectionService.select('80994609',$event)" [ngStyle]="__elementSelectionService.getStyles('80994609')">&#160;</label>
                        </div>
                        <div class="col-md-12" (contextmenu)="__elementSelectionService.select('2139143175',$event)" [ngStyle]="__elementSelectionService.getStyles('2139143175')">
                            <button class="btn btn-digi" click="updateMaximumAge()" (contextmenu)="__elementSelectionService.select('1385799319',$event)" [ngStyle]="__elementSelectionService.getStyles('1385799319')"><i class="fa fa-save" (contextmenu)="__elementSelectionService.select('1994356318',$event)" [ngStyle]="__elementSelectionService.getStyles('1994356318')"></i> Update</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card card-digi mt-3" (contextmenu)="__elementSelectionService.select('1830734813',$event)" [ngStyle]="__elementSelectionService.getStyles('1830734813')">
        <div class="card-header accordion-header" id="heading-customer-five-view" data-toggle="collapse" data-target="#collapse-customer-five-view" aria-expanded="false" aria-controls="collapse-customer-five-view" click="openAccordion('heading-customer-five-view')" (contextmenu)="__elementSelectionService.select('394535677',$event)" [ngStyle]="__elementSelectionService.getStyles('394535677')">
            <h6 class="mb-0" (contextmenu)="__elementSelectionService.select('158825404',$event)" [ngStyle]="__elementSelectionService.getStyles('158825404')">
                <i class="fa fa-user" (contextmenu)="__elementSelectionService.select('77041994',$event)" [ngStyle]="__elementSelectionService.getStyles('77041994')"></i> Underwriting Restricted Country <span class="pull-right" (contextmenu)="__elementSelectionService.select('525132326',$event)" [ngStyle]="__elementSelectionService.getStyles('525132326')"><i class="fa fa-chevron-down" (contextmenu)="__elementSelectionService.select('694794488',$event)" [ngStyle]="__elementSelectionService.getStyles('694794488')"></i></span>
            </h6>
        </div>
        <div class="card-body collapse show show" id="collapse-customer-five-view" (contextmenu)="__elementSelectionService.select('460430578',$event)" [ngStyle]="__elementSelectionService.getStyles('460430578')">
            <div class="row" (contextmenu)="__elementSelectionService.select('592724759',$event)" [ngStyle]="__elementSelectionService.getStyles('592724759')">
                <div class="col-md-6" (contextmenu)="__elementSelectionService.select('1534183561',$event)" [ngStyle]="__elementSelectionService.getStyles('1534183561')">
                    <div class="row" (contextmenu)="__elementSelectionService.select('1060836711',$event)" [ngStyle]="__elementSelectionService.getStyles('1060836711')">
                        <div class="col-md-12" (contextmenu)="__elementSelectionService.select('674928766',$event)" [ngStyle]="__elementSelectionService.getStyles('674928766')">
                            <label for="date_format_val" class="col-form-label digi-label" (contextmenu)="__elementSelectionService.select('704064149',$event)" [ngStyle]="__elementSelectionService.getStyles('704064149')">List of Countries</label>
                            <select id="aod" class="form-control" ngModel="this.countryId" (contextmenu)="__elementSelectionService.select('2081917602',$event)" [ngStyle]="__elementSelectionService.getStyles('2081917602')">
                                <option value="0" selected="selected" disabled="disabled" (contextmenu)="__elementSelectionService.select('467679338',$event)" [ngStyle]="__elementSelectionService.getStyles('467679338')">Choose Country to Restrict</option>
                                <option ngFor="let country of this.countryList" value="{{country.countryId}}" (contextmenu)="__elementSelectionService.select('1743104512',$event)" [ngStyle]="__elementSelectionService.getStyles('1743104512')">
                                        {{country.name}}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-6" (contextmenu)="__elementSelectionService.select('2002163691',$event)" [ngStyle]="__elementSelectionService.getStyles('2002163691')">
                    <div class="row" (contextmenu)="__elementSelectionService.select('936661305',$event)" [ngStyle]="__elementSelectionService.getStyles('936661305')">
                        <div class="col-md-12" (contextmenu)="__elementSelectionService.select('770514113',$event)" [ngStyle]="__elementSelectionService.getStyles('770514113')">
                            <label for="date_format_val" class="col-form-label digi-label" (contextmenu)="__elementSelectionService.select('1737623254',$event)" [ngStyle]="__elementSelectionService.getStyles('1737623254')">&#160;</label>
                        </div>
                        <div class="col-md-12" (contextmenu)="__elementSelectionService.select('607665152',$event)" [ngStyle]="__elementSelectionService.getStyles('607665152')">
                            <button class="btn btn-digi" click="addNewCountry()" (contextmenu)="__elementSelectionService.select('837872679',$event)" [ngStyle]="__elementSelectionService.getStyles('837872679')"><i class="fa fa-plus" (contextmenu)="__elementSelectionService.select('1958671820',$event)" [ngStyle]="__elementSelectionService.getStyles('1958671820')"></i> Add</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-5" (contextmenu)="__elementSelectionService.select('57534779',$event)" [ngStyle]="__elementSelectionService.getStyles('57534779')">
                <div class="col-md-12" (contextmenu)="__elementSelectionService.select('1724910954',$event)" [ngStyle]="__elementSelectionService.getStyles('1724910954')">
                    <label for="date_format_val" class="col-form-label digi-label" (contextmenu)="__elementSelectionService.select('1358382147',$event)" [ngStyle]="__elementSelectionService.getStyles('1358382147')">List of Restricted Countries</label>
                    <div class="table-responsive" ngIf="this.restrictedCountries.length &#62; 0" (contextmenu)="__elementSelectionService.select('1399118596',$event)" [ngStyle]="__elementSelectionService.getStyles('1399118596')">
                        <table class="table table-condensed table-hover table-small" (contextmenu)="__elementSelectionService.select('1059898466',$event)" [ngStyle]="__elementSelectionService.getStyles('1059898466')">
                            <thead (contextmenu)="__elementSelectionService.select('1500587440',$event)" [ngStyle]="__elementSelectionService.getStyles('1500587440')">
                                <td (contextmenu)="__elementSelectionService.select('869185409',$event)" [ngStyle]="__elementSelectionService.getStyles('869185409')">Country Id</td>
                                <td (contextmenu)="__elementSelectionService.select('1174922759',$event)" [ngStyle]="__elementSelectionService.getStyles('1174922759')">Name</td>
                                <td (contextmenu)="__elementSelectionService.select('525411697',$event)" [ngStyle]="__elementSelectionService.getStyles('525411697')"></td>
                            </thead>
                            <tbody (contextmenu)="__elementSelectionService.select('1331548046',$event)" [ngStyle]="__elementSelectionService.getStyles('1331548046')">
                                <tr ngFor="let country of this.restrictedCountries" (contextmenu)="__elementSelectionService.select('166271835',$event)" [ngStyle]="__elementSelectionService.getStyles('166271835')">
                                    <td (contextmenu)="__elementSelectionService.select('1881666495',$event)" [ngStyle]="__elementSelectionService.getStyles('1881666495')">{{country.countryId}}</td>
                                    <td (contextmenu)="__elementSelectionService.select('1716206183',$event)" [ngStyle]="__elementSelectionService.getStyles('1716206183')">{{country.name}}</td>
                                    <td (contextmenu)="__elementSelectionService.select('1196144799',$event)" [ngStyle]="__elementSelectionService.getStyles('1196144799')"><button class="btn btn-digi" click="removeCountry(country)" (contextmenu)="__elementSelectionService.select('104419566',$event)" [ngStyle]="__elementSelectionService.getStyles('104419566')"><i class="fa fa-times" (contextmenu)="__elementSelectionService.select('1229779357',$event)" [ngStyle]="__elementSelectionService.getStyles('1229779357')"></i></button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>