<div id="content" (contextmenu)="__elementSelectionService.select('1578678139',$event)" [ngStyle]="__elementSelectionService.getStyles('1578678139')"(click)='__elementSelectionService.clear()'>
    <h5 class="page-title" (contextmenu)="__elementSelectionService.select('1888780863',$event)" [ngStyle]="__elementSelectionService.getStyles('1888780863')">

        <i class="fa fa-list-ul" (contextmenu)="__elementSelectionService.select('1798062137',$event)" [ngStyle]="__elementSelectionService.getStyles('1798062137')"></i> Policy Coverages Management
    </h5>

    <button class="btn btn-digi btn-sm" data-toggle="modal" data-target="#modalNewCoverage" (contextmenu)="__elementSelectionService.select('975502134',$event)" [ngStyle]="__elementSelectionService.getStyles('975502134')"><i class="fa fa-plus" (contextmenu)="__elementSelectionService.select('493814984',$event)" [ngStyle]="__elementSelectionService.getStyles('493814984')"></i> Add Coverage</button>
    
    <div class="table-responsive" (contextmenu)="__elementSelectionService.select('1228863520',$event)" [ngStyle]="__elementSelectionService.getStyles('1228863520')">
    <table class="table-text-left table table-condensed table-hover   mt-3 table-small" (contextmenu)="__elementSelectionService.select('1075463350',$event)" [ngStyle]="__elementSelectionService.getStyles('1075463350')">
    	<thead (contextmenu)="__elementSelectionService.select('1568336584',$event)" [ngStyle]="__elementSelectionService.getStyles('1568336584')">
    		
            <td (contextmenu)="__elementSelectionService.select('945220843',$event)" [ngStyle]="__elementSelectionService.getStyles('945220843')">Name</td>
    		<td (contextmenu)="__elementSelectionService.select('110619705',$event)" [ngStyle]="__elementSelectionService.getStyles('110619705')">Benefit</td>
            <td (contextmenu)="__elementSelectionService.select('347744169',$event)" [ngStyle]="__elementSelectionService.getStyles('347744169')">Line</td>
            <td (contextmenu)="__elementSelectionService.select('505193308',$event)" [ngStyle]="__elementSelectionService.getStyles('505193308')">Subline</td>
            <td (contextmenu)="__elementSelectionService.select('295843264',$event)" [ngStyle]="__elementSelectionService.getStyles('295843264')">Date Added</td>
    		<td style="min-width: 80px;" (contextmenu)="__elementSelectionService.select('686679529',$event)" [ngStyle]="__elementSelectionService.getStyles('686679529')"></td>
    	</thead>
    	<tbody (contextmenu)="__elementSelectionService.select('1840191538',$event)" [ngStyle]="__elementSelectionService.getStyles('1840191538')">
    		<tr ngFor="let coverage of coveragesList" (contextmenu)="__elementSelectionService.select('382881944',$event)" [ngStyle]="__elementSelectionService.getStyles('382881944')">
                
                <td (contextmenu)="__elementSelectionService.select('383675319',$event)" [ngStyle]="__elementSelectionService.getStyles('383675319')">{{coverage.type_name}} ({{coverage.cover_code}})</td>
                <td (contextmenu)="__elementSelectionService.select('1373308456',$event)" [ngStyle]="__elementSelectionService.getStyles('1373308456')">{{coverage.type_description}}</td>
                <td (contextmenu)="__elementSelectionService.select('1151400617',$event)" [ngStyle]="__elementSelectionService.getStyles('1151400617')">{{coverage.line_description}}</td>
                <td (contextmenu)="__elementSelectionService.select('1081222197',$event)" [ngStyle]="__elementSelectionService.getStyles('1081222197')">{{coverage.subline_description}}</td>
                <td (contextmenu)="__elementSelectionService.select('622099551',$event)" [ngStyle]="__elementSelectionService.getStyles('622099551')">{{coverage.date_added}}</td>
    			<td (contextmenu)="__elementSelectionService.select('754435219',$event)" [ngStyle]="__elementSelectionService.getStyles('754435219')">
                    <button data-toggle="modal" data-target="#modalUpdateCoverage" class="btn btn-digi btn-sm  mr-1" click="updateCoverageType(coverage)" (contextmenu)="__elementSelectionService.select('1866536470',$event)" [ngStyle]="__elementSelectionService.getStyles('1866536470')"><i class="fa fa-pencil text-default" (contextmenu)="__elementSelectionService.select('1053017159',$event)" [ngStyle]="__elementSelectionService.getStyles('1053017159')"></i> </button>
                    <button class="btn btn-digi-red btn-sm" click="deleteCoverageType(coverage)" (contextmenu)="__elementSelectionService.select('942907716',$event)" [ngStyle]="__elementSelectionService.getStyles('942907716')"><i class="fa fa-times" (contextmenu)="__elementSelectionService.select('720517517',$event)" [ngStyle]="__elementSelectionService.getStyles('720517517')"></i> </button>
                </td>
    		</tr>
    	</tbody>
    </table>
</div>
    
	<div class="modal fade" id="modalNewCoverage" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true" (contextmenu)="__elementSelectionService.select('1298430819',$event)" [ngStyle]="__elementSelectionService.getStyles('1298430819')">
	  <div class="modal-dialog" role="document" (contextmenu)="__elementSelectionService.select('1831174004',$event)" [ngStyle]="__elementSelectionService.getStyles('1831174004')">
	    <div class="modal-content" (contextmenu)="__elementSelectionService.select('1211746837',$event)" [ngStyle]="__elementSelectionService.getStyles('1211746837')">
	      <div class="modal-header modal-header-digi" (contextmenu)="__elementSelectionService.select('1933356238',$event)" [ngStyle]="__elementSelectionService.getStyles('1933356238')">
	        <h5 class="modal-title" id="exampleModalLongTitle" (contextmenu)="__elementSelectionService.select('493715113',$event)" [ngStyle]="__elementSelectionService.getStyles('493715113')">New Benefit</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (contextmenu)="__elementSelectionService.select('1542810799',$event)" [ngStyle]="__elementSelectionService.getStyles('1542810799')">
	          <span aria-hidden="true" (contextmenu)="__elementSelectionService.select('1562016934',$event)" [ngStyle]="__elementSelectionService.getStyles('1562016934')">&#215;</span>
	        </button>
	      </div>
	      <div class="modal-body" (contextmenu)="__elementSelectionService.select('1272377623',$event)" [ngStyle]="__elementSelectionService.getStyles('1272377623')">

            <div class="form-group" (contextmenu)="__elementSelectionService.select('1035486962',$event)" [ngStyle]="__elementSelectionService.getStyles('1035486962')">
                <div class="row" (contextmenu)="__elementSelectionService.select('1297663486',$event)" [ngStyle]="__elementSelectionService.getStyles('1297663486')">
                    <div class="col-md-3" (contextmenu)="__elementSelectionService.select('1126793151',$event)" [ngStyle]="__elementSelectionService.getStyles('1126793151')">
                        <label for="fullname" (contextmenu)="__elementSelectionService.select('1057714308',$event)" [ngStyle]="__elementSelectionService.getStyles('1057714308')">Line</label>
                    </div>
                    <div class="col-md-9" (contextmenu)="__elementSelectionService.select('1081818689',$event)" [ngStyle]="__elementSelectionService.getStyles('1081818689')">
                        <select class="form-control" change="chooseLine('insert')" ngModel="coverage.line_detail_id" (contextmenu)="__elementSelectionService.select('1267168389',$event)" [ngStyle]="__elementSelectionService.getStyles('1267168389')">
                            <option disabled="disabled" (contextmenu)="__elementSelectionService.select('1138441933',$event)" [ngStyle]="__elementSelectionService.getStyles('1138441933')">Please choose a Line</option>
                            <option ngFor="let line of lineList" value="{{line.line_detail_id}}" (contextmenu)="__elementSelectionService.select('665905506',$event)" [ngStyle]="__elementSelectionService.getStyles('665905506')">
                                {{line.description}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="form-group hidden" id="subline-chooser" (contextmenu)="__elementSelectionService.select('1050690275',$event)" [ngStyle]="__elementSelectionService.getStyles('1050690275')">
                <div class="row" (contextmenu)="__elementSelectionService.select('1316174574',$event)" [ngStyle]="__elementSelectionService.getStyles('1316174574')">
                    <div class="col-md-3" (contextmenu)="__elementSelectionService.select('1422153915',$event)" [ngStyle]="__elementSelectionService.getStyles('1422153915')">
                        <label for="fullname" (contextmenu)="__elementSelectionService.select('1948209336',$event)" [ngStyle]="__elementSelectionService.getStyles('1948209336')">Subline</label>
                    </div>
                    <div class="col-md-9" (contextmenu)="__elementSelectionService.select('1217704834',$event)" [ngStyle]="__elementSelectionService.getStyles('1217704834')">
                        <select class="form-control" change="chooseSubLine()" ngModel="coverage.subline_detail_id" (contextmenu)="__elementSelectionService.select('526865460',$event)" [ngStyle]="__elementSelectionService.getStyles('526865460')">
                            <option disabled="disabled" (contextmenu)="__elementSelectionService.select('1762711267',$event)" [ngStyle]="__elementSelectionService.getStyles('1762711267')">Please choose a Subline</option>
                            <option ngFor="let subline of sublineList" value="{{subline.subline_detail_id}}" (contextmenu)="__elementSelectionService.select('1728369129',$event)" [ngStyle]="__elementSelectionService.getStyles('1728369129')">
                                {{subline.description}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div id="new-coverage-col" class="hidden" (contextmenu)="__elementSelectionService.select('182543912',$event)" [ngStyle]="__elementSelectionService.getStyles('182543912')">
                <div class="form-group" (contextmenu)="__elementSelectionService.select('788682164',$event)" [ngStyle]="__elementSelectionService.getStyles('788682164')">
                    <div class="row" (contextmenu)="__elementSelectionService.select('1078606201',$event)" [ngStyle]="__elementSelectionService.getStyles('1078606201')">
                        <div class="col-md-3" (contextmenu)="__elementSelectionService.select('16790272',$event)" [ngStyle]="__elementSelectionService.getStyles('16790272')">
                            <label for="fullname" (contextmenu)="__elementSelectionService.select('13747502',$event)" [ngStyle]="__elementSelectionService.getStyles('13747502')">Coverage Name</label>
                        </div>
                        <div class="col-md-9" (contextmenu)="__elementSelectionService.select('1027841909',$event)" [ngStyle]="__elementSelectionService.getStyles('1027841909')">
                            <input type="text" change="isDirty = true" class="form-control" placeholder="Name" aria-label="Name" aria-describedby="basic-addon1" id="coverage-name" ngModel="coverage.type_name" (contextmenu)="__elementSelectionService.select('743696469',$event)" [ngStyle]="__elementSelectionService.getStyles('743696469')">
                        </div>
                    </div>
                </div>

                <div class="form-group" (contextmenu)="__elementSelectionService.select('751523564',$event)" [ngStyle]="__elementSelectionService.getStyles('751523564')">
                    <div class="row" (contextmenu)="__elementSelectionService.select('582815470',$event)" [ngStyle]="__elementSelectionService.getStyles('582815470')">
                        <div class="col-md-3" (contextmenu)="__elementSelectionService.select('52725243',$event)" [ngStyle]="__elementSelectionService.getStyles('52725243')">
                            <label for="fullname" (contextmenu)="__elementSelectionService.select('805753994',$event)" [ngStyle]="__elementSelectionService.getStyles('805753994')">Coverage Benefit</label>
                        </div>
                        <div class="col-md-9" (contextmenu)="__elementSelectionService.select('1183619152',$event)" [ngStyle]="__elementSelectionService.getStyles('1183619152')">
                            <input type="text" change="isDirty = true" class="form-control" placeholder="Benefit" aria-label="Benefit" aria-describedby="basic-addon1" id="coverage-benefit" ngModel="coverage.type_description" (contextmenu)="__elementSelectionService.select('210514961',$event)" [ngStyle]="__elementSelectionService.getStyles('210514961')">
                        </div>
                    </div>
                </div>

                <div class="form-group" (contextmenu)="__elementSelectionService.select('731931430',$event)" [ngStyle]="__elementSelectionService.getStyles('731931430')">
                    <div class="row" (contextmenu)="__elementSelectionService.select('755253340',$event)" [ngStyle]="__elementSelectionService.getStyles('755253340')">
                        <div class="col-md-3" (contextmenu)="__elementSelectionService.select('266867636',$event)" [ngStyle]="__elementSelectionService.getStyles('266867636')">
                            <label for="fullname" (contextmenu)="__elementSelectionService.select('1655280356',$event)" [ngStyle]="__elementSelectionService.getStyles('1655280356')">Coverage Code</label>
                        </div>
                        <div class="col-md-9" (contextmenu)="__elementSelectionService.select('1245209796',$event)" [ngStyle]="__elementSelectionService.getStyles('1245209796')">
                            <input type="text" change="isDirty = true" class="form-control" placeholder="Benefit" aria-label="Benefit" aria-describedby="basic-addon1" id="coverage-code" ngModel="coverage.cover_code" (contextmenu)="__elementSelectionService.select('1160895359',$event)" [ngStyle]="__elementSelectionService.getStyles('1160895359')">
                        </div>
                    </div>
                </div>
            </div>


	      </div>
	      <div class="modal-footer" (contextmenu)="__elementSelectionService.select('176883166',$event)" [ngStyle]="__elementSelectionService.getStyles('176883166')">
	        <button type="button" class="btn btn-digi" id="addCoverageClose" data-dismiss="modal" (contextmenu)="__elementSelectionService.select('605784281',$event)" [ngStyle]="__elementSelectionService.getStyles('605784281')">Close</button>
	        <button type="button" class="btn btn-digi" click="addCoverage()" (contextmenu)="__elementSelectionService.select('755812058',$event)" [ngStyle]="__elementSelectionService.getStyles('755812058')">Save Changes</button>
	      </div>
	    </div>
	  </div>
	</div>

    <div class="modal fade" id="modalUpdateCoverage" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true" ngIf="this.coveragesListUpdate !== null" (contextmenu)="__elementSelectionService.select('1722620455',$event)" [ngStyle]="__elementSelectionService.getStyles('1722620455')">
      <div class="modal-dialog" role="document" (contextmenu)="__elementSelectionService.select('878335705',$event)" [ngStyle]="__elementSelectionService.getStyles('878335705')">
        <div class="modal-content" (contextmenu)="__elementSelectionService.select('1283415499',$event)" [ngStyle]="__elementSelectionService.getStyles('1283415499')">
          <div class="modal-header modal-header-digi" (contextmenu)="__elementSelectionService.select('126773384',$event)" [ngStyle]="__elementSelectionService.getStyles('126773384')">
            <h5 class="modal-title" id="exampleModalLongTitle" (contextmenu)="__elementSelectionService.select('159135356',$event)" [ngStyle]="__elementSelectionService.getStyles('159135356')">Update Benefit Details</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (contextmenu)="__elementSelectionService.select('1878414612',$event)" [ngStyle]="__elementSelectionService.getStyles('1878414612')">
              <span aria-hidden="true" (contextmenu)="__elementSelectionService.select('1498536996',$event)" [ngStyle]="__elementSelectionService.getStyles('1498536996')">&#215;</span>
            </button>
          </div>
          <div class="modal-body" (contextmenu)="__elementSelectionService.select('770647470',$event)" [ngStyle]="__elementSelectionService.getStyles('770647470')">

            <div class="form-group hidden" (contextmenu)="__elementSelectionService.select('1162357177',$event)" [ngStyle]="__elementSelectionService.getStyles('1162357177')">
                <div class="row" (contextmenu)="__elementSelectionService.select('407608049',$event)" [ngStyle]="__elementSelectionService.getStyles('407608049')">
                    <div class="col-md-3" (contextmenu)="__elementSelectionService.select('1336722720',$event)" [ngStyle]="__elementSelectionService.getStyles('1336722720')">
                        <label for="fullname" (contextmenu)="__elementSelectionService.select('465193774',$event)" [ngStyle]="__elementSelectionService.getStyles('465193774')">Line</label>
                    </div>
                    <div class="col-md-9" (contextmenu)="__elementSelectionService.select('524004353',$event)" [ngStyle]="__elementSelectionService.getStyles('524004353')">
                        <select class="form-control" change="chooseLine('update')" value="{{this.coveragesListUpdate.line_detail_id}}" ngModel="this.coveragesListUpdate.line_detail_id" (contextmenu)="__elementSelectionService.select('1533227269',$event)" [ngStyle]="__elementSelectionService.getStyles('1533227269')">
                            <option disabled="disabled" (contextmenu)="__elementSelectionService.select('1917811340',$event)" [ngStyle]="__elementSelectionService.getStyles('1917811340')">Please choose a Line</option>
                            <option ngFor="let line of lineList.msg" value="{{line.line_detail_id}}" (contextmenu)="__elementSelectionService.select('996523216',$event)" [ngStyle]="__elementSelectionService.getStyles('996523216')">
                                {{line.description}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="form-group hidden" id="subline-chooser" (contextmenu)="__elementSelectionService.select('2038187033',$event)" [ngStyle]="__elementSelectionService.getStyles('2038187033')">
                <div class="row" (contextmenu)="__elementSelectionService.select('1003862314',$event)" [ngStyle]="__elementSelectionService.getStyles('1003862314')">
                    <div class="col-md-3" (contextmenu)="__elementSelectionService.select('851918790',$event)" [ngStyle]="__elementSelectionService.getStyles('851918790')">
                        <label for="fullname" (contextmenu)="__elementSelectionService.select('609392242',$event)" [ngStyle]="__elementSelectionService.getStyles('609392242')">Subline</label>
                    </div>
                    <div class="col-md-9" (contextmenu)="__elementSelectionService.select('1066750573',$event)" [ngStyle]="__elementSelectionService.getStyles('1066750573')">
                        <select class="form-control" value="{{this.coveragesListUpdate.subline_detail_id}}" ngModel="this.coveragesListUpdate.subline_detail_id" (contextmenu)="__elementSelectionService.select('689938524',$event)" [ngStyle]="__elementSelectionService.getStyles('689938524')">
                            <option disabled="disabled" (contextmenu)="__elementSelectionService.select('581796790',$event)" [ngStyle]="__elementSelectionService.getStyles('581796790')">Please choose a Subline</option>
                            <option ngFor="let subline of sublineList.msg" value="{{subline.subline_detail_id}}" (contextmenu)="__elementSelectionService.select('310141079',$event)" [ngStyle]="__elementSelectionService.getStyles('310141079')">
                                {{subline.description}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="form-group" (contextmenu)="__elementSelectionService.select('133127823',$event)" [ngStyle]="__elementSelectionService.getStyles('133127823')">
                <div class="row" (contextmenu)="__elementSelectionService.select('1403392878',$event)" [ngStyle]="__elementSelectionService.getStyles('1403392878')">
                    <div class="col-md-3" (contextmenu)="__elementSelectionService.select('492341919',$event)" [ngStyle]="__elementSelectionService.getStyles('492341919')">
                        <label for="fullname" (contextmenu)="__elementSelectionService.select('1825651067',$event)" [ngStyle]="__elementSelectionService.getStyles('1825651067')">Benefit Name</label>
                    </div>
                    <div class="col-md-9" (contextmenu)="__elementSelectionService.select('288819528',$event)" [ngStyle]="__elementSelectionService.getStyles('288819528')">
                        <input type="text" change="isDirty = true" class="form-control" id="coverage-name" value="{{this.coveragesListUpdate.type_name}}" ngModel="this.coveragesListUpdate.type_name" (contextmenu)="__elementSelectionService.select('1927890275',$event)" [ngStyle]="__elementSelectionService.getStyles('1927890275')">
                    </div>
                </div>
                <div class="row" (contextmenu)="__elementSelectionService.select('733754835',$event)" [ngStyle]="__elementSelectionService.getStyles('733754835')">
                    <div class="col-md-3" (contextmenu)="__elementSelectionService.select('1313065790',$event)" [ngStyle]="__elementSelectionService.getStyles('1313065790')">
                        <label for="usernameDis" (contextmenu)="__elementSelectionService.select('1729619703',$event)" [ngStyle]="__elementSelectionService.getStyles('1729619703')">Benefit Description</label>
                    </div>
                    <div class="col-md-9" (contextmenu)="__elementSelectionService.select('1609393451',$event)" [ngStyle]="__elementSelectionService.getStyles('1609393451')">
                        <input type="text" change="isDirty = true" class="form-control" id="coverage-benefit" value="{{this.coveragesListUpdate.type_description}}" ngModel="coveragesListUpdate.type_description" (contextmenu)="__elementSelectionService.select('355844520',$event)" [ngStyle]="__elementSelectionService.getStyles('355844520')">
                    </div>
                </div>
                <div class="row" (contextmenu)="__elementSelectionService.select('1174397451',$event)" [ngStyle]="__elementSelectionService.getStyles('1174397451')">
                    <div class="col-md-3" (contextmenu)="__elementSelectionService.select('495420445',$event)" [ngStyle]="__elementSelectionService.getStyles('495420445')">
                        <label for="usernameDis" (contextmenu)="__elementSelectionService.select('704081595',$event)" [ngStyle]="__elementSelectionService.getStyles('704081595')">Coverage Code</label>
                    </div>
                    <div class="col-md-9" (contextmenu)="__elementSelectionService.select('309645996',$event)" [ngStyle]="__elementSelectionService.getStyles('309645996')">
                        <input type="text" change="isDirty = true" class="form-control" id="coverage-code" value="{{this.coveragesListUpdate.cover_code}}" ngModel="coveragesListUpdate.cover_code" (contextmenu)="__elementSelectionService.select('681678163',$event)" [ngStyle]="__elementSelectionService.getStyles('681678163')">
                    </div>
                </div>
            </div>

          </div>
          <div class="modal-footer" (contextmenu)="__elementSelectionService.select('161958710',$event)" [ngStyle]="__elementSelectionService.getStyles('161958710')">
            <button type="button" class="btn btn-digi" id="submitUpdateCoverageTypeClose" data-dismiss="modal" (contextmenu)="__elementSelectionService.select('465010191',$event)" [ngStyle]="__elementSelectionService.getStyles('465010191')">Close</button>
            <button type="button" class="btn btn-digi" click="submitUpdateCoverageType()" (contextmenu)="__elementSelectionService.select('794967655',$event)" [ngStyle]="__elementSelectionService.getStyles('794967655')">Save Changes</button>
          </div>
        </div>
      </div>
    </div>

</div>
