<div id="contentt">
    <h5 class="page-title">
        <i class="fa fa-home"></i> Home
    </h5>
    
    <div id="header-home" class="text-center">
         <img src="assets/images/home-header.png" width="400" height="100" alt="logo" />
    </div> 

    <h3 class="m-t-15">Bagong Bayani OFW Insurance</h3>
    <div class="home-font">
        Our country’s modern day economic heroes deserve no less than the best protection and insurance solution while they are working abroad under Republic Act 10022.
        <br><br>
        In Philippine British, our job is not done until we cover everybody with protection. We genuinely recognize the great contributions of our OFWs to the development of our country’s economy and it is imperative that we provide them with ample security once they encounter accidents abroad.
        <br><br>
        Throughout the duration of the Filipino worker’s contract, <strong>PBAC</strong>  shall cover the following:
        <br><br>
        <i class="fa fa-check PB-color"></i> Accidental Death <br>
        <i class="fa fa-check PB-color"></i>  Natural Death <br>
        <i class="fa fa-check PB-color"></i> Permanent Total Disability <br>
        <i class="fa fa-check PB-color"></i> Repatriation <br>
        <i class="fa fa-check PB-color"></i> Subsistence Allowance <br>
        <i class="fa fa-check PB-color"></i> Money Claims Benefit <br>
        <i class="fa fa-check PB-color"></i> Compassionate Visit <br>
        <i class="fa fa-check PB-color"></i> Medical Evaluation <br>

    </div>
         

    <div class="line"></div>
</div>
