<div class="container-fluid height-760 landing-container">
  <div class="container">
    <div class="row height-760 flex">
      <div class="col-md-5 d-flex align-items-center">
        <div>
          <h1 class="animated bounceInDown"><strong>Be Insured.</strong></h1>
          <h1 class="animate__animated animate__bounce">Get your policy today!</h1>

          <button (click)="scroll('issuance')" class="btn get-started-btn btn-outline-primary">Get
            Started</button>

          <p>Exclusive insurance coverage
            <br />that protects your home, car
            <br />and family.
          </p>

        </div>
      </div>
      <div class="col-md-7 d-flex align-items-center">
      </div>
    </div>
  </div>
</div>

<div *ngIf="products.length == 0" class="container" id="issuance">
  <div class="row">
    <div class="card">
      <div class="row">
        <div class="col-md-6 d-none d-md-block">
          <img class="card-img-top" src="assets/images/product_line/car.jpg" alt="car">
        </div>
        <div class="col-md-6">
          <div class="card">

            <h1 class="card-title">
              <strong>No</strong> Available Product
            </h1>

            <p class="card-text">
              We are sorry to inform you that our partner doesn't have any products available at the moment. Please
              contact administration for inquries. Thank you.
            </p>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="products.length > 0" class="container" id="issuance">
  <div class="row">
    <div *ngFor="let product of products;let i=index;" class="col-md-12">
      <div class="card">
        <div class="row">
          <!-- <div *ngIf="(i + 1) % 2 != 0" class="col-md-6 d-none d-md-block"> -->
          <div class="col-md-6 d-none d-md-block">
            <img class="card-img-top" src="assets/images/product_line/{{product.thumbnail}}.jpg" alt="{{product.name}}">
          </div>
          <div class="col-md-6">
            <div class="card">

              <h1 class="card-title">
                <strong>{{product.name}}</strong> Insurance
              </h1>

              <p class="card-text" [innerHTML]="product.description"></p>

              <ul class="product-list">
                <li *ngFor="let list of product.products" class="row product">
                  <div class="col-md-6">
                    <button disabled class="btn btn-light" type="button">
                      <i class="fa fa-chevron-right fa-chev-lp"></i> {{list.name}}
                    </button>
                  </div>
                  <div class="col-md-6">
                    <div class="btn-group">
                      <!-- <button class="btn btn-outline-primary" data-toggle="modal" data-target="#coverageModal"
                        (click)="viewCoverage(list.description, list.name)">View Coverage</button> -->
                      <button class="btn btn-outline-primary" data-toggle="modal" data-target="#coverageModal"
                        (click)="viewCoverage(list.productId)">View Coverage</button>
                      <button class="btn btn-outline-dark"
                        (click)="issuance(list.productId, list.description, product.issuanceType)">Apply</button>
                    </div>
                  </div>
                </li>
              </ul>

            </div>
          </div>
          <!-- <div *ngIf="(i + 1) % 2 == 0" class="col-md-6 d-none d-md-block">
            <img class="card-img-top" src="assets/images/product_line/{{product.thumbnail}}.jpg" alt="{{product.name}}">
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container" id="previousTransaction">
  <div class="row mt-5">
    <div class="col-md-12 text-center">
      <div class="btn-group">
        <button class="btn btn-primary btn-quote" type="button" data-toggle="collapse" data-target="#collapseQuotations"
          aria-expanded="false" aria-controls="collapseQuotations" (click)="viewPreviousQuotation()">
          {{viewQuotations ? 'Hide' : 'View' }} Previous Quotations
        </button>
        <button class="btn btn-primary btn-quote" type="button" data-toggle="collapse" data-target="#collapsePolicies"
          aria-expanded="false" aria-controls="collapsePolicies" (click)="viewPreviousPolicy()">
          {{viewPolicies ? 'Hide' : 'View' }}  Previous Policies
        </button>
      </div>
    </div>

    <div class="col-md-12">

      <div id="quotation-wrapper">
        <div class="collapse" id="collapseQuotations">

          <div class="row">
            <div class="col-md-12">
              <h3>Previous Quotations</h3>
            </div>
  
            <div *ngIf="previousQuotations.length == 0" class="col-md-12">
              <div class="card">
                <div class="card-body">
                  <h6>No previous quotation yet.</h6>
                </div>
              </div>
            </div>
  
            <div class="col-md-4" *ngFor="let issue of this.previousQuotations">
  
              <div class="card card-previous">
                <div class="card-body text-center">
  
                  <!-- <div class="row" *ngIf="issue.codRamo == '100'">
                    <div class="col-md-4">
                      <span class="fa-stack fa-2x">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-car fa-stack-1x fa-inverse"></i>
                      </span>
                    </div>
                    <div class="col-md-8">
                      <h5 class="card-title mt-3"><b>Private Vehicle</b></h5>
                      <p>{{issue.numPresupuesto}}</p>
                    </div>
                  </div>
  
                  <div class="row" *ngIf="issue.codRamo == '120'">
                    <div class="col-md-4">
                      <span class="fa-stack fa-2x">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-car fa-stack-1x fa-inverse"></i>
                      </span>
                    </div>
                    <div class="col-md-8">
                      <h5 class="card-title mt-3"><b>Motor Cycle</b></h5>
                      <p>{{issue.numPresupuesto}}</p>
                    </div>
                  </div>
  
                  <div class="row" *ngIf="issue.codRamo == '323'">
                    <div class="col-md-4">
                      <span class="fa-stack fa-2x">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-shield fa-stack-1x fa-inverse"></i>
                      </span>
                    </div>
                    <div class="col-md-8">
                      <h5 class="card-title mt-3"><b>Individual Personal</b></h5>
                      <p>{{issue.numPresupuesto}}</p>
                    </div>
                  </div> -->
  
                  <div class="row">
                    <div class="col-md-4">
                      <span class="fa-stack fa-2x">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa {{issue.icon}} fa-stack-1x fa-inverse"></i>
                      </span>
                    </div>
                    <div class="col-md-8">
                      <h5 class="card-title mt-3"><b>{{issue.title}}</b></h5>
                      <p>{{issue.numPresupuesto}}</p>
                    </div>
                  </div>

                  <button *ngIf="issue.isRetro" class="btn btn-default btn-block" type="button"
                    (click)="openRetroInfo()">
                    Load Quotation
                  </button>
  
                  <button *ngIf="!issue.isRetro" class="btn btn-mapfre btn-block" type="button"
                    (click)="loadPolicy(issue,'73015b3208cdee70a4497235463b63d7',issue.numPresupuesto)">
                    {{issue.codProcess == 1 && issue.tipStatus == 2 ? 'Quotation with TC' : 'Load Quotation'}}
                  </button>
                </div>
              </div>
  
            </div>
          </div>
  
        </div>
      </div>
      

      <div id="policy-wrapper">
        <div class="collapse" id="collapsePolicies">
          <div class="row">
            <div class="col-md-12">
              <h3>Previous Policies</h3>
            </div>
  
            <div *ngIf="previousPolicies.length == 0" class="col-md-12">
              <div class="card">
                <div class="card-body">
                  <h6>No previous policy yet.</h6>
                </div>
              </div>
            </div>
            
            <div class="col-md-4" *ngFor="let issue of this.previousPolicies">
              <div class="card card-previous">
                <div class="card-body text-center">
  
                  <!-- <div class="row" *ngIf="issue.codRamo == '100'">
                    <div class="col-md-4">
                      <span class="fa-stack fa-2x">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-car fa-stack-1x fa-inverse"></i>
                      </span>
                    </div>
                    <div class="col-md-8">
                      <h5 class="card-title mt-3"><b>Private Vehicle</b></h5>
                      <p>{{issue.numPoliza}}</p>
                    </div>
                  </div>
  
                  <div class="row" *ngIf="issue.codRamo == '102'">
                    <div class="col-md-4">
                      <span class="fa-stack fa-2x">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-car fa-stack-1x fa-inverse"></i>
                      </span>
                    </div>
                    <div class="col-md-8">
                      <h5 class="card-title mt-3"><b>Motor Cycle</b></h5>
                      <p>{{issue.numPoliza}}</p>
                    </div>
                  </div>
  
                  <div class="row" *ngIf="issue.codRamo == '323'">
                    <div class="col-md-4">
                      <span class="fa-stack fa-2x">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-shield fa-stack-1x fa-inverse"></i>
                      </span>
                    </div>
                    <div class="col-md-8">
                      <h5 class="card-title mt-3"><b>Individual Personal</b></h5>
                      <p>{{issue.numPoliza}}</p>
                    </div>
                  </div> -->
  
                  <div>
                    <div class="col-md-4">
                      <span class="fa-stack fa-2x">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa {{issue.icon}} fa-stack-1x fa-inverse"></i>
                      </span>
                    </div>
                    <div class="col-md-8">
                      <h5 class="card-title mt-3"><b>{{issue.title}}</b></h5>
                      <p>{{issue.numPoliza}}</p>
                    </div>
                  </div>
  
                  <button class="btn {{issue.codProcess == 3 && issue.tipStatus == 1 ? 'btn-success' : 'btn-mapfre'}}  btn-block" type="button"
                    (click)="loadPolicy(issue, '51359e8b51c63b87d50cb1bab73380e2', issue.numPoliza)">
                    {{issue.codProcess == 3 && issue.tipStatus == 1 ? 'Paid Policy' : (issue.codProcess == 2 && issue.tipStatus == 2) ? 'Policy with TC' : 'Load Policy'}} 
                  </button>
  
                </div>
              </div>
  
            </div>
          </div>
          <!-- </div> -->
        </div>
      </div>

    </div>
  </div>
</div>

<div class="modal fade" id="coverageModal" tabindex="-1" role="dialog" aria-labelledby="coverageModal"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{this.title}} Insurance Coverages</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table table-sm table-bordered">
          <thead>
            <td>Coverage</td>
            <td>Description</td>
          </thead>
          <tbody>
            <tr *ngFor="let coverage of this.coverageList">
              <td style="min-width: 300px;">{{coverage.benefit}}</td>
              <td style="text-align: justify;">{{coverage.coverages}}
              </td>
            </tr>
          </tbody>

        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>