<div class="container" (contextmenu)="__elementSelectionService.select('1935284374',$event)" [ngStyle]="__elementSelectionService.getStyles('1935284374')"(click)='__elementSelectionService.clear()'>
    <div class="row" (contextmenu)="__elementSelectionService.select('1309879819',$event)" [ngStyle]="__elementSelectionService.getStyles('1309879819')">
        <div class="col-md-2" (contextmenu)="__elementSelectionService.select('1840124407',$event)" [ngStyle]="__elementSelectionService.getStyles('1840124407')"></div>
        <div class="col-md-8" (contextmenu)="__elementSelectionService.select('1898980807',$event)" [ngStyle]="__elementSelectionService.getStyles('1898980807')">
            <div class="d-flex justify-content-center" (contextmenu)="__elementSelectionService.select('1698829029',$event)" [ngStyle]="__elementSelectionService.getStyles('1698829029')">
            <div class="card login-card" (contextmenu)="__elementSelectionService.select('854989616',$event)" [ngStyle]="__elementSelectionService.getStyles('854989616')">
                <div class="card-header text-center" (contextmenu)="__elementSelectionService.select('801805616',$event)" [ngStyle]="__elementSelectionService.getStyles('801805616')">
                    Redirecting to<br (contextmenu)="__elementSelectionService.select('1604621075',$event)" [ngStyle]="__elementSelectionService.getStyles('1604621075')">
                    <img class="logo-collection-redirect" src="assets/images/mapfre-white.png" (contextmenu)="__elementSelectionService.select('713324344',$event)" [ngStyle]="__elementSelectionService.getStyles('713324344')">
                </div>
                <div class="card-body login-card-body" (contextmenu)="__elementSelectionService.select('673830595',$event)" [ngStyle]="__elementSelectionService.getStyles('673830595')">
                    <form class="mt-4" ngSubmit="validateAccountNumber($event)" ngNativeValidate (contextmenu)="__elementSelectionService.select('1395762659',$event)" [ngStyle]="__elementSelectionService.getStyles('1395762659')">
                        <i class="color-red small" ngIf="loginMsg != ''" (contextmenu)="__elementSelectionService.select('678860957',$event)" [ngStyle]="__elementSelectionService.getStyles('678860957')">{{ loginMsg }}</i>
                        <div class="row" (contextmenu)="__elementSelectionService.select('566368028',$event)" [ngStyle]="__elementSelectionService.getStyles('566368028')">
                            <div class="col-md-1" (contextmenu)="__elementSelectionService.select('1195069993',$event)" [ngStyle]="__elementSelectionService.getStyles('1195069993')"></div>
                            <div class="col-md-10" (contextmenu)="__elementSelectionService.select('435939728',$event)" [ngStyle]="__elementSelectionService.getStyles('435939728')">
                                <div class="form-group row" (contextmenu)="__elementSelectionService.select('97855554',$event)" [ngStyle]="__elementSelectionService.getStyles('97855554')">
                                    <label for="staticEmail" class="col-md-4 col-form-label" (contextmenu)="__elementSelectionService.select('874427667',$event)" [ngStyle]="__elementSelectionService.getStyles('874427667')">iFAE EC NO.</label>
                                        <div class="col-md-8" (contextmenu)="__elementSelectionService.select('698942371',$event)" [ngStyle]="__elementSelectionService.getStyles('698942371')">
                                            <input type="text" class="form-control" id="accountNumber" name="accountNumber" ngModel="user.accountNumber" placeholder="Indicate your 16 digit iFAE EC Number" (contextmenu)="__elementSelectionService.select('1876482159',$event)" [ngStyle]="__elementSelectionService.getStyles('1876482159')">
                                        </div>
                                </div>
                                <div class="form-group row" (contextmenu)="__elementSelectionService.select('1130588910',$event)" [ngStyle]="__elementSelectionService.getStyles('1130588910')">
                                    <label for="staticEmail" class="col-md-4 col-form-label" (contextmenu)="__elementSelectionService.select('34924988',$event)" [ngStyle]="__elementSelectionService.getStyles('34924988')">UNIT NO.</label>
                                        <div class="col-md-8" (contextmenu)="__elementSelectionService.select('1673610822',$event)" [ngStyle]="__elementSelectionService.getStyles('1673610822')">
                                            <input type="text" class="form-control" id="unitNo" name="unitNo" ngModel="user.unitNo" placeholder="Indicate your Tower No. prior to Unit no" (contextmenu)="__elementSelectionService.select('1257501169',$event)" [ngStyle]="__elementSelectionService.getStyles('1257501169')">
                                        </div>
                                </div>
                            </div>
                            <div class="col-md-1" (contextmenu)="__elementSelectionService.select('304076379',$event)" [ngStyle]="__elementSelectionService.getStyles('304076379')"></div>
                        </div>
                        
                        <div class="col-md-12 text-center" ngIf="this.user.unitNo" (contextmenu)="__elementSelectionService.select('937661613',$event)" [ngStyle]="__elementSelectionService.getStyles('937661613')">
                            <input type="submit" value="PROCEED" class="btn login_btn mt-4 mb-4" (contextmenu)="__elementSelectionService.select('1584994145',$event)" [ngStyle]="__elementSelectionService.getStyles('1584994145')">
                        </div>
                    </form>
                </div>
                <div class="card-footer text-center" style="background-color: white !important;" (contextmenu)="__elementSelectionService.select('198187302',$event)" [ngStyle]="__elementSelectionService.getStyles('198187302')">
                    <div class="row" (contextmenu)="__elementSelectionService.select('1729211145',$event)" [ngStyle]="__elementSelectionService.getStyles('1729211145')">
                        <div class="col-md-12 text-center logo-holder" (contextmenu)="__elementSelectionService.select('1283198394',$event)" [ngStyle]="__elementSelectionService.getStyles('1283198394')">
                            <img class="logo-collection-fopm" src="assets/images/FOPM.png" (contextmenu)="__elementSelectionService.select('1512622411',$event)" [ngStyle]="__elementSelectionService.getStyles('1512622411')">
                            <img class="logo-collection" src="assets/images/marsh-logo-vector.png" (contextmenu)="__elementSelectionService.select('1362817537',$event)" [ngStyle]="__elementSelectionService.getStyles('1362817537')">
                            <img class="logo-collection" src="assets/images/MAPFRE_Insurance_VB.png" (contextmenu)="__elementSelectionService.select('991515340',$event)" [ngStyle]="__elementSelectionService.getStyles('991515340')">
                        </div>
                        <div class="col-md-12 text-center" (contextmenu)="__elementSelectionService.select('388274632',$event)" [ngStyle]="__elementSelectionService.getStyles('388274632')">
                            <p class="under-logo" (contextmenu)="__elementSelectionService.select('190474486',$event)" [ngStyle]="__elementSelectionService.getStyles('190474486')">Insurance Powered by MAPFRE of Spain and MARSH Brokers</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="col-md-2" (contextmenu)="__elementSelectionService.select('225851750',$event)" [ngStyle]="__elementSelectionService.getStyles('225851750')"></div>
    </div>
    
</div>
