<div class="wrapper">
  <!-- Sidebar -->
  <app-sidebar></app-sidebar>
  <div class="main-panel">
    <!-- Navbar -->
    <app-admin-header></app-admin-header>
    <div class="content">
      <div class="container-fluid">
        <div class="row">

          <div class="col-md-12">
            <div class="card">
              <div class="card-header ">
                <h1 class="card-title">Partners</h1>
                <p class="card-category">List of partners for Affinity Portal Microstie</p>
              </div>
              <div class="card-body">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th scope="col">Partner Code</th>
                      <th scope="col">Name</th>
                      <th scope="col">Domain</th>
                      <th scope="col">Theme</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let partner of partners; index as i" (click)="edit(partner.partnerCode)" >
                      <th scope="row">{{partner.partnerCode}}</th>
                      <td>{{ partner.partnerName }}</td>
                      <td>{{ partner.domain }}</td>
                      <td>{{ partner.themeCode }}</td>
                    </tr>
                  </tbody>
                </table>

                <div class="btn-group">
                  <button class="btn btn-success" type="button" (click)="addPartner()">ADD PARTNER</button>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <!-- Footer -->
    <app-admin-footer></app-admin-footer>
  </div>
</div>