<!-- <div *ngIf="this.affinity.lineId == '337'">
<div class="row">
    <div class="col-md-12">
        <br>
		<h3>Let's start by choosing a Product</h3>
    </div>
</div>
<br /> -->

<!-- <div class="row">
    <div class="col-md-4">
        <div class="card" id="compreCard">
          <div class="card-body text-center">
            <img class="card-img-top" src="assets/images/pa-individual.jpg" alt="Card image cap">
            <h6 class="card-title mt-3"><b>Individual Personal Accident</b></h6>
            
            <div class="card-footer text-center">
                <button type="button" data-toggle="modal" data-target="#compreModal" class="btn btn-mapfre btn-block" (click)="viewCoverage('personalAccident','Individual Personal Accident')">View Coverages</button>
                <button type="button" class="btn btn-mapfre btn-block" (click)="selectProduct('33701','personalAccident')">Apply</button>
            </div>

          </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card" id="ctplCard">
          <div class="card-body text-center">
            <img class="card-img-top" src="assets/images/family-pa.jpg" alt="Card image cap">
            <h6 class="card-title mt-3"><b>Family Personal Accident</b></h6>
            
            <div class="card-footer text-center">
                <button type="button" data-toggle="modal" data-target="#compreModal" class="btn btn-mapfre btn-block" (click)="viewCoverage('personalFamilyAccident','Personal Family Accident')">View Coverages</button>
                <button type="button" class="btn btn-mapfre btn-block" (click)="selectProduct('33702','personalFamilyAccident')">Apply</button>
            </div>

          </div>
        </div>
    </div> -->
<!-- 
    <div class="col-md-12">
        <div class="form-group row">
            <div class="col-md-12">
                <label for="productId" class="affinity-label">PLEASE CHOOSE A PRODUCT</label>
                <select class="form-control" id="productId" [(ngModel)]="this.affinity.motorDetails.productId">
                    <option value="0" disabled="disabled">Please choose Product Type</option>
                    <option value="1">COMPREHENSIVE</option>
                    <option value="2">CTPL</option>
                </select>
            </div>
        </div>
    </div> -->
<!-- </div> -->
<!-- <small><i>*Products are available for ages 18-70 only</i></small> -->
<!-- <hr /> -->
<!-- </div> -->
<div *ngIf="this.showAll == '1'">
  <div class="row" id="showAll">
    <div class="col-md-12">
      <h1 data-toggle="tooltip" data-placement="top" title="Tooltip on top" id="test">Tell us about yourself</h1>
      <h6>You are one step away from getting the quotation for your insurance!</h6>
      <small><i>(<span class="text-mapfre">*</span>) - required fields</i></small>
    </div>
  </div>
  <div class="row mt-3" *ngIf="line != type.accident">
    <div class="col-md-4" *ngIf="this.affinity.motorDetails.productId">
      <div class="form-group row">
        <div class="col-md-12">
          <label for="productId" class="affinity-label">IS INDIVIDUAL OR CORPORATE</label>
          <select class="form-control required motor-personal" id="productId"
            [(ngModel)]="this.affinity.motorDetails.isCorporate" name="Individual or Corporate">
            <option value="0" disabled="disabled">Please choose</option>
            <option value="1">INDIVIDUAL</option>
            <option value="2">CORPORATE</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <br />
  <div *ngIf="this.affinity.motorDetails.isCorporate">
    <h5 *ngIf="this.affinity.motorDetails.isCorporate == '1'">Personal Details</h5>
    <h5 *ngIf="this.affinity.motorDetails.isCorporate == '2'">Company Details</h5>
    <div class="row" *ngIf="this.affinity.motorDetails.isCorporate == '1'">
      <div class="col-md-4">
        <div class="form-group row">
          <div class="col-md-12">
            <label for="firstName" class="col-form-label affinity-label">FIRST NAME <span
                class="text-mapfre text-heavy">*</span></label>
            <input type="text" id="firstName" [(ngModel)]="this.affinity.riskDetails.firstName"
              class="form-control required motor-personal pa-personal to-uppercase property-personal"
              placeholder="First Name" name="First Name">
          </div>
        </div>

      </div>
      <div class="col-md-4">
        <div class="form-group row">
          <div class="col-md-12">
            <label for="middleName" class="affinity-label">MIDDLE NAME</label>
            <input type="text" id="middleName" [(ngModel)]="this.affinity.riskDetails.middleName"
              class="form-control to-uppercase" placeholder="Middle Name" name="Middle Name">
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group row">
          <div class="col-md-12">
            <label for="lastName" class="affinity-label">LAST NAME <span class="text-mapfre text-heavy">*</span></label>
            <input type="text" id="lastName" [(ngModel)]="this.affinity.riskDetails.lastName"
              class="form-control required motor-personal pa-personal to-uppercase property-personal"
              placeholder="Last Name" name="Last Name">
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group row">
          <div class="col-md-12">
            <label for="suffix" class="affinity-label">SUFFIX</label>
            <select class="form-control" id="suffix" [(ngModel)]="this.affinity.riskDetails.suffix" name="Suffix">
              <option></option>
              <option *ngFor="let suffix of this.affinity.lov.suffixLOV" value="{{suffix.TIPO_SUFIJO_NOMBRE}}">
                {{suffix.NOM_VALOR}}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group row">
          <div class="col-md-12">
            <label for="civilStatus" class="affinity-label">CIVIL STATUS <span *ngIf="this.affinity.lineId != '251'"
                class="text-mapfre text-heavy">*</span></label>
            <select class="form-control required pa-personal" name="Civil Status" id="civilStatus"
              [(ngModel)]="this.affinity.riskDetails.civilStatus">
              <option selected disabled hidden></option>
              <option value="0" disabled="disabled">Please choose Civil Status</option>
              <option *ngFor="let civil of this.affinity.lov.civilStatusLOV" value="{{civil.COD_EST_CIVIL}}">
                {{civil.NOM_VALOR}}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group row">
          <div class="col-md-12">
            <label for="nationality" class="affinity-label">NATIONALITY <span *ngIf="this.affinity.lineId != '251'"
                class="text-mapfre text-heavy">*</span></label>
            <select class="form-control" name="Nationality" id="nationality"
              [(ngModel)]="this.affinity.riskDetails.nationality"
              (change)="blacklist($event)">
              <option value="0" disabled="disabled">Please choose Nationality</option>
              <option *ngFor="let nat of this.affinity.lov.nationalityLOV" value="{{nat.COD_PAIS}}">{{nat.NOM_PAIS}}
              </option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group row">
          <div class="col-md-12">
            <label for="birthDate" class="affinity-label">DATE OF BIRTH <span *ngIf="this.affinity.lineId != '251'"
                class="text-mapfre text-heavy">*</span></label>
            <input type="date" id="birthDate" [(ngModel)]="this.affinity.riskDetails.birthDate"
              class="form-control required motor-personal birthday pa-personal" name="Date of Birth" (focusout)="verifyBday($event)">
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group row">
          <div class="col-md-12">
            <label for="gender" class="affinity-label">GENDER <span *ngIf="this.affinity.lineId != '251'"
                class="text-mapfre text-heavy">*</span></label>
            <select class="form-control required motor-personal pa-personal" id="gender" name="Gender"
              [(ngModel)]="this.affinity.riskDetails.gender">
              <option selected disabled hidden></option>
              <option value="" disabled="disabled">Please choose Gender</option>
              <option value="1">Male</option>
              <option value="0">Female</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="row" class="row" style="display: none;">
      <div class="col-md-8" *ngIf="line == type.accident">
        <div class="form-group row">
          <div class="col-md-12">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="defaultCheck1"
                [(ngModel)]="this.affinity.riskDetails.healthDeclaration">
              <label class="form-check-label" for="defaultCheck1">
                With Health Declaration
              </label>
            </div>
          </div>
          <div class="col-md-12" *ngIf="this.affinity.riskDetails.healthDeclaration == true">
            <label for="preExistingIllness" class="affinity-label">DECLARE PRE-EXISTING ILLNESS <span
                class="text-mapfre text-heavy">*</span></label>
            <input type="text" id="preExistingIllness" [(ngModel)]="this.affinity.riskDetails.preExistingIllness"
              class="form-control required motor-personal to-uppercase" placeholder="Pre Existing Illness"
              name="Pre Existing Illness">
          </div>
        </div>
      </div>

    </div>
    <div class="row" *ngIf="this.affinity.motorDetails.isCorporate == '2'">
      <div class="col-md-6">
        <div class="form-group row">
          <div class="col-md-12">
            <label for="fullName" class="col-form-label affinity-label">COMPANY NAME <span
                class="text-mapfre text-heavy">*</span></label>
            <input type="text" id="fullName" [(ngModel)]="this.affinity.riskDetails.firstName"
              class="form-control required motor-personal to-uppercase" placeholder="Full Company Name"
              name="Full Company Name">
          </div>
        </div>

      </div>
    </div>
    <br />
    <h5>Valid Government ID</h5>
    <div class="row" *ngIf="this.affinity.motorDetails.isCorporate == '1'">
      <div class="col-md-4">
        <div class="form-group row">
          <div class="col-md-12">
            <label for="validID" class="affinity-label">GOVERNMENT ID <span
                *ngIf="line != type.accident && this.affinity.lineId != '251'"
                class="text-mapfre text-heavy">*</span></label>
            <select class="form-control required motor-personal" name="Government ID" id="validID"
              [(ngModel)]="this.affinity.riskDetails.validID">
              <option selected disabled hidden></option>
              <option value="0" disabled="disabled">Please choose ID</option>
              <option *ngFor="let cod of this.affinity.lov.documentLOV" value="{{cod.TIP_DOCUM}}">{{cod.NOM_DOCUM}}
              </option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group row">
          <div class="col-md-12">
            <label for="validIDValue" class="affinity-label">ID NUMBER <span
                *ngIf="line != type.accident && this.affinity.lineId != '251'"
                class="text-mapfre text-heavy">*</span></label>
            <input type="text" id="validIDValue" class="form-control required motor-personal to-uppercase"
              name="ID Number" maxlength="20" placeholder="ID Number" [(ngModel)]="this.affinity.riskDetails.validIDValue">
          </div>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="this.affinity.motorDetails.isCorporate == '2'">
      <div class="col-md-4">
        <div class="form-group row">
          <div class="col-md-12">
            <label for="validIDValue" class="affinity-label">TIN <span class="text-mapfre text-heavy">*</span></label>
            <input type="text" id="validIDValue" class="form-control required motor-personal to-uppercase"
              name="Company TIN" placeholder="TIN" [(ngModel)]="this.affinity.riskDetails.validIDValue">
          </div>
        </div>
      </div>
    </div>
    <br />
    <h5>Contact Details</h5>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group row">
          <div class="col-md-12">
            <label for="email" class="affinity-label">EMAIL <span class="text-mapfre text-heavy">*</span></label>
            <input type="email" id="email"
              class="form-control required motor-personal pa-personal  property-personal to-uppercase"
              placeholder="Email" [(ngModel)]="this.affinity.riskDetails.emailAddress" name="Email">
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group row">
          <div class="col-md-12">
            <label for="phoneNumber" class="affinity-label">
              <span *ngIf="this.affinity.motorDetails.isCorporate == '1'">MOBILE/PHONE NUMBER </span>
              <span *ngIf="this.affinity.motorDetails.isCorporate == '2'">BUSINESS TELEPHONE NUMBER </span>

              <span class="text-mapfre text-heavy">*</span></label>
            <input type="text" id="phoneNumber"
              class="form-control required motor-personal pa-personal property-personal  to-uppercase" maxlength="12"
              placeholder="Phone Number" [(ngModel)]="this.affinity.riskDetails.phoneNumber"
              name="Mobile/Business Telephone Number">
          </div>
        </div>
      </div>
      <!-- <div class="col-md-4" *ngIf="this.affinity.motorDetails.isCorporate == '2'">
                <div class="form-group row">
                    <div class="col-md-12">
                        <label for="companyNumber" class="affinity-label">BUSINESS NATURE</label>
                        <input type="text" id="companyNumber" class="form-control to-uppercase" placeholder="Business Nature" [(ngModel)]="this.affinity.riskDetails.businessNature">
                    </div>
                </div>
            </div> -->
    </div>
  </div>
  
  <div *ngIf="line == type.accident">
    <h5>Employment Details</h5>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group row">
          <div class="col-md-12">
            <label for="occupationalClass" class="affinity-label">OCCUPATIONAL CLASS <span
                class="text-mapfre text-heavy">*</span></label>
            <select class="form-control required motor-personal pa-personal" id="occupationalClass"
              name="Occupational Class" [(ngModel)]="this.affinity.riskDetails.occupationalClass"
              (change)="chooseOccupationalClass()">
              <option selected disabled hidden></option>
              <option value="0" disabled="disabled">Please choose Occupational Class</option>
              <option *ngFor="let ocl of this.affinity.lov.occupationalClassLOV"
                value="{{ocl.COD_VALOR}}:=:{{ocl.NOM_VALOR}}">{{ocl.NOM_VALOR}}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group row">
          <div class="col-md-12">
            <label for="occupation" class="affinity-label">OCCUPATION <span
                class="text-mapfre text-heavy">*</span></label>
            <select class="form-control required motor-personal pa-personal" id="occupation" name="Occupation"
              [(ngModel)]="this.affinity.riskDetails.occupation">
              <option selected disabled hidden></option>
              <option value="0" disabled="disabled">Please choose Occupation</option>
              <option *ngFor="let ol of this.affinity.lov.occupationLOV" value="{{ol.COD_VALOR}}:=:{{ol.NOM_VALOR}}">
                {{ol.NOM_VALOR}}</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <br />
    
      <div *ngIf="this.affinity.productId == '32401' && this.affinity.riskDetails.civilStatus !== '' && this.affinity.riskDetails.civilStatus !== 'S'" >
      <h5>Family Members</h5>
      <small>You may also provide your family members protection against bodily injury, death, or disablement arising
        from accidental or external causes.
        Please tap Add Family Member below for each family member you wish to insure under our Family Personal Accident
        product.</small>
      <div class="row">
        <div class="col-md-4">
          <button class="btn btn-mapfre mt-3 mb-3" *ngIf="this.showAddButton == '1'" (click)="openModalFamilyMember()"
            data-toggle="modal" data-target="#familyMemberModal"><b>Add Family Member</b></button>
        </div>
      </div>
      <div class="row" *ngIf="this.affinity.paDetails.familyMembers.length > 0">
        <div class="col-md-12">
          <div class="table-responsive">
            <table class="table table-condensed table-hover table-small">
              <thead>
                <td>Member's Name</td>
                <td>Relationship</td>
                <td></td>
              </thead>
              <tbody>
                <tr *ngFor="let member of this.affinity.paDetails.familyMembers">
                  <td>{{member.fullName}}</td>
                  <td>{{member.relationship.split(":=:")[1]}}</td>
                  <td><button class="btn btn-mapfre btn-sm" (click)="editFamilyMember(member)" data-toggle="modal"
                      data-target="#familyMemberModal"><i class="fa fa-pencil"></i></button><button
                      class="btn btn-mapfre btn-sm" (click)="removeFamilyMember(member)"><i
                        class="fa fa-times"></i></button></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="line == type.accident">
    <h5>Policy Details</h5>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group row">
          <div class="col-md-12">
            <label for="policyPeriodFrom" class="affinity-label">EFFECTIVITY <span
                class="text-mapfre text-heavy">*</span></label>
            <input type="date" id="policyPeriodFrom" min="{{minDate}}"
              class="form-control pa-personal required motor-quote" name="Effectivity Date"
              [(ngModel)]="this.affinity.motorDetails.policyPeriodFrom" (change)="chooseEffectivityDate()">
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group row">
          <div class="col-md-12">
            <label for="policyPeriodTo" class="affinity-label">EXPIRY <span
                class="text-mapfre text-heavy">*</span></label>
            <input type="date" readonly="readonly" id="policyPeriodTo"
              class="form-control required pa-personal motor-quote" name="Expiry Date"
              [(ngModel)]="this.affinity.motorDetails.policyPeriodTo">
          </div>
        </div>
      </div>
    </div>
  
    <h5>Policy Details</h5>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group row">
          <div class="col-md-12">
            <label for="occupation" class="affinity-label">COVERAGE LIMIT <span
                class="text-mapfre text-heavy">*</span></label>
            <select class="form-control required motor-personal pa-personal" id="coverageLimit" name="coverageLimit"
              [(ngModel)]="this.affinity.riskDetails.accidentCoverageLimit">
              <option selected disabled hidden></option>
              <option value="0" disabled="disabled">Please choose Coverage Limit</option>
              <option *ngFor="let acl of this.affinity.lov.accidentCoverageLimitLOV" value="{{acl.COD_VALOR}}">
                {{acl.NOM_VALOR}}</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br />

  <div *ngIf="this.affinity.motorDetails.isCorporate" class="row">
    <div class="col-md-12">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="consentCheck"
          [(ngModel)]="this.affinity.riskDetails.consentCheck">
        <label class="form-check-label" for="consentCheck">
          I hereby give my consent to proceed with the application and that all information provided here are true and correct
        </label>
      </div>
    </div>
  </div>

  <br />
  <br />
</div>
<div class="row">
  <div class="col-md-5">
    <button class="btn btn-mapfre mr-3 mt-3" (click)="backButtonAction()"><b>Back to Homepage</b></button>
    <button *ngIf="this.affinity.motorDetails.isCorporate && this.showAll == '1'" class="btn btn-mapfre mt-3"
      (click)="nextStepAction('issueQuotation')"><b>Get my Quote Now!</b></button>
  </div>
</div>

<div class="modal fade" id="familyMemberModal" tabindex="-1" role="dialog" aria-labelledby="familyMemberModal"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Insure Family Member</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <app-insured-details *ngIf="this.addFamily == 'add'" [loadType]="this.loadType"
          [editInsured]="this.familyMember" [existing]="this.affinity.paDetails.familyMembers"
          [effectivity]="this.affinity.motorDetails.policyPeriodFrom"
          [civilStatus]="this.affinity.riskDetails.civilStatus" (newInsured)="addFamilyMember($event)"
          [lineId]="this.affinity.lineId">
        </app-insured-details>

      </div>
      <div class="modal-footer">
        <button type="button" style="display: none" class="btn btn-secondary" data-dismiss="modal"
          id="closeModal">Close</button>
        <!-- <button type="button" class="btn btn-mapfre" (click)="addFamilyMember()">Add Member</button> -->
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="compreModal" tabindex="-1" role="dialog" aria-labelledby="compreModal" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{this.title}} Coverages</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table table-sm table-bordered">
          <thead>
            <td>Coverage</td>
            <td>Description</td>
          </thead>
          <tbody>
            <tr *ngFor="let coverage of this.coverageList">
              <td style="min-width: 300px;">{{coverage.benefit}}</td>
              <td style="text-align: justify;">{{coverage.coverages}}</td>
            </tr>
          </tbody>

        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>