<div class="wrapper">
  <!-- Sidebar -->
  <app-sidebar></app-sidebar>
  <div class="main-panel">
    <!-- Navbar -->
    <app-admin-header></app-admin-header>
    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-4">
            <div class="card ">
              <div class="card-header ">
                <h4 class="card-title">Partners</h4>
                <p class="card-category">Count of affinity partners</p>
              </div>
              <div class="card-body ">
                <div id="chartPreferences" class="ct-chart ct-perfect-fourth"></div>
                <div class="legend">
                  <i class="fa fa-circle text-info"></i> Active
                  <i class="fa fa-circle text-danger"></i> Inactive
                </div>
                <hr>
                <div class="stats">
                  <i class="fa fa-clock-o"></i> Last partner added 2 days ago
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card  card-tasks">
              <div class="card-header ">
                <h4 class="card-title">Actions</h4>
                <p class="card-category">Modify your partners</p>
              </div>
              <div class="card-body ">
                <div class="table-full-width">
                  <table class="table">
                    <tbody>
                      <tr>
                        <td>
                          <button type="button" rel="tooltip" title="Add Product"
                            class="btn btn-success" readonly>
                            <i class="fa fa-users"></i>
                          </button>
                        </td>
                        <td>Add Partner</td>
                        <td class="td-actions text-right">
                          <button type="button" rel="tooltip" title="Add Partner" (click)="goTo('partner')"
                            class="btn btn-info btn-simple">
                            <i class="fa fa-edit"></i>
                          </button>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <button type="button" rel="tooltip" title="Add Product"
                            class="btn btn-success" readonly>
                            <i class="fa fa-shopping-cart"></i>
                          </button>
                        </td>
                        <td>Add Partner Product</td>
                        <td class="td-actions text-right">
                          <button type="button" rel="tooltip" title="Add Product" (click)="goTo('product')"
                            class="btn btn-info">
                            <i class="fa fa-edit"></i>
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="card-footer ">
                <hr>
                <div class="stats">
                  <i class="now-ui-icons loader_refresh spin"></i> Updated 3 minutes ago
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Footer -->
    <app-admin-footer></app-admin-footer>
  </div>
</div>