<div id="content" (contextmenu)="__elementSelectionService.select('1120065071',$event)" [ngStyle]="__elementSelectionService.getStyles('1120065071')"(click)='__elementSelectionService.clear()'>
    <h3 class="page-title" (contextmenu)="__elementSelectionService.select('1818994723',$event)" [ngStyle]="__elementSelectionService.getStyles('1818994723')">
        <i class="fa fa-users" (contextmenu)="__elementSelectionService.select('944531503',$event)" [ngStyle]="__elementSelectionService.getStyles('944531503')"></i> User Management
    </h3>
    
    <div class="alert alert-success hidden alert-dismissible fade" id="addUserSuccess" role="alert" (contextmenu)="__elementSelectionService.select('1775025710',$event)" [ngStyle]="__elementSelectionService.getStyles('1775025710')">
      <i class="fa fa-check" (contextmenu)="__elementSelectionService.select('790276350',$event)" [ngStyle]="__elementSelectionService.getStyles('790276350')"></i> {{this.addUserNotice}}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close" (contextmenu)="__elementSelectionService.select('511784846',$event)" [ngStyle]="__elementSelectionService.getStyles('511784846')">
            <span aria-hidden="true" (contextmenu)="__elementSelectionService.select('1163344225',$event)" [ngStyle]="__elementSelectionService.getStyles('1163344225')">&#215;</span>
          </button>
    </div>

    <button class="btn btn-digi" data-toggle="modal" data-target="#modalRegister" click="openNewUser()" (contextmenu)="__elementSelectionService.select('1231471147',$event)" [ngStyle]="__elementSelectionService.getStyles('1231471147')"><i class="fa fa-user-plus" (contextmenu)="__elementSelectionService.select('868339361',$event)" [ngStyle]="__elementSelectionService.getStyles('868339361')"></i> Add User</button>
    
    <table class="table table-condensed table-hover mt-3 table-small" (contextmenu)="__elementSelectionService.select('611033616',$event)" [ngStyle]="__elementSelectionService.getStyles('611033616')">
    	<thead (contextmenu)="__elementSelectionService.select('1477118925',$event)" [ngStyle]="__elementSelectionService.getStyles('1477118925')">
    		<td (contextmenu)="__elementSelectionService.select('654572925',$event)" [ngStyle]="__elementSelectionService.getStyles('654572925')">Username</td>
    		<td (contextmenu)="__elementSelectionService.select('436902906',$event)" [ngStyle]="__elementSelectionService.getStyles('436902906')">Fullname</td>
    		<td (contextmenu)="__elementSelectionService.select('1661518217',$event)" [ngStyle]="__elementSelectionService.getStyles('1661518217')">Date Added</td>
            <td (contextmenu)="__elementSelectionService.select('1675492166',$event)" [ngStyle]="__elementSelectionService.getStyles('1675492166')">Status</td>
    		<td (contextmenu)="__elementSelectionService.select('1535973973',$event)" [ngStyle]="__elementSelectionService.getStyles('1535973973')">Change Password</td>
    	</thead>
    	<tbody (contextmenu)="__elementSelectionService.select('353800085',$event)" [ngStyle]="__elementSelectionService.getStyles('353800085')">
    		<tr ngFor="let user of usersList" (contextmenu)="__elementSelectionService.select('808910903',$event)" [ngStyle]="__elementSelectionService.getStyles('808910903')">
    			<td (contextmenu)="__elementSelectionService.select('1010617020',$event)" [ngStyle]="__elementSelectionService.getStyles('1010617020')">{{user.username}}</td>
    			<td (contextmenu)="__elementSelectionService.select('256909532',$event)" [ngStyle]="__elementSelectionService.getStyles('256909532')">{{user.firstName}} {{user.middleName}} {{user.lastName}}</td>
    			<td (contextmenu)="__elementSelectionService.select('781937796',$event)" [ngStyle]="__elementSelectionService.getStyles('781937796')">{{user.dateAdded}}</td>
    			<td ngIf="user.status == '0'" (contextmenu)="__elementSelectionService.select('640022488',$event)" [ngStyle]="__elementSelectionService.getStyles('640022488')"><button type="button" class="btn btn-digi btn-block" data-toggle="modal" data-target="#exampleModalLong" click="openUserActivate(user)" (contextmenu)="__elementSelectionService.select('2090250378',$event)" [ngStyle]="__elementSelectionService.getStyles('2090250378')"><i class="fa fa-check" (contextmenu)="__elementSelectionService.select('1917729028',$event)" [ngStyle]="__elementSelectionService.getStyles('1917729028')"></i> Activate</button></td>
    			<td ngIf="user.status == '1'" (contextmenu)="__elementSelectionService.select('130319493',$event)" [ngStyle]="__elementSelectionService.getStyles('130319493')"><button type="button" class="btn btn-digi btn-block" data-toggle="modal" data-target="#exampleModalLong" click="openUserDeactivate(user)" (contextmenu)="__elementSelectionService.select('240527506',$event)" [ngStyle]="__elementSelectionService.getStyles('240527506')"><i class="fa fa-times" (contextmenu)="__elementSelectionService.select('1192090418',$event)" [ngStyle]="__elementSelectionService.getStyles('1192090418')"></i> Deactivate</button></td>   
                <td (contextmenu)="__elementSelectionService.select('1149783246',$event)" [ngStyle]="__elementSelectionService.getStyles('1149783246')">
                    <button class="btn btn-digi" click="forgotPassword(user)" (contextmenu)="__elementSelectionService.select('1732970614',$event)" [ngStyle]="__elementSelectionService.getStyles('1732970614')"><i class="fa fa-lock" (contextmenu)="__elementSelectionService.select('1491513013',$event)" [ngStyle]="__elementSelectionService.getStyles('1491513013')"></i> Request Change Password</button>
                </td> 			
    		</tr>
    	</tbody>
    </table>

    
	<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true" ngIf="this.usersViewInfo.length &#62; 0 &#38;&#38; this.usersViewInfoRoles.length &#62; 0" (contextmenu)="__elementSelectionService.select('1897605840',$event)" [ngStyle]="__elementSelectionService.getStyles('1897605840')">
	  <div class="modal-dialog" role="document" (contextmenu)="__elementSelectionService.select('2012472833',$event)" [ngStyle]="__elementSelectionService.getStyles('2012472833')">
	    <div class="modal-content" (contextmenu)="__elementSelectionService.select('1220823089',$event)" [ngStyle]="__elementSelectionService.getStyles('1220823089')">
	      <div class="modal-header" (contextmenu)="__elementSelectionService.select('632997018',$event)" [ngStyle]="__elementSelectionService.getStyles('632997018')">
	        <h5 class="modal-title" id="exampleModalLongTitle" (contextmenu)="__elementSelectionService.select('232728407',$event)" [ngStyle]="__elementSelectionService.getStyles('232728407')">Activate / Deactivate User</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (contextmenu)="__elementSelectionService.select('1702103811',$event)" [ngStyle]="__elementSelectionService.getStyles('1702103811')">
	          <span aria-hidden="true" (contextmenu)="__elementSelectionService.select('253444700',$event)" [ngStyle]="__elementSelectionService.getStyles('253444700')">&#215;</span>
	        </button>
	      </div>
	      <div class="modal-body" (contextmenu)="__elementSelectionService.select('2088163633',$event)" [ngStyle]="__elementSelectionService.getStyles('2088163633')">

			<div class="form-group" (contextmenu)="__elementSelectionService.select('141012087',$event)" [ngStyle]="__elementSelectionService.getStyles('141012087')">
				<div class="row" (contextmenu)="__elementSelectionService.select('1301185131',$event)" [ngStyle]="__elementSelectionService.getStyles('1301185131')">
					<div class="col-md-3" (contextmenu)="__elementSelectionService.select('416423972',$event)" [ngStyle]="__elementSelectionService.getStyles('416423972')">
						<label for="fullname" (contextmenu)="__elementSelectionService.select('1386728798',$event)" [ngStyle]="__elementSelectionService.getStyles('1386728798')">Fullname</label>
					</div>
					<div class="col-md-9" (contextmenu)="__elementSelectionService.select('1729546089',$event)" [ngStyle]="__elementSelectionService.getStyles('1729546089')">
						<input type="text" class="form-control" id="fullname" value="{{this.usersViewInfo[0].firstName}} {{this.usersViewInfo[0].middleName}} {{this.usersViewInfo[0].lastName}}" disabled (contextmenu)="__elementSelectionService.select('1588759610',$event)" [ngStyle]="__elementSelectionService.getStyles('1588759610')">
					</div>
				</div>
			</div>
			<div class="form-group" (contextmenu)="__elementSelectionService.select('1474843848',$event)" [ngStyle]="__elementSelectionService.getStyles('1474843848')">
				<div class="row" (contextmenu)="__elementSelectionService.select('1003077206',$event)" [ngStyle]="__elementSelectionService.getStyles('1003077206')">
					<div class="col-md-3" (contextmenu)="__elementSelectionService.select('1781865417',$event)" [ngStyle]="__elementSelectionService.getStyles('1781865417')">
						<label for="usernameDis" (contextmenu)="__elementSelectionService.select('539789801',$event)" [ngStyle]="__elementSelectionService.getStyles('539789801')">Username</label>
					</div>
					<div class="col-md-9" (contextmenu)="__elementSelectionService.select('905434928',$event)" [ngStyle]="__elementSelectionService.getStyles('905434928')">
						<input type="text" class="form-control" id="usernameDis" value="{{this.usersViewInfo[0].username}}" disabled (contextmenu)="__elementSelectionService.select('1136325846',$event)" [ngStyle]="__elementSelectionService.getStyles('1136325846')">
					</div>
				</div>
			</div>
			<div class="form-group" (contextmenu)="__elementSelectionService.select('18043963',$event)" [ngStyle]="__elementSelectionService.getStyles('18043963')">
				<div class="row" (contextmenu)="__elementSelectionService.select('1161094705',$event)" [ngStyle]="__elementSelectionService.getStyles('1161094705')">
					<div class="col-md-3" (contextmenu)="__elementSelectionService.select('1316087792',$event)" [ngStyle]="__elementSelectionService.getStyles('1316087792')">
						<label for="dateadded" (contextmenu)="__elementSelectionService.select('1517921964',$event)" [ngStyle]="__elementSelectionService.getStyles('1517921964')">Date Added</label>
					</div>
					<div class="col-md-9" (contextmenu)="__elementSelectionService.select('1104184148',$event)" [ngStyle]="__elementSelectionService.getStyles('1104184148')">
						<input type="text" class="form-control" id="dateadded" value="{{this.usersViewInfo[0].dateAdded}}" disabled (contextmenu)="__elementSelectionService.select('599257137',$event)" [ngStyle]="__elementSelectionService.getStyles('599257137')">
					</div>
				</div>
			</div>
			<div class="form-group" (contextmenu)="__elementSelectionService.select('1656278480',$event)" [ngStyle]="__elementSelectionService.getStyles('1656278480')">
				<div class="row" (contextmenu)="__elementSelectionService.select('1977834477',$event)" [ngStyle]="__elementSelectionService.getStyles('1977834477')">
					<div class="col-md-3" (contextmenu)="__elementSelectionService.select('812428326',$event)" [ngStyle]="__elementSelectionService.getStyles('812428326')">
						<label for="roles" (contextmenu)="__elementSelectionService.select('742847586',$event)" [ngStyle]="__elementSelectionService.getStyles('742847586')">Roles</label>
					</div>
					<div class="col-md-9" (contextmenu)="__elementSelectionService.select('146045559',$event)" [ngStyle]="__elementSelectionService.getStyles('146045559')">
						<div class="form-check" ngFor="let userRoles of usersViewInfoRoles" (contextmenu)="__elementSelectionService.select('1734829247',$event)" [ngStyle]="__elementSelectionService.getStyles('1734829247')">
					      <input class="form-check-input" type="checkbox" value id="invalidCheck" required click="addRole(userRoles)" ngIf="this.finalStatus == '1'" (contextmenu)="__elementSelectionService.select('851442153',$event)" [ngStyle]="__elementSelectionService.getStyles('851442153')">
					      <label class="form-check-label" for="invalidCheck" (contextmenu)="__elementSelectionService.select('700575288',$event)" [ngStyle]="__elementSelectionService.getStyles('700575288')">
					        {{userRoles.description}}
					      </label>
					    </div>
					</div>
				</div>
			</div>

	      </div>
	      <div class="modal-footer" (contextmenu)="__elementSelectionService.select('42815157',$event)" [ngStyle]="__elementSelectionService.getStyles('42815157')">
	        <button type="button" class="btn btn-secondary" id="closeUpdateUserModalBtn" data-dismiss="modal" (contextmenu)="__elementSelectionService.select('1586729159',$event)" [ngStyle]="__elementSelectionService.getStyles('1586729159')">Close</button>
	        <button type="button" class="btn btn-primary" click="updateUser()" (contextmenu)="__elementSelectionService.select('330193485',$event)" [ngStyle]="__elementSelectionService.getStyles('330193485')">Save Changes</button>
	      </div>
	    </div>
	  </div>
	</div>


	<div class="modal fade" id="modalRegister" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true" (contextmenu)="__elementSelectionService.select('892913198',$event)" [ngStyle]="__elementSelectionService.getStyles('892913198')">
	  <div class="modal-dialog" role="document" (contextmenu)="__elementSelectionService.select('1571348186',$event)" [ngStyle]="__elementSelectionService.getStyles('1571348186')">
	    <div class="modal-content" (contextmenu)="__elementSelectionService.select('528443392',$event)" [ngStyle]="__elementSelectionService.getStyles('528443392')">
	      <div class="modal-header" (contextmenu)="__elementSelectionService.select('2120365456',$event)" [ngStyle]="__elementSelectionService.getStyles('2120365456')">
	        <h5 class="modal-title" id="exampleModalLongTitle" (contextmenu)="__elementSelectionService.select('228103620',$event)" [ngStyle]="__elementSelectionService.getStyles('228103620')">Create User</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (contextmenu)="__elementSelectionService.select('383632547',$event)" [ngStyle]="__elementSelectionService.getStyles('383632547')">
	          <span aria-hidden="true" (contextmenu)="__elementSelectionService.select('1921421584',$event)" [ngStyle]="__elementSelectionService.getStyles('1921421584')">&#215;</span>
	        </button>
	      </div>
	      <div class="modal-body" (contextmenu)="__elementSelectionService.select('497542245',$event)" [ngStyle]="__elementSelectionService.getStyles('497542245')">

			<form ngSubmit="registerSubmit($event)" ngNativeValidate (contextmenu)="__elementSelectionService.select('1415083168',$event)" [ngStyle]="__elementSelectionService.getStyles('1415083168')">
                    
                    <div class="input-group form-group" (contextmenu)="__elementSelectionService.select('743987796',$event)" [ngStyle]="__elementSelectionService.getStyles('743987796')">
                        <div class="input-group-prepend" (contextmenu)="__elementSelectionService.select('1779454174',$event)" [ngStyle]="__elementSelectionService.getStyles('1779454174')">
                            <span class="input-group-text" (contextmenu)="__elementSelectionService.select('1211499829',$event)" [ngStyle]="__elementSelectionService.getStyles('1211499829')"><i class="fa fa-user" (contextmenu)="__elementSelectionService.select('1599899111',$event)" [ngStyle]="__elementSelectionService.getStyles('1599899111')"></i></span>
                        </div>

                        <input type="text" class="form-control" id="firstname" name="firstname" ngModel="register.firstName" change="isDirty = true" placeholder="Firstname" required (contextmenu)="__elementSelectionService.select('834203298',$event)" [ngStyle]="__elementSelectionService.getStyles('834203298')">
                        
                    </div>
                    <div class="input-group form-group" (contextmenu)="__elementSelectionService.select('1497812715',$event)" [ngStyle]="__elementSelectionService.getStyles('1497812715')">
                        <div class="input-group-prepend" (contextmenu)="__elementSelectionService.select('564225883',$event)" [ngStyle]="__elementSelectionService.getStyles('564225883')">
                            <span class="input-group-text" (contextmenu)="__elementSelectionService.select('451521845',$event)" [ngStyle]="__elementSelectionService.getStyles('451521845')"><i class="fa fa-user" (contextmenu)="__elementSelectionService.select('1817353524',$event)" [ngStyle]="__elementSelectionService.getStyles('1817353524')"></i></span>
                        </div>

                        <input type="text" class="form-control" id="middlename" name="middlename" ngModel="register.middleName" change="isDirty = true" placeholder="Middlename" (contextmenu)="__elementSelectionService.select('59520963',$event)" [ngStyle]="__elementSelectionService.getStyles('59520963')">
                        
                    </div>
                    <div class="input-group form-group" (contextmenu)="__elementSelectionService.select('691864406',$event)" [ngStyle]="__elementSelectionService.getStyles('691864406')">
                        <div class="input-group-prepend" (contextmenu)="__elementSelectionService.select('2129302337',$event)" [ngStyle]="__elementSelectionService.getStyles('2129302337')">
                            <span class="input-group-text" (contextmenu)="__elementSelectionService.select('111741589',$event)" [ngStyle]="__elementSelectionService.getStyles('111741589')"><i class="fa fa-user" (contextmenu)="__elementSelectionService.select('1685657516',$event)" [ngStyle]="__elementSelectionService.getStyles('1685657516')"></i></span>
                        </div>

                        <input type="text" class="form-control" id="lastname" name="lastname" ngModel="register.lastName" change="isDirty = true" placeholder="Lastname" required (contextmenu)="__elementSelectionService.select('622829510',$event)" [ngStyle]="__elementSelectionService.getStyles('622829510')">
                        
                    </div>
                    
                    <div class="input-group form-group" (contextmenu)="__elementSelectionService.select('264593599',$event)" [ngStyle]="__elementSelectionService.getStyles('264593599')">
                        <div class="input-group-prepend" (contextmenu)="__elementSelectionService.select('1098268272',$event)" [ngStyle]="__elementSelectionService.getStyles('1098268272')">
                            <span class="input-group-text" (contextmenu)="__elementSelectionService.select('1839105413',$event)" [ngStyle]="__elementSelectionService.getStyles('1839105413')"><i class="fa fa-phone" (contextmenu)="__elementSelectionService.select('874956383',$event)" [ngStyle]="__elementSelectionService.getStyles('874956383')"></i></span>
                        </div>

                        <input type="text" class="form-control" id="contact" name="contact" ngModel="register.contactNumber" change="isDirty = true" placeholder="Contact" required (contextmenu)="__elementSelectionService.select('281188604',$event)" [ngStyle]="__elementSelectionService.getStyles('281188604')">
                        
                    </div>
                    <div class="input-group form-group" (contextmenu)="__elementSelectionService.select('1622647082',$event)" [ngStyle]="__elementSelectionService.getStyles('1622647082')">
                        <div class="input-group-prepend" (contextmenu)="__elementSelectionService.select('2040308244',$event)" [ngStyle]="__elementSelectionService.getStyles('2040308244')">
                            <span class="input-group-text" (contextmenu)="__elementSelectionService.select('2072676166',$event)" [ngStyle]="__elementSelectionService.getStyles('2072676166')"><i class="fa fa-user" (contextmenu)="__elementSelectionService.select('2139878835',$event)" [ngStyle]="__elementSelectionService.getStyles('2139878835')"></i></span>
                        </div>

                        <select class="form-control" id="roleId" name="roleId" ngModel="register.roleId" change="addRoleNewUser()" (contextmenu)="__elementSelectionService.select('577287577',$event)" [ngStyle]="__elementSelectionService.getStyles('577287577')">
                          <option value disabled="disabled" (contextmenu)="__elementSelectionService.select('1048068034',$event)" [ngStyle]="__elementSelectionService.getStyles('1048068034')">Choose Role</option>
                            <option ngFor="let role of rolesList" value="{{role.roleId}}" (contextmenu)="__elementSelectionService.select('300363772',$event)" [ngStyle]="__elementSelectionService.getStyles('300363772')">
                                {{role.description}}
                            </option>
                          
                        </select>
                        
                    </div>
                    <div class="input-group form-group hidden" id="manningAgencyField" (contextmenu)="__elementSelectionService.select('836859422',$event)" [ngStyle]="__elementSelectionService.getStyles('836859422')">
                        <div class="input-group-prepend" (contextmenu)="__elementSelectionService.select('1447221702',$event)" [ngStyle]="__elementSelectionService.getStyles('1447221702')">
                            <span class="input-group-text" (contextmenu)="__elementSelectionService.select('700148451',$event)" [ngStyle]="__elementSelectionService.getStyles('700148451')"><i class="fa fa-user" (contextmenu)="__elementSelectionService.select('25897191',$event)" [ngStyle]="__elementSelectionService.getStyles('25897191')"></i></span>
                        </div>

                        <select class="form-control" id="manningAgencyId" name="manningAgencyId" ngModel="register.manningAgencyId" (contextmenu)="__elementSelectionService.select('996212558',$event)" [ngStyle]="__elementSelectionService.getStyles('996212558')">
                          <option value="0" disabled="disabled" (contextmenu)="__elementSelectionService.select('2066517261',$event)" [ngStyle]="__elementSelectionService.getStyles('2066517261')">Choose Agency</option>
                            <option ngFor="let cust of customerList" value="{{cust.customerDetails.customerId}}" (contextmenu)="__elementSelectionService.select('162667769',$event)" [ngStyle]="__elementSelectionService.getStyles('162667769')">
                                {{cust.customerDetails.fullName}}
                            </option>
                        </select>
                        
                    </div>
                    <div class="input-group form-group hidden" id="agentField" (contextmenu)="__elementSelectionService.select('1361494328',$event)" [ngStyle]="__elementSelectionService.getStyles('1361494328')">
                        <div class="input-group-prepend" (contextmenu)="__elementSelectionService.select('1828773597',$event)" [ngStyle]="__elementSelectionService.getStyles('1828773597')">
                            <span class="input-group-text" (contextmenu)="__elementSelectionService.select('1918591637',$event)" [ngStyle]="__elementSelectionService.getStyles('1918591637')"><i class="fa fa-user" (contextmenu)="__elementSelectionService.select('1805123059',$event)" [ngStyle]="__elementSelectionService.getStyles('1805123059')"></i></span>
                        </div>

                        <select class="form-control" id="customerId" name="customerId" ngModel="register.customerId" (contextmenu)="__elementSelectionService.select('215998136',$event)" [ngStyle]="__elementSelectionService.getStyles('215998136')">
                          <option value="0" disabled="disabled" (contextmenu)="__elementSelectionService.select('1740775368',$event)" [ngStyle]="__elementSelectionService.getStyles('1740775368')">Choose Agent</option>
                            <option ngFor="let cust of customerAgentList" value="{{cust.customerDetails.customerId}}" (contextmenu)="__elementSelectionService.select('1319405167',$event)" [ngStyle]="__elementSelectionService.getStyles('1319405167')">
                                {{cust.customerDetails.fullName}}
                            </option>
                        </select>
                        
                    </div>
                    <div class="input-group form-group" (contextmenu)="__elementSelectionService.select('436765229',$event)" [ngStyle]="__elementSelectionService.getStyles('436765229')">
                        <div class="input-group-prepend" (contextmenu)="__elementSelectionService.select('1758508490',$event)" [ngStyle]="__elementSelectionService.getStyles('1758508490')">
                            <span class="input-group-text" (contextmenu)="__elementSelectionService.select('521915207',$event)" [ngStyle]="__elementSelectionService.getStyles('521915207')"><i class="fa fa-user" (contextmenu)="__elementSelectionService.select('1969660213',$event)" [ngStyle]="__elementSelectionService.getStyles('1969660213')"></i></span>
                        </div>

                        <input type="email" class="form-control" id="username" name="username" ngModel="register.username" ngModel="register.email" change="isDirty = true" placeholder="Username / Email" required (contextmenu)="__elementSelectionService.select('723602526',$event)" [ngStyle]="__elementSelectionService.getStyles('723602526')">
                        
                    </div>
                    <small class="text-danger" ngIf="this.passwordError != ''" (contextmenu)="__elementSelectionService.select('1177731605',$event)" [ngStyle]="__elementSelectionService.getStyles('1177731605')">*{{this.passwordError}}</small>
                    <div class="input-group form-group" (contextmenu)="__elementSelectionService.select('129132647',$event)" [ngStyle]="__elementSelectionService.getStyles('129132647')">
                        <div class="input-group-prepend" (contextmenu)="__elementSelectionService.select('1193086637',$event)" [ngStyle]="__elementSelectionService.getStyles('1193086637')">
                            <span class="input-group-text" (contextmenu)="__elementSelectionService.select('1728047532',$event)" [ngStyle]="__elementSelectionService.getStyles('1728047532')"><i class="fa fa-key" (contextmenu)="__elementSelectionService.select('915254540',$event)" [ngStyle]="__elementSelectionService.getStyles('915254540')"></i></span>
                        </div>
                        <input type="password" change="checkPassword()" class="form-control" id="password" placeholder="Password" ngModel="register.password" change="isDirty = true" name="password" required minlength="8" maxlength="14" (contextmenu)="__elementSelectionService.select('585632490',$event)" [ngStyle]="__elementSelectionService.getStyles('585632490')">
                    </div>

                    <div class="input-group form-group" (contextmenu)="__elementSelectionService.select('229576828',$event)" [ngStyle]="__elementSelectionService.getStyles('229576828')">
                        <div class="input-group-prepend" (contextmenu)="__elementSelectionService.select('344210156',$event)" [ngStyle]="__elementSelectionService.getStyles('344210156')">
                            <span class="input-group-text" (contextmenu)="__elementSelectionService.select('1329205437',$event)" [ngStyle]="__elementSelectionService.getStyles('1329205437')"><i class="fa fa-key" (contextmenu)="__elementSelectionService.select('761789674',$event)" [ngStyle]="__elementSelectionService.getStyles('761789674')"></i></span>
                        </div>
                        <input type="password" class="form-control" id="cpassword" placeholder="Confirm Password" ngModel="cpassword" change="isDirty = true" name="cpassword" required minlength="8" maxlength="14" (contextmenu)="__elementSelectionService.select('1488860618',$event)" [ngStyle]="__elementSelectionService.getStyles('1488860618')">
                    </div>
                    <div class="form-group pull-right" (contextmenu)="__elementSelectionService.select('1842886507',$event)" [ngStyle]="__elementSelectionService.getStyles('1842886507')">
	        <button type="button" id="closeAddUserBtn" class="btn btn-secondary mr-1" data-dismiss="modal" (contextmenu)="__elementSelectionService.select('1928887701',$event)" [ngStyle]="__elementSelectionService.getStyles('1928887701')">Close</button>

                        <input type="submit" value="Submit" class="btn btn-digi login_btn" (contextmenu)="__elementSelectionService.select('1625968524',$event)" [ngStyle]="__elementSelectionService.getStyles('1625968524')">
                    </div>
                </form>

	      </div>

	    </div>
	  </div>
	</div>

</div>
