    <h5>Personal Details</h5>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group row">
                <div class="col-md-12">
                    <label for="firstName" class="col-form-label affinity-label">FIRST NAME <span class="text-mapfre text-heavy">*</span></label>
                    <input type="text" id="firstName" [(ngModel)]="this.insuredAffinity.riskDetails.firstName" class="form-control required pa-personal-insured to-uppercase" placeholder="First Name" name="First Name">
                </div>
            </div>
            
        </div>
        <div class="col-md-4">
            <div class="form-group row">
                <div class="col-md-12">
                    <label for="middleName" class="affinity-label">MIDDLE NAME</label>
                    <input type="text" id="middleName" [(ngModel)]="this.insuredAffinity.riskDetails.middleName" class="form-control to-uppercase" placeholder="Middle Name" name="Middle Name">
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group row">
                <div class="col-md-12">
                    <label for="lastName" class="affinity-label">LAST NAME <span class="text-mapfre text-heavy">*</span></label>
                    <input type="text" id="lastName" [(ngModel)]="this.insuredAffinity.riskDetails.lastName" class="form-control to-uppercase required pa-personal-insured" placeholder="Last Name" name="Last Name">
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group row">
                <div class="col-md-12">
                    <label for="suffix" class="affinity-label">SUFFIX</label>
                    <select class="form-control" id="suffix" [(ngModel)]="this.insuredAffinity.riskDetails.suffix" name="Suffix">
                        <option></option>
                        <option *ngFor="let suffix of this.insuredAffinity.lov.suffixLOV" value="{{suffix.TIPO_SUFIJO_NOMBRE}}">{{suffix.NOM_VALOR}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group row">
                <div class="col-md-12">
                    <label for="gender" class="affinity-label">GENDER <span class="text-mapfre text-heavy">*</span></label>
                    <select class="form-control required pa-personal-insured" id="gender" name="Gender" [(ngModel)]="this.insuredAffinity.riskDetails.gender">
                        <option value="" disabled="disabled">Please choose Gender</option>
                        <option value="1">Male</option>
                        <option value="0">Female</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group row">
                <div class="col-md-12">
                    <label for="relationship" class="affinity-label">RELATIONSHIP <span class="text-mapfre text-heavy">*</span></label>
                    <select class="form-control required pa-personal-insured" id="relationship" name="Relationship" [(ngModel)]="this.insuredAffinity.riskDetails.relationship">
                        <option selected disabled hidden></option>
                        <option value="0" disabled="disabled">Please choose Relationship</option>
                        <option *ngFor="let rel of this.insuredAffinity.lov.relationshipLOV" value="{{rel.COD_VALOR}}:=:{{rel.NOM_VALOR}}">{{rel.NOM_VALOR}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group row">
                <div class="col-md-12">
                    <label for="birthDate" class="affinity-label">DATE OF BIRTH <span class="text-mapfre text-heavy">*</span></label>
                    <input type="date" id="birthDate" [(ngModel)]="this.insuredAffinity.riskDetails.birthDate" class="form-control required pa-personal-insured" name="Date of Birth">
                </div>
            </div>
        </div>
        <div class="col-md-4" class="row" style="display: none;">
	        <div class="form-group row">
	            <div class="col-md-12">
	                <div class="form-check">
					  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" [(ngModel)]="this.insuredAffinity.riskDetails.healthDeclaration" >
					  <label class="form-check-label" for="defaultCheck1">
					    With Health Declaration
					  </label>
					</div>
	            </div>
	            <div class="col-md-12" *ngIf="this.insuredAffinity.riskDetails.healthDeclaration == true">
	                <label for="preExistingIllness" class="affinity-label">DECLARE PRE-EXISTING ILLNESS <span class="text-mapfre text-heavy">*</span></label>
	                <input type="text" id="preExistingIllness" [(ngModel)]="this.insuredAffinity.riskDetails.preExistingIllness" class="form-control required pa-personal-insured to-uppercase" placeholder="Pre Existing Illness" name="Pre Existing Illness">
	            </div>
	        </div>
		</div> 
        
        
    </div>
    <br />
   
    <h5>Employment Details</h5>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group row">
                <div class="col-md-12">
                    <label for="occupationalClass" class="affinity-label">OCCUPATIONAL CLASS <span class="text-mapfre text-heavy">*</span></label>
                    <select class="form-control  pa-personal-insured" id="occupationalClass" name="Occupational Class" [(ngModel)]="this.insuredAffinity.riskDetails.occupationalClass" (change)="chooseOccupationalClass()">
                        <option selected disabled hidden></option>
                        <option value="0" disabled="disabled">Please choose Occupational Class</option>
                        <option *ngFor="let ocl of this.insuredAffinity.lov.occupationalClassLOV" value="{{ocl.COD_VALOR}}:=:{{ocl.NOM_VALOR}}">{{ocl.NOM_VALOR}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group row">
                <div class="col-md-12">
                    <label for="occupation" class="affinity-label">OCCUPATION <span class="text-mapfre text-heavy">*</span></label>
                    <select class="form-control  pa-personal-insured" id="occupation" name="Occupation" [(ngModel)]="this.insuredAffinity.riskDetails.occupation">
                        <option selected disabled hidden></option>
                        <option value="0" disabled="disabled">Please choose Occupation</option>
                        <option *ngFor="let ol of this.insuredAffinity.lov.occupationLOV" value="{{ol.COD_VALOR}}:=:{{ol.NOM_VALOR}}">{{ol.NOM_VALOR}}</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <br />
<br />
<br />
<div class="row">
    <div class="col-md-5">
        <button class="btn btn-mapfre mr-3 mt-3" (click)="backButtonAction()"><b>Back</b></button>
        <button class="btn btn-mapfre mt-3" (click)="addInsured()"><b>{{this.buttonSubject}}</b></button>
    </div>
</div>