<ngx-spinner bdColor="rgba(33,33,33,0.8)" size="large" color="#d31d29" type="triangle-skew-spin" [fullScreen]="true">
  <p style="color: white; text-align: center;"> <br />We are validating your encoded details. <br />This will take a few
    seconds.</p>
</ngx-spinner>

<div *ngIf="isLoggedIn" id="header" class="{{partnerName}} header-nav">
  <div class="col-md-12 header-border"></div>
  <ul class="nav justify-content-center">
    <li *ngIf="email != null" class="nav-item d-none d-md-block">
      <a class="nav-link"><i>Hi, {{email}}</i></a>
    </li>
    <li class="nav-item">
      <a class="nav-link link active" href="{{baseUrl}}issuance/"><i class="fa fa-home"></i> Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link link" (click)="logout()"><i class="fa fa-sign-out"></i> Logout</a>
    </li>
  </ul>
</div>

<div id="routerOutlet" class="{{partnerName}}">
  <router-outlet></router-outlet>
</div>
