.card {
	border-radius: 0;
	background-color: rgb(230,230,230);
	border: 0;
	margin-top: 25px;
}

.card-shadow{
	box-shadow: 1px 1px 25px 1px darkgrey;
}

.card-img-top {
	border-radius: 0;
}

.card-title{
	font-family: verdana;
	color: #d31d29;
}

.card-text{
	/* font-family: calibri; */
	font-size: 1.05rem;
	color: #474747;
}

.card-footer{
	background-color: rgb(240,240,240);
	border: 0;
}

.logo-collection{
	width: 10%;
	margin-left: 20px;
}

.logo-collection-1{
	width: 20%;
	margin-left: 50px;
}

.logo-holder{
	margin-top: 30px;
}

.under-logo{
	/* font-family: calibri; */
	color: #474747;
	font-weight: bold;
	margin-top: 30px;
}

.under-header-img{
	font-family: verdana;
	color: #474747;
	margin-top: 30px;
	font-size: 2rem;
}