<div id="content" (contextmenu)="__elementSelectionService.select('497911806',$event)" [ngStyle]="__elementSelectionService.getStyles('497911806')"(click)='__elementSelectionService.clear()'>
    <h5 class="page-title" (contextmenu)="__elementSelectionService.select('796938823',$event)" [ngStyle]="__elementSelectionService.getStyles('796938823')">
        <i class="fa fa-cogs" (contextmenu)="__elementSelectionService.select('2086106047',$event)" [ngStyle]="__elementSelectionService.getStyles('2086106047')"></i> Premium Amount Setup
    </h5>
    
    <div class="row mt-2 mb-2" (contextmenu)="__elementSelectionService.select('756395256',$event)" [ngStyle]="__elementSelectionService.getStyles('756395256')">
        <div class="col-md-5" (contextmenu)="__elementSelectionService.select('1859454692',$event)" [ngStyle]="__elementSelectionService.getStyles('1859454692')">
            <label for="inputPassword" class="digi-label col-form-label" (contextmenu)="__elementSelectionService.select('1131049747',$event)" [ngStyle]="__elementSelectionService.getStyles('1131049747')">Product List</label>
            <select class="form-control" change="chooseProduct()" ngModel="this.productHolder.product_detail_id" (contextmenu)="__elementSelectionService.select('82258506',$event)" [ngStyle]="__elementSelectionService.getStyles('82258506')">
                <option value="0" selected disabled (contextmenu)="__elementSelectionService.select('76883010',$event)" [ngStyle]="__elementSelectionService.getStyles('76883010')">Choose Product</option>
                <option ngFor="let product of latestProductList" value="{{product.product_detail_id}}-{{product.description}}" (contextmenu)="__elementSelectionService.select('1118957586',$event)" [ngStyle]="__elementSelectionService.getStyles('1118957586')">
                    {{product.description}}
                </option>
            </select>

        </div>
        <div class="col-md-7" (contextmenu)="__elementSelectionService.select('1389617596',$event)" [ngStyle]="__elementSelectionService.getStyles('1389617596')">
            <div class="row" (contextmenu)="__elementSelectionService.select('1876636886',$event)" [ngStyle]="__elementSelectionService.getStyles('1876636886')">
                <div class="col-md-12" (contextmenu)="__elementSelectionService.select('1111603803',$event)" [ngStyle]="__elementSelectionService.getStyles('1111603803')">
                    <label for="inputPassword" class="digi-label col-form-label" (contextmenu)="__elementSelectionService.select('264102753',$event)" [ngStyle]="__elementSelectionService.getStyles('264102753')">&#160;</label>
                </div>
                <div class="col-md-12" (contextmenu)="__elementSelectionService.select('1110322475',$event)" [ngStyle]="__elementSelectionService.getStyles('1110322475')">
                    <button class="btn btn-digi" data-toggle="modal" data-target="#modalNewProduct" click="clearModalContents()" ngIf="this.productHolder.product_detail_id != '0'" (contextmenu)="__elementSelectionService.select('1961217084',$event)" [ngStyle]="__elementSelectionService.getStyles('1961217084')"><i class="fa fa-plus" (contextmenu)="__elementSelectionService.select('993604505',$event)" [ngStyle]="__elementSelectionService.getStyles('993604505')"></i> Add New Setup</button>
                </div>
            </div>
            
        </div>
    </div>

    <div class="alert alert-success hidden fade" id="addPremiumSetupSuccess" role="alert" (contextmenu)="__elementSelectionService.select('1543469428',$event)" [ngStyle]="__elementSelectionService.getStyles('1543469428')">
      <i class="fa fa-check" (contextmenu)="__elementSelectionService.select('1745567829',$event)" [ngStyle]="__elementSelectionService.getStyles('1745567829')"></i> {{this.addPremiumSetupSuccess}}
          <button type="button" class="close" aria-label="Close" click="closeAlert('addPremiumSetupSuccess')" (contextmenu)="__elementSelectionService.select('852882756',$event)" [ngStyle]="__elementSelectionService.getStyles('852882756')">
            <span aria-hidden="true" (contextmenu)="__elementSelectionService.select('1082310012',$event)" [ngStyle]="__elementSelectionService.getStyles('1082310012')">&#215;</span>
          </button>
    </div>

    <div class="table-responsive" ngIf="premiumAmountList.length &#62; 0" (contextmenu)="__elementSelectionService.select('1612077249',$event)" [ngStyle]="__elementSelectionService.getStyles('1612077249')">
        <table class="table table-condensed table-small" (contextmenu)="__elementSelectionService.select('1387111806',$event)" [ngStyle]="__elementSelectionService.getStyles('1387111806')">

            <thead (contextmenu)="__elementSelectionService.select('1338967482',$event)" [ngStyle]="__elementSelectionService.getStyles('1338967482')">
                <td (contextmenu)="__elementSelectionService.select('452147298',$event)" [ngStyle]="__elementSelectionService.getStyles('452147298')">ID</td>
                <td (contextmenu)="__elementSelectionService.select('1215413165',$event)" [ngStyle]="__elementSelectionService.getStyles('1215413165')">Effective Date</td>
                <td (contextmenu)="__elementSelectionService.select('2009620872',$event)" [ngStyle]="__elementSelectionService.getStyles('2009620872')">Expiry Date</td>
                <td (contextmenu)="__elementSelectionService.select('1075664926',$event)" [ngStyle]="__elementSelectionService.getStyles('1075664926')">Term in Months</td>
                <td (contextmenu)="__elementSelectionService.select('1135495255',$event)" [ngStyle]="__elementSelectionService.getStyles('1135495255')">Premium Amount</td>
                <td (contextmenu)="__elementSelectionService.select('113717084',$event)" [ngStyle]="__elementSelectionService.getStyles('113717084')"></td>
            </thead>
            <tbody (contextmenu)="__elementSelectionService.select('842517037',$event)" [ngStyle]="__elementSelectionService.getStyles('842517037')">
                <tr ngFor="let pal of premiumAmountList" (contextmenu)="__elementSelectionService.select('406895069',$event)" [ngStyle]="__elementSelectionService.getStyles('406895069')">
                    <td (contextmenu)="__elementSelectionService.select('689813106',$event)" [ngStyle]="__elementSelectionService.getStyles('689813106')">{{pal.premiumDetails.premiumAmountId}}</td>
                    <td (contextmenu)="__elementSelectionService.select('379568578',$event)" [ngStyle]="__elementSelectionService.getStyles('379568578')">{{pal.premiumDetails.effectiveDate}}</td>
                    <td ngIf="pal.premiumDetails.ineffectiveDate" (contextmenu)="__elementSelectionService.select('443877278',$event)" [ngStyle]="__elementSelectionService.getStyles('443877278')">{{pal.premiumDetails.ineffectiveDate}}</td>
                    <td ngIf="!pal.premiumDetails.ineffectiveDate" (contextmenu)="__elementSelectionService.select('124177244',$event)" [ngStyle]="__elementSelectionService.getStyles('124177244')"></td>
                    <td (contextmenu)="__elementSelectionService.select('1124877284',$event)" [ngStyle]="__elementSelectionService.getStyles('1124877284')">{{pal.premiumDetails.termInMonth}}</td>
                    <td (contextmenu)="__elementSelectionService.select('729095062',$event)" [ngStyle]="__elementSelectionService.getStyles('729095062')">{{pal.premiumDetails.premiumAmount}}</td>
                    <td (contextmenu)="__elementSelectionService.select('420389009',$event)" [ngStyle]="__elementSelectionService.getStyles('420389009')">
                        <button class="btn btn-digi btn-sm" data-toggle="modal" data-target="#modalNewProduct" click="updateProductCoverage(pal)" (contextmenu)="__elementSelectionService.select('671331527',$event)" [ngStyle]="__elementSelectionService.getStyles('671331527')"><i class="fa fa-pencil" (contextmenu)="__elementSelectionService.select('162644288',$event)" [ngStyle]="__elementSelectionService.getStyles('162644288')"></i> </button>&#160;
                        <button class="btn btn-digi-red btn-sm" click="deleteProductCoverage(pal)" (contextmenu)="__elementSelectionService.select('177984075',$event)" [ngStyle]="__elementSelectionService.getStyles('177984075')"><i class="fa fa-times" (contextmenu)="__elementSelectionService.select('1727918497',$event)" [ngStyle]="__elementSelectionService.getStyles('1727918497')"></i> </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>

<div class="modal fade" id="modalNewProduct" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true" (contextmenu)="__elementSelectionService.select('134947614',$event)" [ngStyle]="__elementSelectionService.getStyles('134947614')"(click)='__elementSelectionService.clear()'>
      <div class="modal-dialog modal-lg" role="document" (contextmenu)="__elementSelectionService.select('1399706677',$event)" [ngStyle]="__elementSelectionService.getStyles('1399706677')">
        <div class="modal-content" (contextmenu)="__elementSelectionService.select('1423025369',$event)" [ngStyle]="__elementSelectionService.getStyles('1423025369')">
          <div class="modal-header modal-header-digi" (contextmenu)="__elementSelectionService.select('798082',$event)" [ngStyle]="__elementSelectionService.getStyles('798082')">
            <h5 class="modal-title" id="exampleModalLongTitle" (contextmenu)="__elementSelectionService.select('167097563',$event)" [ngStyle]="__elementSelectionService.getStyles('167097563')"><i class="fa fa-plus" (contextmenu)="__elementSelectionService.select('872678828',$event)" [ngStyle]="__elementSelectionService.getStyles('872678828')"></i> New Premium Setup</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (contextmenu)="__elementSelectionService.select('1831508121',$event)" [ngStyle]="__elementSelectionService.getStyles('1831508121')">
              <span aria-hidden="true" (contextmenu)="__elementSelectionService.select('212588675',$event)" [ngStyle]="__elementSelectionService.getStyles('212588675')">&#215;</span>
            </button>
          </div>
          <div class="modal-body" (contextmenu)="__elementSelectionService.select('677176993',$event)" [ngStyle]="__elementSelectionService.getStyles('677176993')">
          	<div class="alert alert-danger hidden fade" id="addPremiumSetupError" role="alert" (contextmenu)="__elementSelectionService.select('1013038947',$event)" [ngStyle]="__elementSelectionService.getStyles('1013038947')">
		      <i class="fa fa-times" (contextmenu)="__elementSelectionService.select('87430694',$event)" [ngStyle]="__elementSelectionService.getStyles('87430694')"></i> {{this.addPremiumSetupError}}
		          <button type="button" class="close" aria-label="Close" click="closeAlert('addPremiumSetupError')" (contextmenu)="__elementSelectionService.select('1460386243',$event)" [ngStyle]="__elementSelectionService.getStyles('1460386243')">
		            <span aria-hidden="true" (contextmenu)="__elementSelectionService.select('405615725',$event)" [ngStyle]="__elementSelectionService.getStyles('405615725')">&#215;</span>
		          </button>
		    </div>
          	<div class="row" (contextmenu)="__elementSelectionService.select('688261804',$event)" [ngStyle]="__elementSelectionService.getStyles('688261804')">
                <div class="col-md-6" (contextmenu)="__elementSelectionService.select('473218700',$event)" [ngStyle]="__elementSelectionService.getStyles('473218700')">
                    <div class="row" (contextmenu)="__elementSelectionService.select('385603944',$event)" [ngStyle]="__elementSelectionService.getStyles('385603944')">

                        <div class="col-md-12" (contextmenu)="__elementSelectionService.select('1728317830',$event)" [ngStyle]="__elementSelectionService.getStyles('1728317830')">
                            <label for="product-name" class="col-form-label digi-label font-weight-bold" (contextmenu)="__elementSelectionService.select('2127445152',$event)" [ngStyle]="__elementSelectionService.getStyles('2127445152')">Product Name</label>
                            <div id="product-name" (contextmenu)="__elementSelectionService.select('1203191083',$event)" [ngStyle]="__elementSelectionService.getStyles('1203191083')">{{this.productHolder.description}}</div>
                        </div>

                    </div>
                </div>
            </div>

            <hr (contextmenu)="__elementSelectionService.select('256875564',$event)" [ngStyle]="__elementSelectionService.getStyles('256875564')">

            <div class="form-group" (contextmenu)="__elementSelectionService.select('1212218490',$event)" [ngStyle]="__elementSelectionService.getStyles('1212218490')">
                <div class="row" (contextmenu)="__elementSelectionService.select('1206186734',$event)" [ngStyle]="__elementSelectionService.getStyles('1206186734')">
                    <div class="col-md-4" (contextmenu)="__elementSelectionService.select('960807260',$event)" [ngStyle]="__elementSelectionService.getStyles('960807260')">
                        <div class="row" (contextmenu)="__elementSelectionService.select('1243186340',$event)" [ngStyle]="__elementSelectionService.getStyles('1243186340')">

                            <div class="col-md-12" (contextmenu)="__elementSelectionService.select('91554481',$event)" [ngStyle]="__elementSelectionService.getStyles('91554481')">
                                <label for="effectivity-date" class="col-form-label digi-label" (contextmenu)="__elementSelectionService.select('1701241715',$event)" [ngStyle]="__elementSelectionService.getStyles('1701241715')">Variant</label>
                                 <select class="form-control" ngModel="newPremiumAmount.variant" (contextmenu)="__elementSelectionService.select('2058850466',$event)" [ngStyle]="__elementSelectionService.getStyles('2058850466')">
                                    <option selected disabled (contextmenu)="__elementSelectionService.select('2081228788',$event)" [ngStyle]="__elementSelectionService.getStyles('2081228788')">Choose Variant</option>
                                    <option value="Land" selected (contextmenu)="__elementSelectionService.select('1363210830',$event)" [ngStyle]="__elementSelectionService.getStyles('1363210830')">Land</option>
                                    <option value="Sea" selected (contextmenu)="__elementSelectionService.select('66055790',$event)" [ngStyle]="__elementSelectionService.getStyles('66055790')">Sea</option>
                                </select>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-4" (contextmenu)="__elementSelectionService.select('1159420977',$event)" [ngStyle]="__elementSelectionService.getStyles('1159420977')">
                        <div class="row" (contextmenu)="__elementSelectionService.select('1371394497',$event)" [ngStyle]="__elementSelectionService.getStyles('1371394497')">

                            <div class="col-md-12" (contextmenu)="__elementSelectionService.select('129600314',$event)" [ngStyle]="__elementSelectionService.getStyles('129600314')">
                                <label for="effectivity-date" class="col-form-label digi-label" (contextmenu)="__elementSelectionService.select('2069469501',$event)" [ngStyle]="__elementSelectionService.getStyles('2069469501')">Manning Agency</label>
                                 <select class="form-control" ngModel="newPremiumAmount.manningAgencyId" (contextmenu)="__elementSelectionService.select('1690085555',$event)" [ngStyle]="__elementSelectionService.getStyles('1690085555')">
                                    <option selected disabled (contextmenu)="__elementSelectionService.select('1529896508',$event)" [ngStyle]="__elementSelectionService.getStyles('1529896508')">Choose Manning Agency</option>
                                    <option value="0" selected (contextmenu)="__elementSelectionService.select('278654523',$event)" [ngStyle]="__elementSelectionService.getStyles('278654523')">General</option>
                                    <option ngFor="let a of manningAgencyList" value="{{a.customerDetails.customerId}}" (contextmenu)="__elementSelectionService.select('658247012',$event)" [ngStyle]="__elementSelectionService.getStyles('658247012')">
                                        {{a.customerDetails.fullName}}
                                    </option>
                                </select>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-4" (contextmenu)="__elementSelectionService.select('650428416',$event)" [ngStyle]="__elementSelectionService.getStyles('650428416')">
                        <div class="row" (contextmenu)="__elementSelectionService.select('2145172314',$event)" [ngStyle]="__elementSelectionService.getStyles('2145172314')">

                            <div class="col-md-12" (contextmenu)="__elementSelectionService.select('821655724',$event)" [ngStyle]="__elementSelectionService.getStyles('821655724')">
                                <label for="ineffectivity-date" class="col-form-label digi-label" (contextmenu)="__elementSelectionService.select('2003371258',$event)" [ngStyle]="__elementSelectionService.getStyles('2003371258')">Agent</label>
                                 <select class="form-control" ngModel="newPremiumAmount.agentId" (contextmenu)="__elementSelectionService.select('2007834327',$event)" [ngStyle]="__elementSelectionService.getStyles('2007834327')">
                                    <option selected disabled (contextmenu)="__elementSelectionService.select('1840344339',$event)" [ngStyle]="__elementSelectionService.getStyles('1840344339')">Choose Agent</option>
                                    <option value="0" selected (contextmenu)="__elementSelectionService.select('376853521',$event)" [ngStyle]="__elementSelectionService.getStyles('376853521')">General</option>
                                    <option ngFor="let ma of agentList" value="{{ma.customerDetails.customerId}}" (contextmenu)="__elementSelectionService.select('696765681',$event)" [ngStyle]="__elementSelectionService.getStyles('696765681')">
                                        {{ma.customerDetails.fullName}}
                                    </option>
                                </select>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <hr (contextmenu)="__elementSelectionService.select('910369968',$event)" [ngStyle]="__elementSelectionService.getStyles('910369968')">

            <div class="form-group" (contextmenu)="__elementSelectionService.select('1358696094',$event)" [ngStyle]="__elementSelectionService.getStyles('1358696094')">
	                <div class="row" (contextmenu)="__elementSelectionService.select('1955466828',$event)" [ngStyle]="__elementSelectionService.getStyles('1955466828')">
	                    <div class="col-md-4" (contextmenu)="__elementSelectionService.select('1677309032',$event)" [ngStyle]="__elementSelectionService.getStyles('1677309032')">
	                        <div class="row" (contextmenu)="__elementSelectionService.select('1286633987',$event)" [ngStyle]="__elementSelectionService.getStyles('1286633987')">

	                            <div class="col-md-12" (contextmenu)="__elementSelectionService.select('2089289205',$event)" [ngStyle]="__elementSelectionService.getStyles('2089289205')">
	                                <label for="effectivity-date" class="col-form-label digi-label" (contextmenu)="__elementSelectionService.select('2029029446',$event)" [ngStyle]="__elementSelectionService.getStyles('2029029446')">Effectivity Date</label>
	                                 <input type="date" change="isDirty = true" class="form-control" placeholder="Date" aria-label="date" aria-describedby="basic-addon1" id="effectivity-date" ngModel="newPremiumAmount.effectiveDate" (contextmenu)="__elementSelectionService.select('1443113412',$event)" [ngStyle]="__elementSelectionService.getStyles('1443113412')">
	                            </div>

	                        </div>
	                    </div>
	                    <div class="col-md-4" (contextmenu)="__elementSelectionService.select('430649701',$event)" [ngStyle]="__elementSelectionService.getStyles('430649701')">
	                        <div class="row" (contextmenu)="__elementSelectionService.select('632305672',$event)" [ngStyle]="__elementSelectionService.getStyles('632305672')">

	                            <div class="col-md-12" (contextmenu)="__elementSelectionService.select('1509828160',$event)" [ngStyle]="__elementSelectionService.getStyles('1509828160')">
	                                <label for="ineffectivity-date" class="col-form-label digi-label" (contextmenu)="__elementSelectionService.select('776171186',$event)" [ngStyle]="__elementSelectionService.getStyles('776171186')">Expiry Date</label>
	                                 <input type="date" change="isDirty = true" class="form-control" placeholder="Date" aria-label="date" aria-describedby="basic-addon1" id="ineffectivity-date" ngModel="newPremiumAmount.ineffectiveDate" (contextmenu)="__elementSelectionService.select('1847804422',$event)" [ngStyle]="__elementSelectionService.getStyles('1847804422')">
	                            </div>

	                        </div>
	                	</div>
                        <div class="col-md-4" (contextmenu)="__elementSelectionService.select('1249335218',$event)" [ngStyle]="__elementSelectionService.getStyles('1249335218')">
                            <div class="row" (contextmenu)="__elementSelectionService.select('1645454490',$event)" [ngStyle]="__elementSelectionService.getStyles('1645454490')">

                                <div class="col-md-12" (contextmenu)="__elementSelectionService.select('1469079700',$event)" [ngStyle]="__elementSelectionService.getStyles('1469079700')">
                                    <label for="term-in-month" class="col-form-label digi-label" (contextmenu)="__elementSelectionService.select('592919314',$event)" [ngStyle]="__elementSelectionService.getStyles('592919314')">Term in Month(s)</label>
                                     <input type="number" change="isDirty = true" class="form-control" placeholder="Term in Month" aria-label="date" aria-describedby="basic-addon1" id="term-in-month" ngModel="newPremiumAmount.termInMonth" (contextmenu)="__elementSelectionService.select('1408053773',$event)" [ngStyle]="__elementSelectionService.getStyles('1408053773')">
                                </div>

                            </div>
                        </div>
	                </div>
	                <div class="row" (contextmenu)="__elementSelectionService.select('740653982',$event)" [ngStyle]="__elementSelectionService.getStyles('740653982')">
	                	<div class="col-md-4" (contextmenu)="__elementSelectionService.select('2028288590',$event)" [ngStyle]="__elementSelectionService.getStyles('2028288590')">
	                        <div class="row" (contextmenu)="__elementSelectionService.select('1659896299',$event)" [ngStyle]="__elementSelectionService.getStyles('1659896299')">

	                            <div class="col-md-12" (contextmenu)="__elementSelectionService.select('1488399074',$event)" [ngStyle]="__elementSelectionService.getStyles('1488399074')">
	                                <label for="premium-amount" class="col-form-label digi-label" (contextmenu)="__elementSelectionService.select('1607029729',$event)" [ngStyle]="__elementSelectionService.getStyles('1607029729')">Premium Amount</label>
	                                 <input type="number" change="computeCommission()" class="form-control" placeholder="Premium Amount" aria-label="date" aria-describedby="basic-addon1" id="premium-amount" ngModel="newPremiumAmount.premiumAmount" (contextmenu)="__elementSelectionService.select('237974812',$event)" [ngStyle]="__elementSelectionService.getStyles('237974812')">
	                            </div>

	                        </div>
	                	</div>
                        <div class="col-md-4" ngFor="let pbtl of premiumBreakdownTypeList" (contextmenu)="__elementSelectionService.select('1815253611',$event)" [ngStyle]="__elementSelectionService.getStyles('1815253611')">
                            <div class="row" (contextmenu)="__elementSelectionService.select('221467957',$event)" [ngStyle]="__elementSelectionService.getStyles('221467957')">

                                <div class="col-md-12" (contextmenu)="__elementSelectionService.select('418404649',$event)" [ngStyle]="__elementSelectionService.getStyles('418404649')">
                                    <label for="term-in-month" class="col-form-label digi-label" (contextmenu)="__elementSelectionService.select('1862277374',$event)" [ngStyle]="__elementSelectionService.getStyles('1862277374')">{{pbtl.description}}</label>
                                    <input ngIf="pbtl.premiumBreakdownTypeId == '1'" change="computeCommission()" type="{{pbtl.type}}" change="isDirty = true" class="form-control" placeholder="{{pbtl.description}}" id="breakdown-{{pbtl.premiumBreakdownTypeId}}" (contextmenu)="__elementSelectionService.select('400125631',$event)" [ngStyle]="__elementSelectionService.getStyles('400125631')">
                                     <input ngIf="pbtl.premiumBreakdownTypeId == '3'" type="{{pbtl.type}}" change="isDirty = true" class="form-control" placeholder="{{pbtl.description}}" id="breakdown-{{pbtl.premiumBreakdownTypeId}}" (contextmenu)="__elementSelectionService.select('13900684',$event)" [ngStyle]="__elementSelectionService.getStyles('13900684')">
                                     <input ngIf="pbtl.premiumBreakdownTypeId == '2'" type="{{pbtl.type}}" change="isDirty = true" class="form-control" placeholder="{{pbtl.description}}" readonly="readonly" id="breakdown-{{pbtl.premiumBreakdownTypeId}}" (contextmenu)="__elementSelectionService.select('452408238',$event)" [ngStyle]="__elementSelectionService.getStyles('452408238')">
                                </div>

                            </div>
                        </div>

	            	</div>
	          	</div>

            

          <div class="modal-footer" (contextmenu)="__elementSelectionService.select('1977556966',$event)" [ngStyle]="__elementSelectionService.getStyles('1977556966')">
            <button type="button" id="closeModalSetup" class="btn btn-digi" data-dismiss="modal" (contextmenu)="__elementSelectionService.select('690961268',$event)" [ngStyle]="__elementSelectionService.getStyles('690961268')">Close</button>
            <button type="button" class="btn btn-digi" click="addNewPremiumAmountSetup()" (contextmenu)="__elementSelectionService.select('159866278',$event)" [ngStyle]="__elementSelectionService.getStyles('159866278')">Save Changes</button>
          </div>
        </div>
      </div>
    </div>
</div>