<div id="content">
    <h5 class="page-title">

        <i class="fa fa-list-ul"></i> Policy Coverages Management
    </h5>

    <button class="btn btn-digi btn-sm" data-toggle="modal" data-target="#modalNewCoverage"><i class="fa fa-plus"></i> Add Coverage</button>
    <!-- <button class="btn btn-danger btn-sm ml-1"><i class="fa fa-minus"></i> Deactivate</button> -->
    <div class="table-responsive">
    <table class="table-text-left table table-condensed table-hover   mt-3 table-small">
    	<thead>
    		<!-- <td>Type ID</td> -->
            <td>Name</td>
    		<td>Benefit</td>
            <td>Line</td>
            <td>Subline</td>
            <td>Date Added</td>
    		<td style="min-width: 80px;"></td>
    	</thead>
    	<tbody>
    		<tr *ngFor="let coverage of coveragesList">
                <!-- <td>{{coverage.coverage_type_id}}</td> -->
                <td>{{coverage.type_name}} ({{coverage.cover_code}})</td>
                <td>{{coverage.type_description}}</td>
                <td>{{coverage.line_description}}</td>
                <td>{{coverage.subline_description}}</td>
                <td>{{coverage.date_added}}</td>
    			<td>
                    <button data-toggle="modal" data-target="#modalUpdateCoverage" class="btn btn-digi btn-sm  mr-1" (click)="updateCoverageType(coverage)"><i class="fa fa-pencil text-default"></i> </button>
                    <button class="btn btn-digi-red btn-sm" (click)="deleteCoverageType(coverage)"><i class="fa fa-times"></i> </button>
                </td>
    		</tr>
    	</tbody>
    </table>
</div>
    <!-- Modal -->
	<div class="modal fade" id="modalNewCoverage" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header modal-header-digi">
	        <h5 class="modal-title" id="exampleModalLongTitle">New Benefit</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">

            <div class="form-group">
                <div class="row">
                    <div class="col-md-3">
                        <label for="fullname">Line</label>
                    </div>
                    <div class="col-md-9">
                        <select class="form-control" (change)="chooseLine('insert')" [(ngModel)]="coverage.line_detail_id">
                            <option disabled="disabled">Please choose a Line</option>
                            <option *ngFor="let line of lineList" value="{{line.line_detail_id}}">
                                {{line.description}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="form-group hidden" id="subline-chooser">
                <div class="row">
                    <div class="col-md-3">
                        <label for="fullname">Subline</label>
                    </div>
                    <div class="col-md-9">
                        <select class="form-control" (change)="chooseSubLine()" [(ngModel)]="coverage.subline_detail_id">
                            <option disabled="disabled">Please choose a Subline</option>
                            <option *ngFor="let subline of sublineList" value="{{subline.subline_detail_id}}">
                                {{subline.description}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div id="new-coverage-col" class="hidden">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-3">
                            <label for="fullname">Coverage Name</label>
                        </div>
                        <div class="col-md-9">
                            <input type="text" (change)="isDirty = true" class="form-control" placeholder="Name" aria-label="Name" aria-describedby="basic-addon1" id="coverage-name" [(ngModel)]="coverage.type_name">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-3">
                            <label for="fullname">Coverage Benefit</label>
                        </div>
                        <div class="col-md-9">
                            <input type="text" (change)="isDirty = true" class="form-control" placeholder="Benefit" aria-label="Benefit" aria-describedby="basic-addon1" id="coverage-benefit" [(ngModel)]="coverage.type_description">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-3">
                            <label for="fullname">Coverage Code</label>
                        </div>
                        <div class="col-md-9">
                            <input type="text" (change)="isDirty = true" class="form-control" placeholder="Benefit" aria-label="Benefit" aria-describedby="basic-addon1" id="coverage-code" [(ngModel)]="coverage.cover_code">
                        </div>
                    </div>
                </div>
            </div>


	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-digi" id="addCoverageClose" data-dismiss="modal">Close</button>
	        <button type="button" class="btn btn-digi" (click)="addCoverage()">Save Changes</button>
	      </div>
	    </div>
	  </div>
	</div>

    <div class="modal fade" id="modalUpdateCoverage" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true" *ngIf="this.coveragesListUpdate !== null">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header modal-header-digi">
            <h5 class="modal-title" id="exampleModalLongTitle">Update Benefit Details</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

            <div class="form-group hidden">
                <div class="row">
                    <div class="col-md-3">
                        <label for="fullname">Line</label>
                    </div>
                    <div class="col-md-9">
                        <select class="form-control" (change)="chooseLine('update')"  value="{{this.coveragesListUpdate.line_detail_id}}" [(ngModel)]="this.coveragesListUpdate.line_detail_id">
                            <option disabled="disabled">Please choose a Line</option>
                            <option *ngFor="let line of lineList.msg" value="{{line.line_detail_id}}">
                                {{line.description}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="form-group hidden" id="subline-chooser">
                <div class="row">
                    <div class="col-md-3">
                        <label for="fullname">Subline</label>
                    </div>
                    <div class="col-md-9">
                        <select class="form-control"  value="{{this.coveragesListUpdate.subline_detail_id}}" [(ngModel)]="this.coveragesListUpdate.subline_detail_id">
                            <option disabled="disabled">Please choose a Subline</option>
                            <option *ngFor="let subline of sublineList.msg" value="{{subline.subline_detail_id}}">
                                {{subline.description}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-md-3">
                        <label for="fullname">Benefit Name</label>
                    </div>
                    <div class="col-md-9">
                        <input type="text" (change)="isDirty = true" class="form-control" id="coverage-name" value="{{this.coveragesListUpdate.type_name}}" [(ngModel)]="this.coveragesListUpdate.type_name">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label for="usernameDis">Benefit Description</label>
                    </div>
                    <div class="col-md-9">
                        <input type="text" (change)="isDirty = true" class="form-control" id="coverage-benefit" value="{{this.coveragesListUpdate.type_description}}" [(ngModel)]="coveragesListUpdate.type_description">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label for="usernameDis">Coverage Code</label>
                    </div>
                    <div class="col-md-9">
                        <input type="text" (change)="isDirty = true" class="form-control" id="coverage-code" value="{{this.coveragesListUpdate.cover_code}}" [(ngModel)]="coveragesListUpdate.cover_code">
                    </div>
                </div>
            </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-digi" id="submitUpdateCoverageTypeClose" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-digi" (click)="submitUpdateCoverageType()">Save Changes</button>
          </div>
        </div>
      </div>
    </div>

</div>
