<h5 *ngIf="this.affinity.motorDetails.isCorporate == '1'">Personal Details of Owner</h5>
<h5 *ngIf="this.affinity.motorDetails.isCorporate == '2'">Company Details</h5>
<div class="row" *ngIf="this.affinity.motorDetails.isCorporate == '1'">
  <div class="col-md-4">
    <div class="form-group row">
      <div class="col-md-12">
        <label for="firstName" class="col-form-label affinity-label">FIRST NAME <span
            class="text-mapfre text-heavy">*</span></label>
        <input type="text" id="firstName" [(ngModel)]="this.affinity.riskDetails.firstName"
          class="form-control required motor-policy-details to-uppercase" name="First Name" placeholder="First Name">
      </div>
    </div>

  </div>
  <div class="col-md-4">
    <div class="form-group row">
      <div class="col-md-12">
        <label for="middleName" class="affinity-label">MIDDLE NAME</label>
        <input type="text" id="middleName" [(ngModel)]="this.affinity.riskDetails.middleName"
          class="form-control to-uppercase" placeholder="Middle Name" name="Middle Name">
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group row">
      <div class="col-md-12">
        <label for="lastName" class="affinity-label">LAST NAME <span class="text-mapfre text-heavy">*</span></label>
        <input type="text" id="lastName" name="Last Name" [(ngModel)]="this.affinity.riskDetails.lastName"
          class="form-control required motor-policy-details to-uppercase" placeholder="Last Name">
      </div>
    </div>
  </div>
</div>
<div class="row" *ngIf="this.affinity.motorDetails.isCorporate == '1'">
  <div class="col-md-4">
    <div class="form-group row">
      <div class="col-md-12">
        <label for="suffix" class="affinity-label">SUFFIX</label>
        <select class="form-control" id="suffix" [(ngModel)]="this.affinity.riskDetails.suffix" name="Suffix">
          <option></option>
          <option *ngFor="let suffix of this.affinity.lov.suffixLOV" value="{{suffix.TIPO_SUFIJO_NOMBRE}}">
            {{suffix.NOM_VALOR}}</option>
        </select>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group row">
      <div class="col-md-12">
        <label for="nationality" class="affinity-label">NATIONALITY <span
            class="text-mapfre text-heavy">*</span></label>
        <select class="form-control required motor-policy-details" name="Nationality" id="nationality"
          [(ngModel)]="this.affinity.riskDetails.nationality" (change)="blacklist($event)">
          <option value="0" disabled="disabled">Please choose Nationality</option>
          <option *ngFor="let nat of this.affinity.lov.nationalityLOV" value="{{nat.COD_PAIS}}">{{nat.NOM_PAIS}}
          </option>
        </select>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group row">
      <div class="col-md-12">
        <label for="gender" class="affinity-label">GENDER <span class="text-mapfre text-heavy">*</span></label>
        <select class="form-control required motor-policy-details" name="Gender" id="gender"
          [(ngModel)]="this.affinity.riskDetails.gender">
          <option disabled="disabled">Please choose Gender</option>
          <option value="1">Male</option>
          <option value="0">Female</option>
        </select>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group row">
      <div class="col-md-12">
        <label for="civilStatus" class="affinity-label">CIVIL STATUS <span
            class="text-mapfre text-heavy">*</span></label>
        <select class="form-control required motor-policy-details" name="Civil Status" id="civilStatus"
          [(ngModel)]="this.affinity.riskDetails.civilStatus">
          <option value="0" disabled="disabled">Please choose Civil Status</option>
          <option *ngFor="let civil of this.affinity.lov.civilStatusLOV" value="{{civil.COD_EST_CIVIL}}">
            {{civil.NOM_VALOR}}</option>
        </select>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group row">
      <div class="col-md-12">
        <label for="birthDate" class="affinity-label">DATE OF BIRTH <span
            class="text-mapfre text-heavy">*</span></label>
        <input type="date" id="birthDate" [(ngModel)]="this.affinity.riskDetails.birthDate"
          class="form-control required motor-policy-details" name="Date of Birth">
      </div>
    </div>
  </div>
</div>
<div class="row" *ngIf="this.affinity.motorDetails.isCorporate == '2'">
  <div class="col-md-12">
    <div class="form-group row">
      <div class="col-md-6">
        <label for="fullName" class="col-form-label affinity-label">COMPANY NAME <span
            class="text-mapfre text-heavy">*</span></label>
        <input type="text" id="fullName" [(ngModel)]="this.affinity.riskDetails.firstName"
          class="form-control required motor-policy-details" placeholder="Full Company Name" name="Full Company Name">
      </div>
    </div>

  </div>
</div>
<h5>Mailing Address&nbsp;<span class="text-mapfre text-heavy">*</span></h5>
<strong>Note: </strong><i>add atleast (1) one address</i>

<div class="row" *ngIf="this.addAddress == '' && this.affinity.lov.addressLOV.length > 0">
  <div class="col-md-4"><button type="button" class="btn btn-mapfre" (click)="openAddress()">Add Address</button></div>
</div>
<app-address *ngIf="this.addAddress == 'add'" [title]="this.presentAddressTitle" [affinity]="this.affinity"
  (addressDetailsOutput)="catchAddress($event)"></app-address>

<div class="row mt-5" *ngIf="this.tempAddresses.length > 0">
  <div class="col-md-12">
    <table class="table table-small table-hover table-condensed">
      <thead>
        <tr>
          <td>Type</td>
          <td>Full Address</td>
          <td>Mailing Address</td>
          <td></td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let address of this.tempAddresses">
          <td>{{address.addressType}}</td>
          <td>{{address.addressDetails}} {{address.municipalityDetail}} {{address.provinceDetail}} {{address.zipCode}}
          </td>
          <td>
            <h3><i class="fa fa-check-circle text-success" *ngIf="address.mailingAddress == '1'"></i></h3>
          </td>
          <td><button type="button" class="btn btn-mapfre mr-3" (click)="setCorrespondent(address)"><i
                class="fa fa-envelope"></i> Set Mailing Address</button><button type="button" class="btn btn-mapfre"
              (click)="removeAddressList(address)"><i class="fa fa-times"></i> Remove</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<br />
<h5>Alternative Holder</h5>
<button type="button" *ngIf="this.alternativeHolder.length == 0" class="btn btn-mapfre" data-toggle="modal"
  data-target="#addAlternativeId" (click)="addAlternativeHolderModal()">
  Add Alternative Holder
</button>
<div class="row mt-5" *ngIf="this.alternativeHolder.length > 0">
  <div class="col-md-12">
    <table class="table table-small table-hover table-condensed">
      <thead>
        <tr>
          <td>Complete Name</td>
          <td>Full Address</td>
          <td>ID</td>
          <td></td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let altHolder of this.alternativeHolder">
          <td>{{altHolder.riskDetails.firstName}}<span
              *ngIf="altHolder.motorDetails.isCorporate == '1'">{{altHolder.riskDetails.middleName}}
              {{altHolder.riskDetails.lastName}}</span></td>
          <td>{{altHolder.riskDetails.homeAddress.addressDetails}}
            {{altHolder.riskDetails.homeAddress.municipalityDetail}}
            {{altHolder.riskDetails.homeAddress.provinceDetail}} {{altHolder.riskDetails.homeAddress.zipCode}}</td>
          <td><button type="button" class="btn btn-mapfre" (click)="removeAddressList(altHolder)"><i
                class="fa fa-times"></i></button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<br />
<h5>Valid Government IDs</h5>
<div class="row">
  <div class="col-md-4">
    <div class="form-group row">
      <div class="col-md-12">
        <label for="validID" class="affinity-label">GOVERNMENT ID <span class="text-mapfre text-heavy">*</span></label>
        <select class="form-control  required motor-policy-details" name="Goverment ID" id="validID"
          [(ngModel)]="this.affinity.riskDetails.validID">
          <option value="0" disabled="disabled">Please choose ID</option>
          <option *ngFor="let cod of this.affinity.lov.documentLOV" value="{{cod.TIP_DOCUM}}">{{cod.NOM_DOCUM}}</option>
        </select>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group row">
      <div class="col-md-12">
        <label for="validIDValue" class="affinity-label">ID NUMBER <span class="text-mapfre text-heavy">*</span></label>
        <input type="text" id="validIDValue" class="form-control required motor-policy-details to-uppercase"
          name="ID Number" maxlength="20" placeholder="ID Number" [(ngModel)]="this.affinity.riskDetails.validIDValue">
      </div>
    </div>
  </div>
</div>
<h5>Contact Details</h5>
<div class="row">
  <div class="col-md-4">
    <div class="form-group row">
      <div class="col-md-12">
        <label for="email" class="affinity-label">EMAIL <span class="text-mapfre text-heavy">*</span></label>
        <input type="email" id="email" class="form-control required motor-policy-details to-uppercase" name="Email"
          placeholder="Email" [(ngModel)]="this.affinity.riskDetails.emailAddress">
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group row">
      <div class="col-md-12">
        <label for="phoneNumber" class="affinity-label">MOBILE/PHONE NUMBER <span
            class="text-mapfre text-heavy">*</span></label>
        <input type="text" id="phoneNumber" maxlength="12"
          class="form-control required motor-policy-details to-uppercase" name="Phone Number" placeholder="Phone Number"
          [(ngModel)]="this.affinity.riskDetails.phoneNumber">
      </div>
    </div>
  </div>
</div>
<br />
<h5>KYC Fields</h5>
<div class="row">
  <div class="col-md-3">
    <div class="form-group row">
      <div class="col-md-12">
        <button class="btn btn-mapfre btn-block" data-toggle="collapse" href="#kycFieldHolder" role="button"
          aria-expanded="false" aria-controls="kycFieldHolder"><b>Show all Fields</b></button>
      </div>
    </div>
  </div>
</div>
<div class="row collapse" id="kycFieldHolder">
  <div class="col-md-4">
    <div class="form-group row">
      <div class="col-md-12">
        <label for="birthPlace" class="affinity-label">PLACE OF BIRTH</label>
        <input type="text" id="birthPlace" class="form-control to-uppercase" placeholder="Place of Birth"
          [(ngModel)]="this.affinity.KYC.NOM_NACIMIENTO">
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group row">
      <div class="col-md-12">
        <label for="sssGSIS" class="affinity-label">SSS/GSIS NUMBER</label>
        <input type="text" id="sssGSIS" class="form-control to-uppercase" placeholder="SSS/GSIS Number"
          [(ngModel)]="this.affinity.KYC.NUM_SSS_GSIS">
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group row">
      <div class="col-md-12">
        <label for="numTIN" class="affinity-label">TIN</label>
        <input type="text" id="numTIN" class="form-control to-uppercase" placeholder="TIN"
          [(ngModel)]="this.affinity.KYC.NUM_TIN">
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group row">
      <div class="col-md-12">
        <label for="sourceOfFunds" class="affinity-label">SOURCE OF FUNDS</label>
        <input type="text" id="sourceOfFunds" class="form-control to-uppercase" placeholder="Source of Funds"
          [(ngModel)]="this.affinity.KYC.NOM_FUENTO_FONDO">
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group row">
      <div class="col-md-12">
        <label for="netIncome" class="affinity-label">NET INCOME</label>
        <input type="text" id="netIncome" class="form-control to-uppercase" placeholder="Net Income"
          [(ngModel)]="this.affinity.KYC.NUM_INGRESOS_NETOS">
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group row">
      <div class="col-md-12">
        <label for="businessNature" class="affinity-label">NAME OF BUSINESS/SELF EMPLOYMENT</label>
        <input type="text" id="businessNature" class="form-control to-uppercase" placeholder="Nature of Business"
          [(ngModel)]="this.affinity.KYC.NOM_NEGOCIO">
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group row">
      <div class="col-md-12">
        <label for="empBusName" class="affinity-label">EMPLOYER'S/BUSINESS NAME</label>
        <input type="text" id="empBusName" class="form-control to-uppercase" placeholder="Employer's Business Name"
          [(ngModel)]="this.affinity.KYC.NOM_EMP_BUS_ANIO_SINGKO">
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group row">
      <div class="col-md-12">
        <label for="houseOwnName" class="affinity-label">HOUSE OWNER'S NAME</label>
        <input type="text" id="houseOwnName" class="form-control to-uppercase" placeholder="House Owner's Name"
          [(ngModel)]="this.affinity.KYC.NOM_CASA_OWN">
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group row">
      <div class="col-md-12">
        <label for="houseRentName" class="affinity-label">HOUSE LESSEE'S NAME</label>
        <input type="text" id="houseRentName" class="form-control to-uppercase" placeholder="House Lessee's Name"
          [(ngModel)]="this.affinity.KYC.NOM_CASE_RENT">
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group row">
      <div class="col-md-12">
        <label for="benef" class="affinity-label">BENEFICIARIES</label>
        <input type="text" id="benef" class="form-control to-uppercase" placeholder="Beneficiaries"
          [(ngModel)]="this.affinity.KYC.NOM_BENEFICIARIO">
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group row">
      <div class="col-md-12">
        <label for="numChild" class="affinity-label">NO. OF CHILDREN W/ SUPPORT</label>
        <input type="text" id="numChild" class="form-control to-uppercase" placeholder="Number of Children w/ Support"
          [(ngModel)]="this.affinity.KYC.NUM_NINOS">
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group row">
      <div class="col-md-12">
        <label for="carOwn" class="affinity-label">CAR'S OWNED</label>
        <input type="text" id="carOwn" class="form-control to-uppercase" placeholder="Car's Owned"
          [(ngModel)]="this.affinity.KYC.NOM_COCHE">
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group row">
      <div class="col-md-12">
        <label for="banksList" class="affinity-label">LIST OF BANKS</label>
        <input type="text" id="banksList" class="form-control to-uppercase" placeholder="List of Banks"
          [(ngModel)]="this.affinity.KYC.NOM_BANCO">
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group row">
      <div class="col-md-12">
        <label for="banksAcctTypes" class="affinity-label">TYPE OF BANK ACCOUNTS</label>
        <input type="text" id="banksAcctTypes" class="form-control to-uppercase" placeholder="Type of Bank Accounts"
          [(ngModel)]="this.affinity.KYC.TIP_BANCO_ACCT">
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group row">
      <div class="col-md-12">
        <label for="seniorOfficer" class="affinity-label">SENIOR OFFICER</label>
        <input type="text" id="seniorOfficer" class="form-control to-uppercase" placeholder="Senior Officer"
          [(ngModel)]="this.affinity.KYC.COD_EMP_CLASS">
      </div>
    </div>
  </div>
</div>
<br />
<br />
<br />
<h5>Payment Option</h5>
<div class="row">
  <div class="col-md-3">
    <div class="custom-control custom-radio custom-control-inline">
      <input type="radio" id="customRadioInline1" name="customRadioInline1" [(ngModel)]="this.affinity.paymentOption"
        class="custom-control-input" value="cc">
      <label class="custom-control-label" for="customRadioInline1">Pay using Credit Card/Debit Card</label>
    </div>
  </div>
  <div class="col-md-3">
    <div class="custom-control custom-radio custom-control-inline">
      <input type="radio" id="customRadioInline3" name="customRadioInline3" [(ngModel)]="this.affinity.paymentOption"
        class="custom-control-input" value="co">
      <label class="custom-control-label" for="customRadioInline3">Pay via OTC/GCash</label>
    </div>
  </div>
</div>
<br />
<div class="row" *ngIf="this.affinity.paymentOption">
  <div class="col-md-12">
    <button class="btn btn-mapfre mr-3 mt-3" (click)="backButtonAction()"><b>Back</b></button>
    <button class="btn btn-mapfre mt-3" (click)="nextStepAction('payment')"><b>Proceed to Payment</b></button>
  </div>
</div>
<div class="modal fade" id="addAlternativeId" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Alternative Holder</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-alternative-holder *ngIf="this.addAlternativeShow == 'show'" (affinityOutput2)="addAlternative($event)"
          (nextStep)="modalAction($event)"></app-alternative-holder>
      </div>
      <div class="modal-footer">
        <button type="button" style="display: none" id="closeModal" class="btn btn-secondary"
          data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>