<div class="wrapper">
  <!-- Sidebar -->
  <app-sidebar></app-sidebar>
  <div class="main-panel">
    <!-- Navbar -->
    <app-admin-header></app-admin-header>
    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header ">
                <h1 class="card-title">Product</h1>
              </div>
              <!-- .card-header -->
              <form class="card-body" [formGroup]="partnerForm">

                <h5>Partner</h5>
                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group row">
                      <div class="col-md-12">
                        <label for="partner">PARTNER</label>
                        <select class="form-control required " formControlName="partner" id="partner"
                          (change)="getPartnerDetails()">
                          <option value="0" disabled="disabled">Please choose Partner</option>
                          <!-- <option value="100">Private Car</option>
                          <option value="120">Motorcycle</option>
                          <option value="337">Personal Accident</option> -->
                          <!-- <option value="251">Household</option> -->
                        </select>
                      </div>
                    </div>
                  </div>
                </div>

                <div>
                  <h5>Agent Information</h5>
                  <div class="row">
                    <div class="col-md-4">
                      <div class="form-group row">
                        <div class="col-md-12">
                          <label for="agentCode">AGENT CODE </label>
                          <input type="text" class="form-control required" formControlName="agentCode" disabled>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-4">
                      <div class="form-group row">
                        <div class="col-md-12">
                          <label for="subline">SUBLINE</label>
                          <select class="form-control required " formControlName="subline" id="subline"
                            (change)="getGroupPolicy()" disabled>
                            <option value="0" disabled="disabled">Please choose Subline</option>
                            <option value="100">Private Car</option>
                            <option value="120">Motorcycle</option>
                            <option value="337">Personal Accident</option>
                            <!-- <option value="251">Household</option> -->
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- .row -->


                  <h5>Basic Information</h5>
                  <div class="row">
                    <div class="col-md-4">
                      <div class="form-group row">
                        <div class="col-md-12">
                          <label for="partnerName">PARTNER NAME </label>
                          <input type="text" class="form-control number required" formControlName="partnerName" disabled>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group row">
                        <div class="col-md-12">
                          <label for="partnerName">DOMAIN </label>
                          <input type="text" class="form-control number required" formControlName="domain" disabled>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- .row -->

                  <h5>Policy</h5>
                  <div class="row">
                    <div class="col-md-4">
                      <div class="form-group row">
                        <div class="col-md-12">
                          <label for="groupPolicy">Group Policy</label>
                          <select class="form-control required " formControlName="groupPolicy" id="groupPolicy" disabled>
                            <option value="0" disabled="disabled">Please choose Policy</option>
                            <option *ngFor="let policy of groupPolicyLOV" value="{{policy.NUM_POLIZA}}">
                              {{policy.NOM_POLIZA}}</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group row">
                        <div class="col-md-12">
                          <label for="contract">Contract</label>
                          <select class="form-control required " formControlName="contract" id="contract" disabled>
                            <option value="0" disabled="disabled">Please choose Contract</option>
                            <option *ngFor="let contract of contractLOV" value="{{contract.NUM_CONTRATO}}">
                              {{contract.NOM_CONTRATO}}</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group row">
                        <div class="col-md-12">
                          <label for="subContract">Sub-Contract</label>
                          <select class="form-control required " formControlName="subContract" id="subContract" disabled>
                            <option value="0" disabled="disabled">Please choose Sub-Contract</option>
                            <option *ngFor="let subContract of subContractLOV" value="{{subContract.NUM_SUBCONTRATO}}">
                              {{subContract.NOM_SUBCONTRATO}}
                            </option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- .row -->

                  <h5>Products</h5>
                  <div class="row">
                    <div class="col-md-4">
                      <div class="form-group row">
                        <div class="col-md-12" formArrayName="products">

                          <div *ngFor="let product of sublineProducts">

                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" id="{{product.name}}" [value]="product.id"
                                (change)="onCheckChange($event)">
                              <label class="form-check-label" for="{{product.name}}">
                                {{product.name}}
                              </label>
                            </div>

                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- .row -->
                </div>

                <br />
                <br />

                <div class="btn-group">
                  <button class="btn btn-success" (click)="save()">SAVE</button>
                  <button class="btn btn-secondary">CANCEL</button>
                </div>

              </form>
              <!-- .card-body -->
            </div>
            <!-- .card -->
          </div>
          <!-- .col-md-12 -->
        </div>
        <!-- .row -->
      </div>
      <!-- .container-fluid -->
    </div>
    <!-- .content -->

    <!-- Footer -->
    <app-admin-footer></app-admin-footer>
  </div>
</div>