
<div class="col-md-12" style="height: 100px;" (contextmenu)="__elementSelectionService.select('899018720',$event)" [ngStyle]="__elementSelectionService.getStyles('899018720')"(click)='__elementSelectionService.clear()'></div>
<div class="container" (contextmenu)="__elementSelectionService.select('24104289',$event)" [ngStyle]="__elementSelectionService.getStyles('24104289')"(click)='__elementSelectionService.clear()'>
    <div class="d-flex justify-content-center h-100" (contextmenu)="__elementSelectionService.select('637676463',$event)" [ngStyle]="__elementSelectionService.getStyles('637676463')">
        <div class="card" (contextmenu)="__elementSelectionService.select('1501163211',$event)" [ngStyle]="__elementSelectionService.getStyles('1501163211')">
            <div class="card-header" (contextmenu)="__elementSelectionService.select('1467407162',$event)" [ngStyle]="__elementSelectionService.getStyles('1467407162')">
                <h3 (contextmenu)="__elementSelectionService.select('1130410540',$event)" [ngStyle]="__elementSelectionService.getStyles('1130410540')">Reset Password</h3>
            </div>
            <div class="card-body" (contextmenu)="__elementSelectionService.select('1946728124',$event)" [ngStyle]="__elementSelectionService.getStyles('1946728124')">
                <form ngNativeValidate (contextmenu)="__elementSelectionService.select('1653670208',$event)" [ngStyle]="__elementSelectionService.getStyles('1653670208')">
                    <i class="color-red small" (contextmenu)="__elementSelectionService.select('56604963',$event)" [ngStyle]="__elementSelectionService.getStyles('56604963')"></i>

                    <div class="input-group form-group" (contextmenu)="__elementSelectionService.select('1172867766',$event)" [ngStyle]="__elementSelectionService.getStyles('1172867766')">
                        <div class="input-group-prepend" (contextmenu)="__elementSelectionService.select('1952741857',$event)" [ngStyle]="__elementSelectionService.getStyles('1952741857')">
                            <span class="input-group-text" (contextmenu)="__elementSelectionService.select('513146156',$event)" [ngStyle]="__elementSelectionService.getStyles('513146156')"><i class="fa fa-lock" (contextmenu)="__elementSelectionService.select('1618860412',$event)" [ngStyle]="__elementSelectionService.getStyles('1618860412')"></i></span>
                        </div>
                        <input type="password" ngModel="this.password" class="form-control" id="password" name="password" maxlength="14" minlength="8" placeholder="New Password" (contextmenu)="__elementSelectionService.select('1631666943',$event)" [ngStyle]="__elementSelectionService.getStyles('1631666943')">
                    </div>
                    <div class="input-group form-group" (contextmenu)="__elementSelectionService.select('910005319',$event)" [ngStyle]="__elementSelectionService.getStyles('910005319')">
                        <div class="input-group-prepend" (contextmenu)="__elementSelectionService.select('124805937',$event)" [ngStyle]="__elementSelectionService.getStyles('124805937')">
                            <span class="input-group-text" (contextmenu)="__elementSelectionService.select('164166810',$event)" [ngStyle]="__elementSelectionService.getStyles('164166810')"><i class="fa fa-lock" (contextmenu)="__elementSelectionService.select('1660223974',$event)" [ngStyle]="__elementSelectionService.getStyles('1660223974')"></i></span>
                        </div>
                        <input type="password" class="form-control" ngModel="this.cpassword" name="cpassword" id="cpassword" placeholder="Confirm New Password" maxlength="14" minlength="8" name="password" (contextmenu)="__elementSelectionService.select('942681683',$event)" [ngStyle]="__elementSelectionService.getStyles('942681683')">
                    </div>
                    <div class="form-group" (contextmenu)="__elementSelectionService.select('1012775823',$event)" [ngStyle]="__elementSelectionService.getStyles('1012775823')">
                        <button type="button" class="btn pull-right btn-digi" click="updatePassword()" (contextmenu)="__elementSelectionService.select('1925164210',$event)" [ngStyle]="__elementSelectionService.getStyles('1925164210')">Reset Password</button>
                    </div>
                </form>
            </div>
            <div class="card-footer" (contextmenu)="__elementSelectionService.select('940534066',$event)" [ngStyle]="__elementSelectionService.getStyles('940534066')">
            </div>
        </div>
    </div>
</div>
