<div class="wrapper">
  <!-- Sidebar -->
  <app-sidebar></app-sidebar>
  <div class="main-panel">
    <!-- Navbar -->
    <app-admin-header></app-admin-header>
    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header ">
                <h1 class="card-title">Partner</h1>
              </div>
              <!-- .card-header -->
              <form class="card-body row" [formGroup]="partnerForm">
                <input *ngIf="false" type="text" class="form-control number" formControlName="partnerCode">
                <h5>Basic Information</h5>
                <!-- <div class="row"> -->
                  <div class="col-md-4">
                    <div class="form-group row" [ngClass]="{'input-error': partnerForm.controls['partnerName'].invalid 
                        && (partnerForm.controls['partnerName'].dirty 
                        || partnerForm.controls['partnerName'].touched)}">
                      <div class="col-md-12">
                        <label for="partnerName">PARTNER NAME </label>
                        <input type="text" class="form-control" formControlName="partnerName"
                          oninput="this.value = this.value.toUpperCase()">
                        <p class="form-error" *ngIf="partnerForm.controls['partnerName'].errors?.required">
                          * partner name is required
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group row" [ngClass]="{'input-error': partnerForm.controls['domain'].invalid 
                        && (partnerForm.controls['domain'].dirty 
                        || partnerForm.controls['domain'].touched)}">
                      <div class="col-md-12">
                        <label for="domain">DOMAIN </label>
                        <input type="text" class="form-control" formControlName="domain">
                        <p class="form-error" *ngIf="partnerForm.controls['domain'].errors?.required">
                          * domain is required
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group row">
                      <div class="col-md-12">
                        <label for="themeCode">THEME</label>
                        <select class="form-control required " formControlName="themeCode" id="themeCode">
                          <option></option>
                          <option *ngFor="let theme of themeList" value="{{theme}}">
                            {{theme}}</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <input *ngIf="false" type="text" class="form-control number" formControlName="branchCode">
                    <div class="form-group row" [ngClass]="{'input-error': partnerForm.controls['branchCode'].invalid 
                        && (partnerForm.controls['branchCode'].dirty 
                        || partnerForm.controls['branchCode'].touched)}">
                      <div class="col-md-12">
                        <label for="branchCode">BRANCH CODE </label>
                        <input type="text" class="form-control" formControlName="branchCode"
                          oninput="this.value = this.value.toUpperCase()">
                        <p class="form-error" *ngIf="partnerForm.controls['branchCode'].errors?.required">
                          * branch code is required
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group row">
                      <div class="col-md-12">
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="autoLogin" formControlName="auto">
                          <label class="form-check-label" for="auto">
                            AUTO LOGIN
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                <!-- </div> -->
                <!-- .row -->

                <br />
                <br />

                <div class="btn-group">
                  <button *ngIf="!partnerForm.invalid" class="btn btn-success" (click)="save()">SAVE</button>
                  <button class="btn btn-secondary" (click)="cancel()">CANCEL</button>
                </div>

              </form>
              <!-- .card-body -->
            </div>
            <!-- .card -->
          </div>
          <!-- .col-md-12 -->
        </div>
        <!-- .row -->
      </div>
      <!-- .container-fluid -->
    </div>
    <!-- .content -->

    <!-- Footer -->
    <app-admin-footer></app-admin-footer>
  </div>
</div>