<div class="row">
    <div class="col-md-12">
        <h1  data-toggle="tooltip" data-placement="top" title="Tooltip on top" id="test">Tell us more about yourself</h1>
        <h6>You are one step away from getting the policy for your insurance!</h6>
        <small><i>(<span class="text-mapfre">*</span>) - required fields</i></small>
    </div>
</div>
<br />

<app-risk-motor *ngIf="this.line == 'motorQuotationIssuance'"  (nextStep)="nextStepAction($event)" (affinityOutput)="affinityOutput2($event)" [affinity]="this.affinity"></app-risk-motor>

<app-risk-household *ngIf="this.line == 'householdQuotationIssuance'"  (nextStep)="nextStepAction($event)" (affinityOutput)="affinityOutput2($event)" [affinity]="this.affinity"></app-risk-household>

<app-risk-accident *ngIf="this.line == 'personalInformation'"  (nextStep)="nextStepAction($event)" (affinityOutput)="affinityOutput2($event)" [affinity]="this.affinity"></app-risk-accident>