/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";
@import "~bootstrap4-toggle/css/bootstrap4-toggle.css";

html,
body {
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  font-family: 'Numans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 20px !important;
  margin-bottom: .5rem;
}

/* #routerOutlet {
  padding-top: 80px;
} */

.requiredClass {
  border: 1px solid red !important;
}

.card-header-h1 {
  font-family: century gothic;
}

.components-holder:hover {
  overflow: auto;
}

.to-uppercase {
  text-transform: uppercase;
}

.components-holder {
  overflow: hidden;
  max-height: 300px;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #666;
}

.btn-digi {
  color: white;
  background-color: rgba(0, 194, 146, 0.9);
  border-color: rgba(0, 194, 146, 0.9);
  border-radius: 2px;
}

.btn-digi:hover {
  color: white;
  background-color: #00d49f;
}

.btn-mapfre {
  color: white !important;
  background-color: #d31d29 !important;
  border: 1px solid #d31d29 !important;
  border-radius: 5px !important;
  padding: 10px 30px 10px 30px !important;
}

.btn-mapfre:hover {
  color: #d31d29 !important;
  background-color: white !important;
  border: 1px solid #d31d29 !important;
}

.btn-digi-light {
  color: white;
  background-color: rgba(0, 212, 160, 1);
  border-color: rgba(0, 212, 160, 1);
}

.btn-digi-light:hover {
  color: white;
  background-color: rgba(255, 255, 255, 0.1);
}

.hidden {
  display: none;
}

.color-digi {
  color: #00c292 !important;
}

.color-white {
  color: white !important;
}

.color-red {
  color: red !important;
}

/*
    DEMO STYLE
*/

body {
  font-family: roboto, sans-serif;
  background: #fafafa;
}

p {
  font-family: roboto, sans-serif;
  font-size: 1.0em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
}

.navbar {
  padding: 15px 10px;
  background: #fff;
  border: none;
  border-radius: 0;
  margin-bottom: 40px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}


/* ---------------------------------------------------
    HEADER STYLE
----------------------------------------------------- */

/* .header-border {
  background-color: #d31d29;
  height: 10px;
} */

.nav-link {
  color: #232323;
}

.nav-item {
  color: #202020;
}

li.nav-item a.nav-link.link {
  cursor: pointer;
}

li.nav-item a.nav-link.link:hover {
  cursor: pointer;
  font-weight: 700;
}

.nav-item .active {
  color: #121212;
  font-weight: 700;
}

.nav {
  /* box-shadow: 0 0.5px 5px 0.1px #3d3d3d; */
  padding: 20px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

/* .wrapper {
  display: flex;
  width: 100%;
} */
/* 
#sidebar {
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 999;
  background: #7386D5;
  color: #fff;
  transition: all 0.2s;
}

#sidebar.active {
  width: 80px;
}

#sidebar .sidebar-header {
  padding: 20px;
  background: #6d7fcc;
}

#sidebar ul.components {
  border-bottom: 1px solid #47748b;
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 0.1em;
  display: block;
}

#sidebar ul li a:hover {
  color: #7386D5;
  background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
  color: #fff;
  background: #6d7fcc;
} */

/* a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #6d7fcc;
}

ul.CTAs {
  padding: 20px;
}

ul.CTAs a {
  text-align: center;
  font-size: 0.9em !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
}

a.download {
  background: #fff;
  color: #7386D5;
}

a.article,
a.article:hover {
  background: #6d7fcc !important;
  color: #fff !important;
} */

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
  width: calc(100% - 250px);
  padding: 20px;
  min-height: 100vh;
  transition: all 0.3s;
  position: absolute;
  top: 0;
  right: 0;
}

#content.active {
  width: calc(100% - 80px);
}

.table-small {
  font-size: 13px;
}

.table-small thead {
  font-size: 15px;
  font-weight: bold;
}

.table-small th,
.table-small td {
  padding: 0.50rem;
}

.table-text-center th,
.table-text-center td {
  text-align: center;
}

.table-text-left th,
.table-text-left td {
  text-align: left;
}

.table-text-right th,
.table-text-right td {
  text-align: right;
}

.table-small thead td {
  padding: 0.75rem;
}

.table td,
.table th {
  padding: 5px 10px !important;
}

.navbar {
  margin-bottom: 10px;
}

.page-title {
  padding: 5px;
  color: #333;
  border-bottom: 2px solid #00c292;
  margin-top: -10px
}

.btn-primary {
  color: #fff !important;
  background-color: #d31d29 !important;
  border-color: #861118 !important;
}

.btn-primary:hover {
  color: #d31d29 !important;
  background-color: #f6f6f6 !important;
  border-color: #861118 !important;
}

.btn-outline-primary {
  border-color: #861118 !important;
  color: #861118 !important;
}

.btn-outline-primary:hover {
  border-color: #861118 !important;
  background-color: #d31d29 !important;
  color: #fcfcfc !important;
}

.btn-danger {
  color: #fff;
  background-color: rgba(225, 46, 64, 0.8);
  border-color: rgba(220, 53, 69, 0.8);
}

.modal-header-digi {
  background-color: rgba(0, 194, 146, 1);
  color: white;
}

.col-digi {
  background-color: white;
}

.bg-digi {
  background-color: rgba(0, 194, 146, 1);
  color: white;
}

.card-header-digi {
  background-color: rgba(0, 194, 146, 1);
  color: white;
  border-radius: 0;
}

.card-header-digi:first-child {
  border-radius: 0;
}

.card-digi {
  border-radius: 0;
}

.form-control {
  border: 1px solid #adb5bd !important;
  border-radius: 7px !important;
  height: calc(1.5em + .75rem + 8px) !important;
}

.accordion-header {
  background-color: white;
  border-bottom: 0;
}

.affinity-label {
  font-size: 12px !important;
}

.profile-img-container {
  width: 240px;
}

.img-responsive {
  width: 100%;
}

.profile-left {
  border-right: 1px solid rgba(0, 194, 146, 1);
}

.profile-name {
  font-size: 35px;
}

.profile-type {
  font-size: 25px;
}


.fixed-bottom-digi {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1030;
}

.table-height-200 {
  max-height: 200px;
}

.btn-digi-red {
  color: white;
  background-color: #c20012;
  border-color: #c20012;
  border-radius: 2px;
}

.table tbody tr td {
  font-family: roboto, sans-serif !important;
  font-size: 13px;
  vertical-align: middle;
  margin-left: 5px;
}

.modal .table tbody tr td {
  padding: 8px !important;
  font-family: roboto, sans-serif !important;
  font-size: 13px;
  vertical-align: middle;
  margin-left: 5px;
}

.inbox-card {
  border-bottom: 2px solid #00c292;
}

.dropdown-head {
  max-height: 200px;
  overflow: auto;
}

/* .table th,
.table td {
  padding-left: 0 !important;
} */

.payment-date {
  padding: .375rem .25rem;
}

.footer {
  display: block;
  box-shadow: 0 1px 15px -2px grey;
  margin-top: 40px;
}

.footer-bottom {
  background-color: #d31d29;
}

.text-mapfre {
  color: #d31d29;
}

.text-heavy {
  font-weight: bold;
}

/* form error */
form .form-error {
  margin-top: 5px;
  margin-bottom: 0;
  font-size: 14px;
  color: #c31f09;
  display: none;
}

form .form-group.input-error .form-error {
  display: block !important;
}

form .form-group.input-error input,
form .form-group.input-error select,
form .form-group.input-error textarea,
form .form-group.input-error .multiselect-dropdown {
  border: 2px solid #c31f09 !important;
}

/* ---------------------------------------------------
    PARTNER THEME - PURPLE
----------------------------------------------------- */
.theme-purple .nav {
  border-top: 5px solid #243472;
}

.theme-purple .footer-bottom,
.theme-purple .btn-outline-primary:hover,
.theme-purple .btn-primary,
.theme-purple .btn-mapfre {
  background-color: #243472 !important;
}

.theme-purple .btn-primary:hover,
.theme-purple .btn-mapfre:hover,
.theme-purple .card-title {
  color: #243472 !important;
}

.theme-purple .btn-primary,
.theme-purple .btn-mapfre,
.theme-purple .btn-primary:hover,
.theme-purple .btn-mapfre:hover,
.theme-purple .btn-outline-primary,
.theme-purple .btn-outline-primary:hover {
  border-color: #161f45 !important;
}

.theme-purple .btn-outline-primary {
  color: #161f45 !important;
}

.theme-purple .btn-primary:hover,
.theme-purple .btn-mapfre:hover {
  background-color: #f6f6f6 !important;
}

.theme-purple .btn-outline-primary:hover {
  color: #d5d5d5 !important;
}

/* ---------------------------------------------------
    PARTNER THEME - BLUE
----------------------------------------------------- */
.theme-blue .nav {
  border-top: 5px solid #3085d6;
}

.theme-blue .header-border,
.theme-blue .footer-bottom,
.theme-blue .btn-outline-primary:hover,
.theme-blue .btn-primary,
.theme-blue .btn-mapfre {
  background-color: #3085d6 !important;
}

.theme-blue .btn-primary:hover,
.theme-blue .btn-mapfre:hover,
.theme-blue .card-title {
  color: #3085d6 !important;
}

.theme-blue .btn-primary,
.theme-blue .btn-mapfre,
.theme-blue .btn-primary:hover,
.theme-blue .btn-mapfre:hover,
.theme-blue .btn-outline-primary,
.theme-blue .btn-outline-primary:hover {
  border-color: #1d60a0 !important;
}

.theme-blue .btn-outline-primary {
  color: #1d60a0 !important;
}

.theme-blue .btn-primary:hover,
.theme-blue .btn-mapfre:hover {
  background-color: #f6f6f6 !important;
}

.theme-blue .btn-outline-primary:hover {
  color: #d5d5d5 !important;
}

/* ---------------------------------------------------
    PARTNER THEME - BLACK
----------------------------------------------------- */
.theme-black .nav {
  border-top: 5px solid #1e2023;
}

.theme-black .header-border,
.theme-black .footer-bottom,
.theme-black .btn-outline-primary:hover,
.theme-black .btn-primary,
.theme-black .btn-mapfre {
  background-color: #1e2023 !important;
}

.theme-black .btn-primary:hover,
.theme-black .btn-mapfre:hover,
.theme-black .card-title {
  color: #1e2023 !important;
}

.theme-black .btn-primary,
.theme-black .btn-mapfre,
.theme-black .btn-primary:hover,
.theme-black .btn-mapfre:hover,
.theme-black .btn-outline-primary,
.theme-black .btn-outline-primary:hover {
  border-color: #2e3439 !important;
}

.theme-black .btn-outline-primary {
  color: #2e3439 !important;
}

.theme-black .btn-primary:hover,
.theme-black .btn-mapfre:hover {
  background-color: #f6f6f6 !important;
}

.theme-black .btn-outline-primary:hover {
  color: #d5d5d5 !important;
}

/* ---------------------------------------------------
    PARTNER THEME - GREEN
----------------------------------------------------- */
.theme-green .nav {
  border-top: 5px solid #469c47;
}

.theme-green .header-border,
.theme-green .footer-bottom,
.theme-green .btn-outline-primary:hover,
.theme-green .btn-primary,
.theme-green .btn-mapfre {
  background-color: #469c47 !important;
}

.theme-green .btn-primary:hover,
.theme-green .btn-mapfre:hover,
.theme-green .card-title {
  color: #469c47 !important;
}

.theme-green .btn-primary,
.theme-green .btn-mapfre,
.theme-green .btn-primary:hover,
.theme-green .btn-mapfre:hover,
.theme-green .btn-outline-primary,
.theme-green .btn-outline-primary:hover {
  border-color: #224e23 !important;
}

.theme-green .btn-outline-primary {
  color: #224e23 !important;
}

.theme-green .btn-primary:hover,
.theme-green .btn-mapfre:hover {
  background-color: #f6f6f6 !important;
}

.theme-green .btn-outline-primary:hover {
  color: #d5d5d5 !important;
}

/* ---------------------------------------------------
    PARTNER THEME - YELLOW
----------------------------------------------------- */
.theme-yellow .nav {
  border-top: 5px solid #dcdc3f;
}

.theme-yellow .header-border,
.theme-yellow .footer-bottom,
.theme-yellow .btn-outline-primary:hover,
.theme-yellow .btn-primary,
.theme-yellow .btn-mapfre {
  background-color: #dcdc3f !important;
}

.theme-yellow .btn-primary:hover,
.theme-yellow .btn-mapfre:hover,
.theme-yellow .card-title {
  color: #dcdc3f !important;
}

.theme-yellow .btn-primary,
.theme-yellow .btn-mapfre,
.theme-yellow .btn-primary:hover,
.theme-yellow .btn-mapfre:hover,
.theme-yellow .btn-outline-primary,
.theme-yellow .btn-outline-primary:hover {
  border-color: #958e10 !important;
}

.theme-yellow .btn-outline-primary {
  color: #958e10 !important;
}

.theme-yellow .btn-primary:hover,
.theme-yellow .btn-mapfre:hover {
  background-color: #f6f6f6 !important;
}

.theme-yellow .btn-outline-primary:hover {
  color: #d5d5d5 !important;
}

.theme-yellow .btn-primary,
.theme-yellow ul.footer-links li a  {
  color: rgb(37, 33, 33) !important;
}

/* ---------------------------------------------------
    PARTNER THEME - YELLOW GREEN
----------------------------------------------------- */
.theme-yellowgreen .nav {
  border-top: 5px solid #b0dc3f;
}

.theme-yellowgreen .header-border,
.theme-yellowgreen .footer-bottom,
.theme-yellowgreen .btn-outline-primary:hover,
.theme-yellowgreen .btn-primary,
.theme-yellowgreen .btn-mapfre {
  background-color: #b0dc3f !important;
}

.theme-yellowgreen .btn-primary:hover,
.theme-yellowgreen .btn-mapfre:hover,
.theme-yellowgreen .card-title {
  color: #b0dc3f !important;
}

.theme-yellowgreen .btn-primary,
.theme-yellowgreen .btn-mapfre,
.theme-yellowgreen .btn-primary:hover,
.theme-yellowgreen .btn-mapfre:hover,
.theme-yellowgreen .btn-outline-primary,
.theme-yellowgreen .btn-outline-primary:hover {
  border-color: #559510 !important;
}

.theme-yellowgreen .btn-outline-primary {
  color: #559510 !important;
}

.theme-yellowgreen .btn-primary:hover,
.theme-yellowgreen .btn-mapfre:hover {
  background-color: #f6f6f6 !important;
}

.theme-yellowgreen .btn-outline-primary:hover {
  color: #d5d5d5 !important;
}

.theme-yellowgreen .btn-primary,
.theme-yellowgreen ul.footer-links li a  {
  color: rgb(37, 33, 33) !important;
}

/* ---------------------------------------------------
    PARTNER THEME - ORANGE
----------------------------------------------------- */
.theme-orange .nav {
  border-top: 5px solid #dc883f;
}

.theme-orange .header-border,
.theme-orange .footer-bottom,
.theme-orange .btn-outline-primary:hover,
.theme-orange .btn-primary,
.theme-orange .btn-mapfre {
  background-color: #dc883f !important;
}

.theme-orange .btn-primary:hover,
.theme-orange .btn-mapfre:hover,
.theme-orange .card-title {
  color: #dc883f !important;
}

.theme-orange .btn-primary,
.theme-orange .btn-mapfre,
.theme-orange .btn-primary:hover,
.theme-orange .btn-mapfre:hover,
.theme-orange .btn-outline-primary,
.theme-orange .btn-outline-primary:hover {
  border-color: #956910 !important;
}

.theme-orange .btn-outline-primary {
  color: #956910 !important;
}

.theme-orange .btn-primary:hover,
.theme-orange .btn-mapfre:hover {
  background-color: #f6f6f6 !important;
}

.theme-orange .btn-outline-primary:hover {
  color: #d5d5d5 !important;
}

/* ---------------------------------------------------
    PARTNER THEME - GRAY
----------------------------------------------------- */
.theme-gray .nav {
  border-top: 5px solid #7d7772;
}

.theme-gray .header-border,
.theme-gray .footer-bottom,
.theme-gray .btn-outline-primary:hover,
.theme-gray .btn-primary,
.theme-gray .btn-mapfre {
  background-color: #7d7772 !important;
}

.theme-gray .btn-primary:hover,
.theme-gray .btn-mapfre:hover,
.theme-gray .card-title {
  color: #7d7772 !important;
}

.theme-gray .btn-primary,
.theme-gray .btn-mapfre,
.theme-gray .btn-primary:hover,
.theme-gray .btn-mapfre:hover,
.theme-gray .btn-outline-primary,
.theme-gray .btn-outline-primary:hover {
  border-color: #1b1a19 !important;
}

.theme-gray .btn-outline-primary {
  color: #1b1a19 !important;
}

.theme-gray .btn-primary:hover,
.theme-gray .btn-mapfre:hover {
  background-color: #f6f6f6 !important;
}

.theme-gray .btn-outline-primary:hover {
  color: #d5d5d5 !important;
}

/* ---------------------------------------------------
    PARTNER THEME - PINK
----------------------------------------------------- */
.theme-pink .nav {
  border-top: 5px solid #f991eb;
}

.theme-pink .header-border,
.theme-pink .footer-bottom,
.theme-pink .btn-outline-primary:hover,
.theme-pink .btn-primary,
.theme-pink .btn-mapfre {
  background-color: #f991eb !important;
}

.theme-pink .btn-primary:hover,
.theme-pink .btn-mapfre:hover,
.theme-pink .card-title {
  color: #f991eb !important;
}

.theme-pink .btn-primary,
.theme-pink .btn-mapfre,
.theme-pink .btn-primary:hover,
.theme-pink .btn-mapfre:hover,
.theme-pink .btn-outline-primary,
.theme-pink .btn-outline-primary:hover {
  border-color: #98309a !important;
}

.theme-pink .btn-outline-primary {
  color: #98309a !important;
}

.theme-pink .btn-primary:hover,
.theme-pink .btn-mapfre:hover {
  background-color: #f6f6f6 !important;
}

.theme-pink .btn-outline-primary:hover {
  color: #d5d5d5 !important;
}

/* ---------------------------------------------------
    PARTNER THEME - BROWN
----------------------------------------------------- */
.theme-brown .nav {
  border-top: 5px solid #60462f;
}

.theme-brown .header-border,
.theme-brown .footer-bottom,
.theme-brown .btn-outline-primary:hover,
.theme-brown .btn-primary,
.theme-brown .btn-mapfre {
  background-color: #60462f !important;
}

.theme-brown .btn-primary:hover,
.theme-brown .btn-mapfre:hover,
.theme-brown .card-title {
  color: #60462f !important;
}

.theme-brown .btn-primary,
.theme-brown .btn-mapfre,
.theme-brown .btn-primary:hover,
.theme-brown .btn-mapfre:hover,
.theme-brown .btn-outline-primary,
.theme-brown .btn-outline-primary:hover {
  border-color: #402e1e !important;
}

.theme-brown .btn-outline-primary {
  color: #402e1e !important;
}

.theme-brown .btn-primary:hover,
.theme-brown .btn-mapfre:hover {
  background-color: #f6f6f6 !important;
}

.theme-brown .btn-outline-primary:hover {
  color: #d5d5d5 !important;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
  #sidebar.active {
    width: 250px;
  }

  #content {
    width: calc(100% - 250px);
  }

  #content.active {
    width: calc(100% - 80px);
  }

  #sidebarCollapse span {
    display: none;
  }
}