<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="d-flex justify-content-center">
        <div class="card login-card">
          <div class="card-header text-center">
            <img class="logo-collection-redirect" src="./assets/images/logo.png" />
          </div>
          <div class="card-body login-card-body">
            <form class="login-form" [formGroup]="loginForm">
              <div *ngIf="loginMsg != ''" class="col-md-12">
                <div class="alert {{loginMsgStatus}}" >{{ loginMsg }}</div>
              </div>

              <div class="clearfix"></div>

              <div class="col-md-12">
                <p class="version">v.1.20210110</p>
                <div class="form-group" [ngClass]="{'input-error': loginForm.controls['email'].invalid 
                  && (loginForm.controls['email'].dirty 
                  || loginForm.controls['email'].touched)}">
                  <input type="text" class="form-control" id="email" name="email"
                    [attr.disabled]="showOTPBtn ? null : true" formControlName="email" placeholder="Email Address" />
                  <p class="form-error" *ngIf="loginForm.controls['email'].errors?.required">
                    * email is required
                  </p>
                  <p class="form-error" *ngIf="loginForm.controls['email'].errors?.email">
                    * email is invalid
                  </p>
                </div>

                <div *ngIf="showSubmitBtn" class="form-group" [ngClass]="{'input-error': loginForm.controls['otp'].invalid 
                  && (loginForm.controls['otp'].dirty 
                  || loginForm.controls['otp'].touched)}">
                  <input type="password" class="form-control" id="otp" name="otp" formControlName="otp"
                    placeholder="OTP" />
                  <p class="form-error" *ngIf="loginForm.controls['otp'].errors?.required">
                    * OTP is required
                  </p>
                </div>

                <div *ngIf="showOTPBtn" class="form-group row">
                  <div class="col-md-12">
                    <button [disabled]="loginForm.invalid" (click)="request()"
                      class="btn btn-primary form-control">REQUEST OTP</button>
                  </div>
                </div>

                <div *ngIf="showSubmitBtn" class="form-group row">
                  <div class="col-md-6">
                    <button [disabled]="loginForm.invalid" (click)="verify()" class="btn btn-primary form-control">VERIFY</button>
                  </div>

                  <div class="col-md-6">
                    <button (click)="resend()" class="btn btn-info form-control">RESEND OTP</button>
                  </div>
                </div>

              </div>

            </form>
          </div>
          <div class="card-footer text-center" style="background-color: white !important;">
            <div class="row">
              <div class="col-md-12 text-center">
                <p class="under-logo">Insurance Powered by</p>
              </div>
              <div class="col-md-12 text-center logo-holder">
                <img class="logo-collection" src="./assets/images/mi_logo.png" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>

</div>
