.login-card {
  border-radius: 10px;
  border-color: #fefefe !important;
}

.text-megaworld {
  color: rgb(33, 33, 33);
}

.container {
  height: 100%;
  align-content: center;
}

.card {
  margin-top: 150px;
  background-color: white !important;
}

.card-header {
  background: rgb(237, 237, 237);
  color: #4c4c4c;
}

.card-header img {
  margin: 0 auto;
  padding: 10px 0;
}

.version {
  font-size: 10px;
}

.card-header h3 {
  color: white;
}

.input-group-prepend span {
  width: 50px;
  background-color: #d31d29;
  color: white;
  border: 0 !important;
}

input:focus {
  outline: 0 0 0 0 !important;
  box-shadow: 0 0 0 0 !important;
}

.btn-primary {
  background-color: #3b3a3a;
  color: white;
  border-radius: 5px;
}

.btn-primary:hover {
  color: #3e3e3e;
  background-color: #dedede;
}

.login-card-body {
  /* flex: 0; */
  border-radius: 2px;
  padding: 40px;
}

.logo-collection {
  width: 40%;
}

.logo-collection-redirect {
  max-width: 150px;
}

.under-logo {
  font-size: 12px;
  color: #717171;
  margin: 5px;
}

.col-form-label {
  font-weight: bold;
}

.form-control::-webkit-input-placeholder {
  font-size: 0.8rem;
}

@media(max-width: 1024px) {
  .form-control::-webkit-input-placeholder {
    font-size: 0.7rem;
  }
}
