<div class="container-fluid alt-grid" (contextmenu)="__elementSelectionService.select('1125222682',$event)" [ngStyle]="__elementSelectionService.getStyles('1125222682')"(click)='__elementSelectionService.clear()'>
	<div class="row" (contextmenu)="__elementSelectionService.select('1637108559',$event)" [ngStyle]="__elementSelectionService.getStyles('1637108559')">
		<div class="col-md-12" (contextmenu)="__elementSelectionService.select('1653995359',$event)" [ngStyle]="__elementSelectionService.getStyles('1653995359')">
			<img style="width: 100%" src="assets/images/landing-page.jpg" alt="Card image cap" (contextmenu)="__elementSelectionService.select('510515124',$event)" [ngStyle]="__elementSelectionService.getStyles('510515124')">
		</div>
	</div>
	<div class="col-md-12 text-center logo-holder" (contextmenu)="__elementSelectionService.select('1090735635',$event)" [ngStyle]="__elementSelectionService.getStyles('1090735635')">
		<img class="logo-collection-fopm-1 mb-3" src="assets/images/FOPM.png" (contextmenu)="__elementSelectionService.select('42904399',$event)" [ngStyle]="__elementSelectionService.getStyles('42904399')">
		<img class="logo-collection-1" src="assets/images/marsh-logo-vector.png" (contextmenu)="__elementSelectionService.select('1332517710',$event)" [ngStyle]="__elementSelectionService.getStyles('1332517710')">
		<img class="logo-collection-1" src="assets/images/MAPFRE_Insurance_VB.png" (contextmenu)="__elementSelectionService.select('1070347616',$event)" [ngStyle]="__elementSelectionService.getStyles('1070347616')">
	</div>
</div>
<div class="container" (contextmenu)="__elementSelectionService.select('413137147',$event)" [ngStyle]="__elementSelectionService.getStyles('413137147')"(click)='__elementSelectionService.clear()'>
	<div class="row" (contextmenu)="__elementSelectionService.select('1684313948',$event)" [ngStyle]="__elementSelectionService.getStyles('1684313948')">
		<div class="col-md-4" (contextmenu)="__elementSelectionService.select('323456076',$event)" [ngStyle]="__elementSelectionService.getStyles('323456076')">
			<div class="card" (contextmenu)="__elementSelectionService.select('953865089',$event)" [ngStyle]="__elementSelectionService.getStyles('953865089')">
			  <img class="card-img-top" src="assets/images/Home.jpg" alt="Card image cap" (contextmenu)="__elementSelectionService.select('1726187215',$event)" [ngStyle]="__elementSelectionService.getStyles('1726187215')">
			  <div class="card-body" (contextmenu)="__elementSelectionService.select('654123832',$event)" [ngStyle]="__elementSelectionService.getStyles('654123832')">
			    <h5 class="card-title" (contextmenu)="__elementSelectionService.select('167247431',$event)" [ngStyle]="__elementSelectionService.getStyles('167247431')"><b (contextmenu)="__elementSelectionService.select('1734308387',$event)" [ngStyle]="__elementSelectionService.getStyles('1734308387')">Household</b> Insurance</h5>
			    <p class="card-text" (contextmenu)="__elementSelectionService.select('502289913',$event)" [ngStyle]="__elementSelectionService.getStyles('502289913')">
			    	Covers the contents such as improvements, furnishings, fixtures, personal effect.<br (contextmenu)="__elementSelectionService.select('1381716380',$event)" [ngStyle]="__elementSelectionService.getStyles('1381716380')">

					With this policy you&#226;&#8364;&#8482;re covered against events such as:<br (contextmenu)="__elementSelectionService.select('1684576342',$event)" [ngStyle]="__elementSelectionService.getStyles('1684576342')">
					- fire, flood, typhoon, and earthquake damages <br (contextmenu)="__elementSelectionService.select('2017079442',$event)" [ngStyle]="__elementSelectionService.getStyles('2017079442')">
					- robbery and burglary <br (contextmenu)="__elementSelectionService.select('1744498161',$event)" [ngStyle]="__elementSelectionService.getStyles('1744498161')">
					- personal liability</p>
			  </div>
			  <div class="card-footer text-center" (contextmenu)="__elementSelectionService.select('1873119011',$event)" [ngStyle]="__elementSelectionService.getStyles('1873119011')">
			    <button click="householdIssuance()" class="btn btn-mapfre btn-quote" (contextmenu)="__elementSelectionService.select('1328486569',$event)" [ngStyle]="__elementSelectionService.getStyles('1328486569')">Get a FREE Quote</button>
			  </div>
			</div>
		</div>
		<div class="col-md-4" (contextmenu)="__elementSelectionService.select('1723342718',$event)" [ngStyle]="__elementSelectionService.getStyles('1723342718')">
			<div class="card" (contextmenu)="__elementSelectionService.select('1453191997',$event)" [ngStyle]="__elementSelectionService.getStyles('1453191997')">
			  <img class="card-img-top" src="assets/images/Car.jpg" alt="Card image cap" (contextmenu)="__elementSelectionService.select('365099602',$event)" [ngStyle]="__elementSelectionService.getStyles('365099602')">
			  <div class="card-body" (contextmenu)="__elementSelectionService.select('580866579',$event)" [ngStyle]="__elementSelectionService.getStyles('580866579')">
			    <h5 class="card-title" (contextmenu)="__elementSelectionService.select('83557073',$event)" [ngStyle]="__elementSelectionService.getStyles('83557073')"><b (contextmenu)="__elementSelectionService.select('1028121960',$event)" [ngStyle]="__elementSelectionService.getStyles('1028121960')">Car</b> Insurance</h5>
			    <p class="card-text" (contextmenu)="__elementSelectionService.select('1070958840',$event)" [ngStyle]="__elementSelectionService.getStyles('1070958840')">Comprehensive car insurance with all your basic coverage needs.<br (contextmenu)="__elementSelectionService.select('1728203483',$event)" [ngStyle]="__elementSelectionService.getStyles('1728203483')"><br (contextmenu)="__elementSelectionService.select('888998040',$event)" [ngStyle]="__elementSelectionService.getStyles('888998040')">
&#226;&#8364;&#65533;
This policy covers you against loss and accidental damage to the vehicle as well as legal liabilities to third parties in case of bodily injury and physical damage to properties.</p>
			  </div>
			  <div class="card-footer text-center" (contextmenu)="__elementSelectionService.select('907265994',$event)" [ngStyle]="__elementSelectionService.getStyles('907265994')">
			    <button click="motorIssuance()" class="btn btn-mapfre btn-quote" (contextmenu)="__elementSelectionService.select('621939640',$event)" [ngStyle]="__elementSelectionService.getStyles('621939640')">Get a FREE Quote</button>
			  </div>
			</div>
		</div>
		<div class="col-md-4" (contextmenu)="__elementSelectionService.select('1353959763',$event)" [ngStyle]="__elementSelectionService.getStyles('1353959763')">
			<div class="card" (contextmenu)="__elementSelectionService.select('215392789',$event)" [ngStyle]="__elementSelectionService.getStyles('215392789')">
			  <img class="card-img-top" src="assets/images/PA.jpg" alt="Card image cap" (contextmenu)="__elementSelectionService.select('617814482',$event)" [ngStyle]="__elementSelectionService.getStyles('617814482')">
			  <div class="card-body" (contextmenu)="__elementSelectionService.select('287938875',$event)" [ngStyle]="__elementSelectionService.getStyles('287938875')">
			    <h5 class="card-title" (contextmenu)="__elementSelectionService.select('1604199196',$event)" [ngStyle]="__elementSelectionService.getStyles('1604199196')"><b (contextmenu)="__elementSelectionService.select('1726084336',$event)" [ngStyle]="__elementSelectionService.getStyles('1726084336')">Accident</b> Insurance</h5>
			    <p class="card-text" (contextmenu)="__elementSelectionService.select('1514171511',$event)" [ngStyle]="__elementSelectionService.getStyles('1514171511')">Provides protection 24 hours a day, 7 days a week and 365 days a year for family members.<br (contextmenu)="__elementSelectionService.select('125687365',$event)" [ngStyle]="__elementSelectionService.getStyles('125687365')"><br (contextmenu)="__elementSelectionService.select('701862773',$event)" [ngStyle]="__elementSelectionService.getStyles('701862773')">

This comprehensive personal accident insurance includes additional assistance benefits aside from the standard accidental death and permanent disability benefits.</p>
			  </div>
			  <div class="card-footer text-center" (contextmenu)="__elementSelectionService.select('1090168011',$event)" [ngStyle]="__elementSelectionService.getStyles('1090168011')">
			    <button click="PAIssuance()" class="btn btn-mapfre btn-quote" (contextmenu)="__elementSelectionService.select('419453815',$event)" [ngStyle]="__elementSelectionService.getStyles('419453815')">Get a FREE Quote</button>
			  </div>
			</div>
		</div>
	</div>

</div>
<div class="container" (contextmenu)="__elementSelectionService.select('1568940049',$event)" [ngStyle]="__elementSelectionService.getStyles('1568940049')"(click)='__elementSelectionService.clear()'>
	<div class="row mt-5" (contextmenu)="__elementSelectionService.select('1881569772',$event)" [ngStyle]="__elementSelectionService.getStyles('1881569772')">
		<div class="col-md-12 text-center" (contextmenu)="__elementSelectionService.select('1978466982',$event)" [ngStyle]="__elementSelectionService.getStyles('1978466982')">
			<button class="btn btn-mapfre btn-quote" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" (contextmenu)="__elementSelectionService.select('1621376044',$event)" [ngStyle]="__elementSelectionService.getStyles('1621376044')">
				View Previous Transactions
			</button>
		</div>
		<div class="col-md-12" (contextmenu)="__elementSelectionService.select('2078541996',$event)" [ngStyle]="__elementSelectionService.getStyles('2078541996')">
			<div class="collapse" id="collapseExample" (contextmenu)="__elementSelectionService.select('944695077',$event)" [ngStyle]="__elementSelectionService.getStyles('944695077')">
			  <div class="card card-body" (contextmenu)="__elementSelectionService.select('623590072',$event)" [ngStyle]="__elementSelectionService.getStyles('623590072')">
			  	<div class="row" (contextmenu)="__elementSelectionService.select('1680811885',$event)" [ngStyle]="__elementSelectionService.getStyles('1680811885')">
			  		<div class="col-md-4" ngFor="let issue of this.marsh.previousIssuances" (contextmenu)="__elementSelectionService.select('1062593068',$event)" [ngStyle]="__elementSelectionService.getStyles('1062593068')">

			  			<div class="card card-previous" ngIf="issue.policyNumber" (contextmenu)="__elementSelectionService.select('1894599980',$event)" [ngStyle]="__elementSelectionService.getStyles('1894599980')">
						  <div class="card-body text-center" (contextmenu)="__elementSelectionService.select('208619379',$event)" [ngStyle]="__elementSelectionService.getStyles('208619379')">
						  	<div class="desc-container" ngIf="issue.productId == '10001'" (contextmenu)="__elementSelectionService.select('291904988',$event)" [ngStyle]="__elementSelectionService.getStyles('291904988')">
				   				<h5 class="card-title mt-3" (contextmenu)="__elementSelectionService.select('20109662',$event)" [ngStyle]="__elementSelectionService.getStyles('20109662')"><b (contextmenu)="__elementSelectionService.select('464285817',$event)" [ngStyle]="__elementSelectionService.getStyles('464285817')">Comprehensive Insurance</b></h5>
			   				</div>
			   				<div class="desc-container" ngIf="issue.productId == '10002'" (contextmenu)="__elementSelectionService.select('1838086304',$event)" [ngStyle]="__elementSelectionService.getStyles('1838086304')">
				    			<h5 class="card-title mt-3" (contextmenu)="__elementSelectionService.select('1277657136',$event)" [ngStyle]="__elementSelectionService.getStyles('1277657136')"><b (contextmenu)="__elementSelectionService.select('1531467971',$event)" [ngStyle]="__elementSelectionService.getStyles('1531467971')">CTPL Insurance</b></h5>
			    			</div>
			    			<div class="desc-container" ngIf="issue.productId == '33701'" (contextmenu)="__elementSelectionService.select('589288555',$event)" [ngStyle]="__elementSelectionService.getStyles('589288555')">
				   				<h5 class="card-title mt-3" (contextmenu)="__elementSelectionService.select('961442640',$event)" [ngStyle]="__elementSelectionService.getStyles('961442640')"><b (contextmenu)="__elementSelectionService.select('1226326601',$event)" [ngStyle]="__elementSelectionService.getStyles('1226326601')">Individual Personal Accident</b></h5>
			   				</div>
			   				<div class="desc-container" ngIf="issue.productId == '33702'" (contextmenu)="__elementSelectionService.select('1343198697',$event)" [ngStyle]="__elementSelectionService.getStyles('1343198697')">
				    			<h5 class="card-title mt-3" (contextmenu)="__elementSelectionService.select('233746191',$event)" [ngStyle]="__elementSelectionService.getStyles('233746191')"><b (contextmenu)="__elementSelectionService.select('1206946065',$event)" [ngStyle]="__elementSelectionService.getStyles('1206946065')">Family Personal Accident</b></h5>
			    			</div>
			    			<div class="desc-container" ngIf="issue.productId == '20008'" (contextmenu)="__elementSelectionService.select('1290899884',$event)" [ngStyle]="__elementSelectionService.getStyles('1290899884')">
				    			<h5 class="card-title mt-3" (contextmenu)="__elementSelectionService.select('1618867462',$event)" [ngStyle]="__elementSelectionService.getStyles('1618867462')"><b (contextmenu)="__elementSelectionService.select('412330193',$event)" [ngStyle]="__elementSelectionService.getStyles('412330193')">Household Insurance</b></h5>
			    			</div>
						    <h5 class="card-title" (contextmenu)="__elementSelectionService.select('1533543123',$event)" [ngStyle]="__elementSelectionService.getStyles('1533543123')">Policy Request</h5>
						    <h6 class="card-subtitle mb-2 text-muted" (contextmenu)="__elementSelectionService.select('458527971',$event)" [ngStyle]="__elementSelectionService.getStyles('458527971')">{{issue.policyNumber}}</h6>

						    <button class="btn btn-mapfre btn-block" type="button" click="loadPolicy(issue,'51359e8b51c63b87d50cb1bab73380e2',issue.policyNumber)" (contextmenu)="__elementSelectionService.select('344889162',$event)" [ngStyle]="__elementSelectionService.getStyles('344889162')">
								Load Transaction
							</button>
						  </div>
						</div>

						<div class="card card-previous" ngIf="issue.quotationNumber" (contextmenu)="__elementSelectionService.select('291401770',$event)" [ngStyle]="__elementSelectionService.getStyles('291401770')">
						  <div class="card-body text-center" (contextmenu)="__elementSelectionService.select('180061768',$event)" [ngStyle]="__elementSelectionService.getStyles('180061768')">
						  	<div class="desc-container" ngIf="issue.productId == '10001'" (contextmenu)="__elementSelectionService.select('897054832',$event)" [ngStyle]="__elementSelectionService.getStyles('897054832')">
				   				<h5 class="card-title mt-3" (contextmenu)="__elementSelectionService.select('1436749139',$event)" [ngStyle]="__elementSelectionService.getStyles('1436749139')"><b (contextmenu)="__elementSelectionService.select('924772589',$event)" [ngStyle]="__elementSelectionService.getStyles('924772589')">Comprehensive Insurance</b></h5>
			   				</div>
			   				<div class="desc-container" ngIf="issue.productId == '10002'" (contextmenu)="__elementSelectionService.select('1631695232',$event)" [ngStyle]="__elementSelectionService.getStyles('1631695232')">
				    			<h5 class="card-title mt-3" (contextmenu)="__elementSelectionService.select('1803514272',$event)" [ngStyle]="__elementSelectionService.getStyles('1803514272')"><b (contextmenu)="__elementSelectionService.select('645607433',$event)" [ngStyle]="__elementSelectionService.getStyles('645607433')">CTPL Insurance</b></h5>
			    			</div>
			    			<div class="desc-container" ngIf="issue.productId == '33701'" (contextmenu)="__elementSelectionService.select('1717759403',$event)" [ngStyle]="__elementSelectionService.getStyles('1717759403')">
				   				<h5 class="card-title mt-3" (contextmenu)="__elementSelectionService.select('180591958',$event)" [ngStyle]="__elementSelectionService.getStyles('180591958')"><b (contextmenu)="__elementSelectionService.select('438378463',$event)" [ngStyle]="__elementSelectionService.getStyles('438378463')">Individual Personal Accident</b></h5>
			   				</div>
			   				<div class="desc-container" ngIf="issue.productId == '33702'" (contextmenu)="__elementSelectionService.select('1696964586',$event)" [ngStyle]="__elementSelectionService.getStyles('1696964586')">
				    			<h5 class="card-title mt-3" (contextmenu)="__elementSelectionService.select('341522768',$event)" [ngStyle]="__elementSelectionService.getStyles('341522768')"><b (contextmenu)="__elementSelectionService.select('40120224',$event)" [ngStyle]="__elementSelectionService.getStyles('40120224')">Family Personal Accident</b></h5>
			    			</div>
			    			<div class="desc-container" ngIf="issue.productId == '20008'" (contextmenu)="__elementSelectionService.select('279513044',$event)" [ngStyle]="__elementSelectionService.getStyles('279513044')">
				    			<h5 class="card-title mt-3" (contextmenu)="__elementSelectionService.select('1505362148',$event)" [ngStyle]="__elementSelectionService.getStyles('1505362148')"><b (contextmenu)="__elementSelectionService.select('342238010',$event)" [ngStyle]="__elementSelectionService.getStyles('342238010')">Household Insurance</b></h5>
			    			</div>
						    <h5 class="card-title" (contextmenu)="__elementSelectionService.select('937170745',$event)" [ngStyle]="__elementSelectionService.getStyles('937170745')">Quotation Request</h5>
						    <h6 class="card-subtitle mb-2 text-muted" (contextmenu)="__elementSelectionService.select('1871917489',$event)" [ngStyle]="__elementSelectionService.getStyles('1871917489')">{{issue.quotationNumber}}</h6>

						    <button class="btn btn-mapfre btn-block" type="button" click="loadPolicy(issue,'73015b3208cdee70a4497235463b63d7',issue.quotationNumber)" (contextmenu)="__elementSelectionService.select('1722261895',$event)" [ngStyle]="__elementSelectionService.getStyles('1722261895')">
								Load Transaction
							</button>
						  </div>
						</div>

			  		</div>
			  	</div>
			    

			  </div>
			</div>
		</div>
	</div>
</div>