
<div id="content">
    <h5 class="page-title">
        <i class="fa fa-copy"></i> Policy Management
    </h5>

    <div class="alert alert-success hidden fade" id="addCustomerSuccess" role="alert">
      <i class="fa fa-check"></i> {{this.addCustomerNotice}}
          <button type="button" class="close" aria-label="Close" (click)="closeAlert('addCustomerSuccess')">
            <span aria-hidden="true">&times;</span>
          </button>
    </div>

    <div class="policy-management-router" *ngIf="this.templateRouter == 'initialize'">
        <div class="row mt-2">
            <div class="col-md-2">
                <div class="form-group row">
                    <div class="col-md-12">
                        <label for="inputPassword" class="col-form-label digi-label">Policy Type</label>
                        <select class="form-control" [(ngModel)]="this.customerDetailHolder.policyTypeId">
                            <option *ngFor="let policyType of this.policyTypeList" value="{{policyType.policyTypeId}}">
                                {{policyType.typeDescription}}
                            </option>
                        </select>
                    </div>
                </div>

            </div>
            <div class="col-md-3">
                <div class="form-group row">
                    <div class="col-md-12">
                        <label for="inputPassword" class="col-form-label digi-label">Holder Name</label>
                        <input type="text" class="form-control" [(ngModel)]="this.customerDetailHolder.fullName">
                    </div>
                </div>

            </div>
            <div class="col-md-3">
                <div class="form-group row">
                    <div class="col-md-12">
                        <label for="inputPassword" class="col-form-label digi-label">Policy Number</label>
                        <input type="text" class="form-control" [(ngModel)]="this.customerDetailHolder.policyNumber">
                    </div>
                </div>

            </div>
            <div class="col-md-2">
                <label for="inputPassword" class="col-form-label digi-label">Items per page</label>
                <select class="form-control" (change)="initialChoosePolicyType()" [(ngModel)]="this.pageSize">
                    <option value="10" selected="selected">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                    <option value="500">500</option>
                    <option value="1000">1000</option>
                </select>
            </div>
            <div class="col-md-2">
                <div class="row">
                    <div class="col-md-12"><label for="inputPassword" class="col-form-label digi-label">&nbsp;</label></div>
                    <div class="col-md-12"><button class="btn btn-digi" (click)="initialChoosePolicyType()"><i class="fa fa-search"></i> Search</button></div>
                </div>
            </div>
        </div>
        <div class="table-responsive" *ngIf="this.customerList.length > 0">
            <table class="table table-condensed table-hover table-small">
                <thead>
                    <td>Holder ID</td>
                    <td>Holder Name</td>
                    <td>Policy Number</td>
                    <td *ngIf="this.showHideMasterPolicy == 'show'">Master Policy Number</td>
                    <td>Policy Date Added</td>
                    <td>Status</td>
                    <td></td>
                </thead>
                <tbody>
                    <tr *ngFor="let customer of this.customerList">
                        <td>{{customer.customerDetails.customerId}}</td>
                        <td>{{customer.customerDetails.fullName}}</td>
                        <td>{{customer.customerDetails.policyNumber}}</td>
                        <td *ngIf="this.showHideMasterPolicy == 'show'">{{customer.customerDetails.masterPolicyNumber}}</td>
                        <td>{{customer.customerDetails.policyDateAdded}}</td>
                        <td>{{customer.customerDetails.policyStatusDescription}}</td>
                        <td>

                            <button type="button" class="btn btn-digi btn-sm" (click)="openMoreInfo(customer)"><i class="fa fa-eye"></i></button>&nbsp;
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row mt-5">
            <div class="col-md-12 text-center">

                <div class="btn-group" role="group" aria-label="Button group with nested dropdown" *ngIf="this.customerList.length > 0">
                  <button type="button" class="btn btn-secondary" (click)="choosePolicyType('0')"><i class="fa fa-chevron-left"></i>
                        <i class="fa fa-chevron-left"></i></button>
                  <button type="button" class="btn btn-secondary" (click)="choosePolicyType(this.currentPage - 2)"><i class="fa fa-chevron-left"></i></button>

                  <div class="btn-group" role="group">
                    <button id="btnGroupDrop1" type="button" class="btn btn-digi" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                       {{this.currentPage}} <i class="fa fa-chevron-down"></i>
                    </button>
                    <div class="dropdown-menu dropdown-head" aria-labelledby="btnGroupDrop1">
                      <a class="dropdown-item" *ngFor="let pocPage of this.pageLength; let i = index" (click)="choosePolicyType(i)" >{{pocPage}}</a>
                    </div>
                  </div>

                  <button type="button" class="btn btn-secondary" (click)="choosePolicyType(this.currentPage)"><i class="fa fa-chevron-right"></i></button>
                  <button type="button" class="btn btn-secondary" (click)="choosePolicyType(this.pageLength.length - 1)"><i class="fa fa-chevron-right"></i><i class="fa fa-chevron-right"></i></button>

                </div>
                
            </div>
        </div>
        
        
    </div>

    <div *ngIf="this.templateRouter == 'viewCustomer'">
        <div class="row" id="issuePolicy">

            <div class="col-md-12">

                <div class="row">
                    <div class="col-md-12">
                        <button *ngIf="this.isMaster == '1'" class="btn btn-digi" (click)="this.openMoreInfo(this.previousMasterPolicy)"><i class="fa fa-chevron-left"></i></button>
                        <button *ngIf="this.isMaster == '0'" class="btn btn-digi" (click)="backPage('')"><i class="fa fa-chevron-left"></i></button>

                        <button *ngIf="this.allCustomerDetailsSingle.customerDetails.policyTypeId == '1' && this.allCustomerDetailsSingle.customerDetails.policyStatusId !== '1'&& this.allCustomerDetailsSingle.customerDetails.policyStatusId !== '5' && (this.auth.getUserType() == 'IC' || this.auth.getUserType() == 'ICSS')" class="btn btn-digi pull-right ml-3" (click)="enableDisableIssuance('5')"><i class="fa fa-times"></i> Disable Issuance</button>

                        <button *ngIf="this.allCustomerDetailsSingle.customerDetails.policyTypeId == '1' && this.allCustomerDetailsSingle.customerDetails.policyStatusId == '5' && this.auth.getUserType() == 'IC' && this.auth.getUserType() == 'ICSS'" class="btn btn-digi pull-right ml-3" (click)="enableDisableIssuance('2')"><i class="fa fa-check"></i> Enable Issuance</button>

                        <button *ngIf="this.allCustomerDetailsSingle.customerDetails.policyTypeId == '1' && this.allCustomerDetailsSingle.customerDetails.policyStatusId !== '1' && this.allCustomerDetailsSingle.customerDetails.policyStatusId !== '5' && this.auth.getUserType() !== 'MA' && this.auth.getUserType() !== 'ICA'" class="btn btn-digi pull-right ml-3" (click)="issuePOCPolicy()"><i class="fa fa-user-plus"></i> Add Enrollee</button>

                        <button *ngIf="this.allCustomerDetailsSingle.customerDetails.policyStatusId == '2' || this.allCustomerDetailsSingle.customerDetails.policyStatusId == '3'" class="btn btn-digi pull-right ml-3" (click)="emailPolicy(this.allCustomerDetailsSingle.customerDetails.policyTypeId)"><i class="fa fa-envelope"></i> Email {{this.allCustomerDetailsSingle.customerDetails.policyTypeDescription}}</button>

                        <button *ngIf="this.allCustomerDetailsSingle.customerDetails.policyStatusId == '2' || this.allCustomerDetailsSingle.customerDetails.policyStatusId == '3'" class="btn btn-digi pull-right ml-3" (click)="printPDF(this.allCustomerDetailsSingle.customerDetails.policyTypeId)"><i class="fa fa-print"></i> Print {{this.allCustomerDetailsSingle.customerDetails.policyTypeDescription}}</button>

                        <button *ngIf="this.allCustomerDetailsSingle.customerDetails.policyTypeId == '2' && (this.allCustomerDetailsSingle.customerDetails.policyStatusId == '2' || this.allCustomerDetailsSingle.customerDetails.policyStatusId == '3') && this.auth.getUserType() !== 'MA'"  data-toggle="modal" data-target="#modalRequestCancellation" class="btn btn-digi pull-right ml-3" (click)="requestCancellation()"><i class="fa fa-times"></i> Request Cancellation</button>

                        <button *ngIf="this.allCustomerDetailsSingle.customerDetails.policyTypeId == '2' && (this.allCustomerDetailsSingle.customerDetails.policyStatusId == '2') && this.auth.getUserType() !== 'MA'" class="btn btn-digi pull-right ml-3" (click)="requestEndorsement()"><i class="fa fa-pencil"></i> Request Endorsement</button>

                        <button *ngIf="this.allCustomerDetailsSingle.customerDetails.policyTypeId == '2' && (this.allCustomerDetailsSingle.customerDetails.policyStatusId == '2') && (this.auth.getUserRole() == '9' || this.auth.getUserRole() == '2') && this.auth.getUserType() !== 'MA'" class="btn btn-digi pull-right ml-3" (click)="updateDetails()"><i class="fa fa-pencil"></i> Update Details</button>

                        <button *ngIf="this.allCustomerDetailsSingle.customerDetails.policyStatusId == '1' && this.auth.getUserType() !== 'MA'" class="btn btn-digi pull-right ml-3" (click)="submitIssueDraftPolicy()"><i class="fa fa-paper-plane"></i> Issue Policy</button>
                        
                    </div>
                </div>

            </div>

        </div>


        <div class="card mt-3">
          <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <span class="profile-name">
                        {{this.allCustomerDetailsSingle.customerDetails.fullName}}

                        <span class="pull-right" *ngIf="this.allCustomerDetailsSingle.customerDetails.naturalFlag == '1'">
                            <i class="fa fa-venus text-danger" *ngIf="this.allCustomerDetailsSingle.customerDetails.gender == '2'"></i>
                            <i class="fa fa-mars text-info" *ngIf="this.allCustomerDetailsSingle.customerDetails.gender == '1'"></i>
                        </span>


                    </span>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-md-12">
                            <label for="policyNumber" class="col-form-label digi-label font-weight-bold">Customer Type</label>
                            <div id="policyNumber">{{this.allCustomerDetailsSingle.customerDetails.typeDescription}}</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3" *ngIf="this.allCustomerDetailsSingle.customerDetails.naturalFlag == '0' && this.allCustomerDetailsSingle.paymentTermDetails.length > 0">
                    <div class="row">
                        <div class="col-md-12">
                            <label for="policyNumber" class="col-form-label digi-label font-weight-bold">Credit Term</label>
                            <div id="policyNumber">{{this.allCustomerDetailsSingle.paymentTermDetails[0].termInDay}} Days Credit Term</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-md-12">
                            <label for="policyNumber" class="col-form-label digi-label font-weight-bold">Date Added</label>
                            <div id="policyNumber">{{this.formattedDate}}</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3" *ngIf="this.allCustomerDetailsSingle.customerDetails.customerTypeId == '3'">
                    <div class="row">
                        <div class="col-md-12">
                            <label for="policyNumber" class="col-form-label digi-label font-weight-bold">Agent Code</label>
                            <div id="policyNumber">{{this.allCustomerDetailsSingle.customerDetails.customerId}}</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3" *ngIf="this.allCustomerDetailsSingle.customerDetails.customerTypeId == '1'">
                    <div class="row">
                        <div class="col-md-12">
                            <label for="policyNumber" class="col-form-label digi-label font-weight-bold">Occupation</label>
                            <div id="policyNumber">{{this.allCustomerDetailsSingle.customerDetails.occupation}}</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3" *ngIf="this.allCustomerDetailsSingle.customerDetails.areaOfDeploymentId && this.allCustomerDetailsSingle.customerDetails.customerTypeId == '1'">
                    <div class="row">
                        <div class="col-md-12">
                            <label for="policyNumber" class="col-form-label digi-label font-weight-bold">Area of Deployment</label>
                            <div id="policyNumber">{{this.allCustomerDetailsSingle.customerDetails.areaOfDeployment}}</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-md-12">
                            <label for="policyNumber" class="col-form-label digi-label font-weight-bold">Status</label>
                            <div id="policyNumber">{{this.allCustomerDetailsSingle.customerDetails.policyStatusDescription}}</div>
                        </div>
                    </div>
                </div>

            </div>


          </div>
          <ul class="list-group list-group-flush">

            <li class="list-group-item">
                <h5>Policy Details</h5>
                <div class="card card-digi mt-3">
                    <div class="card-header accordion-header" id="heading-policy-one-view" data-toggle="collapse" data-target="#collapse-policy-one-view" aria-expanded="false" aria-controls="collapse-policy-one-view" (click)="openAccordion('heading-policy-one-view')">
                        <h6 class="mb-0">
                            <i class="fa fa-copy"></i> Policy Details <span class="pull-right"><i class="fa fa-chevron-up"></i></span>
                        </h6>
                    </div>
                    <div class="card-body collapse show show" id="collapse-policy-one-view">

                        <div class="row">
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label for="policyNumber" class="col-form-label digi-label font-weight-bold">Policy Number</label>
                                        <div id="policyNumber">{{this.allCustomerDetailsSingle.customerDetails.policyNumber}}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label for="policyType" class="col-form-label digi-label font-weight-bold">Policy Type</label>
                                        <div id="policyType">{{this.allCustomerDetailsSingle.customerDetails.policyTypeDescription}}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label for="policyType" class="col-form-label digi-label font-weight-bold">Master Policy</label>
                                        <div id="policyType">
                                            <span *ngIf="this.allCustomerDetailsSingle.customerDetails.policyTypeId == '2'">{{this.allCustomerDetailsSingle.customerDetails.masterPolicyNumber}}</span>
                                            <span *ngIf="this.allCustomerDetailsSingle.customerDetails.policyTypeId == '1'">N/A</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label for="policyNumber" class="col-form-label digi-label font-weight-bold">Date Added</label>
                                        <div id="policyNumber">{{this.allCustomerDetailsSingle.customerDetails.policyDateAdded}}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label for="policyType" class="col-form-label digi-label font-weight-bold">Effectivity Date</label>
                                        <div id="policyType">{{this.allCustomerDetailsSingle.customerDetails.effectivityDate}}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label for="policyType" class="col-form-label digi-label font-weight-bold">Expiry Date</label>
                                        <div id="policyType">
                                            <span *ngIf="this.allCustomerDetailsSingle.customerDetails.policyTypeId == '2'">{{this.allCustomerDetailsSingle.customerDetails.expiryDate}}</span>
                                            <span *ngIf="this.allCustomerDetailsSingle.customerDetails.policyTypeId == '1'">N/A</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label for="policyNumber" class="col-form-label digi-label font-weight-bold">Validity in Months</label>
                                        <div id="policyNumber">{{this.allCustomerDetailsSingle.customerDetails.coverageTermInMonth}} Months</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label for="policyType" class="col-form-label digi-label font-weight-bold">Premium Amount</label>
                                        <div id="policyType">
                                            <span *ngIf="this.allCustomerDetailsSingle.customerDetails.policyTypeId == '2'">{{this.allCustomerDetailsSingle.customerDetails.premiumAmount}}</span>
                                            <span *ngIf="this.allCustomerDetailsSingle.customerDetails.policyTypeId == '1'">N/A</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label for="policyType" class="col-form-label digi-label font-weight-bold">Product</label>
                                        <div id="policyType">{{this.allCustomerDetailsSingle.customerDetails.productDescription}}
                                        <span *ngIf="this.allCustomerDetailsSingle.customerDetails.policyTypeId !== '1'"> ({{this.allCustomerDetailsSingle.customerDetails.pocBased}})</span> 
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>



                    </div>
                </div>

                <div class="card card-digi mt-3" *ngIf="this.POCListUnderMaster.length > 0">
                    <div class="card-header accordion-header" id="heading-product-coveragess-list" data-toggle="collapse" data-target="#collapse-product-coveragess-list" aria-expanded="false" aria-controls="collapse-product-coveragess-list" (click)="openAccordion('heading-product-coveragess-list')">
                        <h6 class="mb-0">
                            <i class="fa fa-list"></i> Proof of Cover <span class="pull-right"><i class="fa fa-chevron-down"></i></span>
                        </h6>
                    </div>
                    <div class="card-body collapse show" id="collapse-product-coveragess-list">
                        <div class="row">
                            <div class="col-md-12">

                                <table class="table   table-condensed table-small">
                                    <thead>
                                        <td>Holder</td>
                                        <td>Number</td>
                                        <td>Issuance Date</td>
                                        <td></td>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let poc of this.POCListUnderMaster">
                                            <td>{{poc.customerDetails.fullName}}</td>
                                            <td>{{poc.customerDetails.policyNumber}}</td>
                                            <td>{{poc.customerDetails.policyDateAdded}}</td>
                                            <td><button class="btn btn-digi" (click)="openMoreInfoPOC(poc)"><i class="fa fa-eye"></i></button></td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>


                    </div>
                </div>

                <div class="card card-digi mt-3" *ngIf="this.productCoveragesListA.length > 0 && this.productCoveragesListB.length > 0">
                    <div class="card-header accordion-header" id="heading-product-coverages-list" data-toggle="collapse" data-target="#collapse-product-coverages-list" aria-expanded="false" aria-controls="collapse-product-coverages-list" (click)="openAccordion('heading-product-coverages-list')">
                        <h6 class="mb-0">
                            <i class="fa fa-list"></i> Product Coverages <span class="pull-right"><i class="fa fa-chevron-down"></i></span>
                        </h6>
                    </div>
                    <div class="card-body collapse show" id="collapse-product-coverages-list">
                        <div class="row">
                            <div class="col-md-6">

                                <table class="table   table-condensed table-small">
                                    <thead>
                                        <td>Coverage</td>
                                        <td>Benefit</td>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let productCover of productCoveragesListA">
                                            <td>{{productCover.type_name}}</td>
                                            <td>{{productCover.type_description}}</td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                            <div class="col-md-6">

                               <table class="table   table-condensed table-small">
                                    <thead>
                                        <td>Coverage</td>
                                        <td>Benefit</td>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let productCover of productCoveragesListB">
                                            <td>{{productCover.type_name}}</td>
                                            <td>{{productCover.type_description}}</td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>


                    </div>
                </div>

                <div class="card card-digi mt-3">
                    <div class="card-header accordion-header" id="heading-policy-two-view" data-toggle="collapse" data-target="#collapse-policy-two-view" aria-expanded="false" aria-controls="collapse-policy-two-view" (click)="openAccordion('heading-policy-two-view')">
                        <h6 class="mb-0">
                            <i class="fa fa-copy"></i> Agent Details <span class="pull-right"><i class="fa fa-chevron-down"></i></span>
                        </h6>
                    </div>
                    <div class="card-body collapse show" id="collapse-policy-two-view">

                        <div class="row mt-3">
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label for="policyNumber" class="col-form-label digi-label font-weight-bold">Agent Code</label>
                                        <div id="policyNumber">{{this.allCustomerDetailsSingle.customerDetails.agentCode}}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label for="policyType" class="col-form-label digi-label font-weight-bold">Agent Name</label>
                                        <div id="policyType">{{this.allCustomerDetailsSingle.customerDetails.agentFullName}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </li>
            <li class="list-group-item">
                <h5>Customer Details</h5>
                <div class="card card-digi mt-3" *ngIf="this.allCustomerDetailsSingle.attributeDetails.length > 0">
                    <div class="card-header accordion-header" id="heading-customer-one-view" data-toggle="collapse" data-target="#collapse-customer-one-view" aria-expanded="false" aria-controls="collapse-customer-one-view" (click)="openAccordion('heading-customer-one-view')">
                        <h6 class="mb-0">
                            <i class="fa fa-list"></i> Additional Attributes <span class="pull-right"><i class="fa fa-chevron-down"></i></span>
                        </h6>
                    </div>
                    <div class="card-body collapse show" id="collapse-customer-one-view">

                        <table class="table table-small   table-hover table-condensed">
                            <thead>
                                <tr>
                                    <td>Type</td>
                                    <td>Attribute Detail</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let attrib of this.allCustomerDetailsSingle.attributeDetails">
                                    <td>{{attrib.description}}</td>
                                    <td>{{attrib.attributeValue}}</td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="card card-digi mt-3">
                            <div class="card-header accordion-header" id="heading-customer-two-view" data-toggle="collapse" data-target="#collapse-customer-two-view" aria-expanded="false" aria-controls="collapse-customer-two-view" (click)="openAccordion('heading-customer-two-view')">
                                <h6 class="mb-0">
                                    <i class="fa fa-map-marker"></i> Address <span class="pull-right"><i class="fa fa-chevron-down"></i></span>
                                </h6>
                            </div>
                            <div class="card-body collapse show" id="collapse-customer-two-view">

                                <table class="table table-small   table-condensed">
                                    <thead>
                                        <th>Type</th>
                                        <th>Details</th>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let address of this.allCustomerDetailsSingle.addressDetails">
                                            <td>{{address.addressType}}</td>
                                            <td>{{address.addressDetails}} Brgy. {{address.barangayDetail}}, {{address.municipalityDetail}}  {{address.provinceDetail}} {{address.zipCode}}</td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card card-digi mt-3">
                            <div class="card-header accordion-header" id="heading-customer-three-view" data-toggle="collapse" data-target="#collapse-customer-three-view" aria-expanded="false" aria-controls="collapse-customer-three-view" (click)="openAccordion('heading-customer-three-view')">
                                <h6 class="mb-0">
                                    <i class="fa fa-phone"></i> Contact <span class="pull-right"><i class="fa fa-chevron-down"></i></span>
                                </h6>
                            </div>
                            <div class="card-body collapse show" id="collapse-customer-three-view">

                                <table class="table table-small   table-condensed">
                                    <thead>
                                        <th>Type</th>
                                        <th>Details</th>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let contact of this.allCustomerDetailsSingle.contactDetails">
                                            <td>{{contact.typeDescription}}</td>
                                            <td>{{contact.detail}} </td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>



            </li>
          </ul>
        </div>

    </div>

    <div *ngIf="this.templateRouter == 'issuePOCPolicy'">

        <div class="row">

            <div class="col-md-12">

                <div class="row">
                    <div class="col-md-12">
                        <button class="btn btn-digi" (click)="backPage('initialize')"><i class="fa fa-chevron-left"></i></button>
                        <button *ngIf="this.policyDetails.agentCode && this.issuanceDetailsHeader != ''" class="btn btn-digi pull-right ml-3" (click)="submitIssuePolicy('issue')"><i class="fa fa-paper-plane"></i> Submit Policy</button>
                        <button *ngIf="this.policyDetails.agentCode && this.issuanceDetailsHeader == ''" class="btn btn-digi pull-right ml-3" (click)="submitUpdatePolicy()"><i class="fa fa-paper-plane"></i> Submit Policy</button>
                        <button  *ngIf="this.policyDetails.customerId && this.issuanceDetailsHeader != ''" class="btn btn-digi pull-right hidden" (click)="submitIssuePolicy('draft')"><i class="fa fa-save"></i> Save as Draft</button>
                    </div>
                </div>

            </div>

        </div>

        <div class="card card-digi mt-3">
            <div class="card-header accordion-header" >
              <h6 class="mb-0">
                <span id="main-details-holder">{{this.issuanceDetailsHeader}}Policy Details</span> <span class="pull-right"><i class="fa fa-chevron-up"></i></span>
              </h6>
            </div>

              <div class="card-body">

                <div class="form-group">
                    <div class="row">
                            <div class="col-md-3">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label for="policyNumber" class="col-form-label digi-label font-weight-bold">Policy Number</label>
                                        <div id="policyNumber">{{this.allCustomerDetailsSingle.customerDetails.policyNumber}}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label for="policyType" class="col-form-label digi-label font-weight-bold">Policy Holder</label>
                                        <div id="policyType">{{this.allCustomerDetailsSingle.customerDetails.fullName}}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label for="policyNumber" class="col-form-label digi-label font-weight-bold">Agent Code</label>
                                        <div id="policyNumber">{{this.allCustomerDetailsSingle.customerDetails.agentCode}}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label for="policyType" class="col-form-label digi-label font-weight-bold">Agent Name</label>
                                        <div id="policyType">{{this.allCustomerDetailsSingle.customerDetails.agentFullName}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                </div>

              </div>

          </div>

        <div class="card card-digi mt-3" *ngIf="this.issuanceDetailsHeader == 'Master '">
            <div class="card-header accordion-header" >
              <h6 class="mb-0">
                <span id="main-details-holder">Policy Holder Details</span> <span class="pull-right"><i class="fa fa-chevron-up"></i></span>
              </h6>
            </div>

              <div class="card-body">

                <div class="form-group">
                    <div class="row">

                        <div class="col-md-12" *ngIf="this.policyDetails.fullName !== ''">
                            <div class="row">
                                <div class="col-md-12">
                                    <label for="policyNumber" class="col-form-label digi-label font-weight-bold">Policy Holder Name</label>
                                    <div id="policyNumber">{{this.policyDetails.fullName}}</div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <button class="btn btn-digi" id="add-holder-btn" (click)="showAddHolder()"><i class="fa fa-user-plus"></i> Choose Policy Holder</button>

                <div class="form-group hidden" id="add-holder">

                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-4">
                                
                                <div class="row mb-3">
                                    <div class="col-md-10">
                                        <label for="agentCode" class="col-form-label digi-label">Search Policy Holder</label>
                                        <input type="text" id="agentCode" class="form-control" placeholder="Policy Holder Name" [(ngModel)]="this.holderSearch">
                                    </div>
                                    <div class="col-md-2">
                                        <div class="row">
                                            <div class="col-md-12"><label for="agentCode" class="col-form-label digi-label">&nbsp;</label></div>
                                            <div class="col-md-12"><button class="btn btn-digi" type="button" (click)="searchHolder()"><i class="fa fa-search"></i></button></div>
                                        </div>
                                        
                                    </div>
                                </div>

                                

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">

                                <div class="table-responsive table-height-200">
                                    <table class="table table-condensed table-hover table-small">
                                        <thead>
                                            <td>Fullname</td>
                                            <td>Customer Type</td>
                                            <td></td>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let customer of this.customerListIssuance">
                                                <td>{{customer.customerDetails.fullName}}</td>
                                                <td>{{customer.customerDetails.typeDescription}}</td>
                                                <td>
                                                    <button class="btn btn-digi" title="Choose Policy Holder" (click)="chooseHolder(customer.customerDetails)"><i class="fa fa-check"></i></button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                
                            </div>
                            
                        </div>

                    </div>
                    
                </div>

                

              </div>

          </div>

        <div class="card card-digi mt-3" *ngIf="this.issuePolicyShowFields == 'show'">
            <div class="card-header accordion-header" >
              <h6 class="mb-0">
                <span id="main-details-holder">Policy Details</span> <span class="pull-right"><i class="fa fa-chevron-up"></i></span>
              </h6>
            </div>

              <div class="card-body">

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-12">
                                    <label for="aod" class="col-form-label digi-label">Area of Deployment <span class="text-danger hidden" id="aod-error"><i>*For underwriting approval</i></span></label>
                                    <select id="aod" class="form-control" (change)="checkForUnderwriting('3')" [(ngModel)]="this.policyDetails.areaOfDeploymentId">
                                        <option value="0" selected="selected" disabled="disabled">Choose Area of Deployment</option>
                                        <option *ngFor="let country of this.countryList" value="{{country.countryId}}">
                                                {{country.name}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-12">
                                    <label for="policyType" class="col-form-label digi-label">Product Variant</label>
                                    <select id="policyType" class="form-control" [(ngModel)]="this.policyDetails.pocBased" (change)="chooseProduct()">
                                        <option value="0" selected="selected" disabled="disabled">Choose Based</option>
                                        <option value="Land">Land Based</option>
                                        <option value="Sea">Sea Based</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div *ngIf="this.issuePolicyShowFields == 'show'">
                        <div class="row mt-3">
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label for="effectivityDate" class="col-form-label digi-label">Effectivity Date <span class="text-danger hidden" id="retro-error"><i>*For underwriting approval</i></span></label>
                                        <input type="date" id="effectivityDate" (change)="checkForUnderwriting('4')" class="form-control" id="company-birth" [(ngModel)]="this.policyDetails.effectivityDate">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label for="termInMonth" class="col-form-label digi-label">Term</label>
                                        <input type="number" id="termInMonth" class="form-control" placeholder="Term in months" (change)="chooseProduct()" [(ngModel)]="this.policyDetails.termInMonth">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label for="premium_amount" class="col-form-label digi-label">Premium Amount (USD)</label>
                                        <input type="number" id="premium_amount" class="form-control" placeholder="0.00" [(ngModel)]="this.policyDetails.premiumAmount" readonly="readonly">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card card-digi mt-3" *ngIf="this.productCoveragesList.length > 0">
                            <div class="card-header accordion-header" id="heading-customer-three-view" data-toggle="collapse" data-target="#collapse-product-coverages-list" aria-expanded="false" aria-controls="collapse-product-coverages-list">
                                <h6 class="mb-0">
                                    <i class="fa fa-list"></i> Product Coverages <span class="pull-right"><i class="fa fa-chevron-down"></i></span>
                                </h6>
                            </div>
                            <div class="card-body collapse show show" id="collapse-product-coverages-list">

                                <table class="table   table-condensed table-small">
                                    <thead>
                                        <td>Coverage</td>
                                        <td>Benefit</td>
                                        <td>Line</td>
                                        <td>Subline</td>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let productCover of productCoveragesList">
                                            <td>{{productCover.type_name}}</td>
                                            <td>{{productCover.type_description}}</td>
                                            <td>{{productCover.line_description}}</td>
                                            <td>{{productCover.subline_description}}</td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>

                    </div>

                </div>

              </div>

          </div>

          <div class="card card-digi mt-3" *ngIf="this.issuePolicyShowFields == 'show' && this.issuanceDetailsHeader == 'Master '">
            <div class="card-header accordion-header" >
              <h6 class="mb-0">
                <span id="main-details-holder">Beneficiary Details</span> <span class="pull-right"><i class="fa fa-chevron-up"></i></span>
              </h6>
            </div>

              <div class="card-body">

                <div class="row" *ngIf="this.finalBeneficiaryList.length > 0">
                    <div class="col-md-12">
                        <h5>POC Beneficiary</h5>
                        <div class="table-responsive table-height-200">
                            <table class="table table-condensed table-hover table-small">
                                <thead>
                                    <td>Fullname</td>
                                    <td>Customer Type</td>
                                    <td></td>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let customer of this.finalBeneficiaryList">
                                        <td>{{customer.customerDetails.fullName}}</td>
                                        <td>{{customer.customerDetails.typeDescription}}</td>
                                        <td>
                                            <button class="btn btn-digi" title="Add as Beneficiary" (click)="removeBeneficiary(customer)"><i class="fa fa-times"></i> Remove Beneficiary</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <button class="btn btn-digi" id="add-beneficiary-btn" (click)="showAddBeneficiary()"><i class="fa fa-user-plus"></i> Add beneficiary</button>

                <div class="form-group hidden" id="add-beneficiary">
                    <div class="row">

                        <div class="col-md-12">
                            <hr>
                            <div class="row mb-3">
                                <div class="col-md-4">
                                    <label for="agentCode" class="col-form-label digi-label">Search Beneficiary</label>
                                    <input type="text" id="agentCode" class="form-control" placeholder="Beneficiary Name" [(ngModel)]="this.beneficiarySearch">
                                </div>
                                <div class="col-md-1">
                                    <div class="row">
                                        <div class="col-md-12"><label for="agentCode" class="col-form-label digi-label">&nbsp;</label></div>
                                        <div class="col-md-12"><button class="btn btn-digi" type="button" (click)="searchBeneficiary()"><i class="fa fa-search"></i></button></div>
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="table-responsive table-height-200">
                                <table class="table table-condensed table-hover table-small">
                                    <thead>
                                        <td>Fullname</td>
                                        <td>Customer Type</td>
                                        <td></td>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let customer of this.beneficiaryList">
                                            <td>{{customer.customerDetails.fullName}}</td>
                                            <td>{{customer.customerDetails.typeDescription}}</td>
                                            <td>
                                                <button class="btn btn-digi" title="Add as Beneficiary" (click)="addBeneficiary(customer)"><i class="fa fa-user-plus"></i></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                    
                </div>

              </div>

          </div>



    </div>

</div>

<div class="modal fade" id="modalRequestCancellation" tabindex="-1" role="dialog" aria-labelledby="modalRequestCancellation" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header modal-header-digi">
            <h5 class="modal-title" id="exampleModalLongTitle">Cancellation Request</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

            <div class="form-group" *ngIf="this.inboxDetails.length > 0">
                <div class="row">
                    <div class="col-md-12">
                        <label for="fullname" class="digi-label">Reason for Cancellation</label>
                        <select class="form-control" [(ngModel)]="this.inboxDetails[0].detailValue">
                            <option disabled="disabled">Please choose a reason</option>
                            <option *ngFor="let crl of this.cancellationReasonList" value="{{crl.cancellation_reason_id}}">
                                {{crl.description}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-md-12">
                        <label for="fullname" class="digi-label">Remarks</label>
                        <input type="text" (change)="isDirty = true" class="form-control" id="coverage-name" [(ngModel)]="this.inboxRemarks.description">
                    </div>
                </div>
            </div>

            <div class="form-group" *ngIf="this.inboxDetails.length > 3">
                <div class="row">
                    <div class="col-md-12">
                        <label for="fullname" class="digi-label">Attachment Provided</label>
                        <input type="text" (change)="isDirty = true" class="form-control" id="attachment-provided" [(ngModel)]="this.inboxDetails[3].detailValue">
                    </div>
                </div>
            </div>

            <div class="form-group" *ngIf="this.inboxDetails.length > 2">
                <div class="row">
                    <div class="col-md-12">
                        <label for="fullname" class="digi-label">Requested By</label>
                        <input type="text" (change)="isDirty = true" class="form-control" id="requested-by" [(ngModel)]="this.inboxDetails[2].detailValue">
                    </div>
                </div>
            </div>

          </div>
          <div class="modal-footer">
            <button type="button" id="closeAlertCancellation" class="btn btn-digi" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-digi" (click)="requestCancellationSubmit()">Submit Request</button>
          </div>
        </div>
      </div>
    </div>
        